/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}
#fade{ width: 100%; height: 100%; background: #000; opacity: 0.8; position: fixed; left: 0; top: 0; z-index: 100; display: none;}
.fade-font{ width: 70%; margin: 0 auto; display: none;}
.fade-font img{ width:85%; position: absolute; left: 0; top: -190px; right: 0; bottom: 0; margin: auto; z-index: 9999;}
.wyd-moon-page{ width: 100%; height: 100%;}
/*------页面一------*/
.moon-bg-a{ width: 100%; height: 100%; background:url(../images/moon-bg1.jpg) center no-repeat; background-size: 100% 100%;}
.moon{ width: 65%; height:50%; background: url(../images/moon.png) no-repeat; background-size: 100%; margin: 2% auto 0; position: relative; z-index: 10;}
.moon-change{ width: 67%; margin: 0 auto;}
.moon-change img{ width: 100%; margin: 50px auto 0;}
.moon-yun{ width:180%; margin: -70% 0 0 -40%; position: relative; z-index: 100;}
.moon-yun-lt{ width: 50%; float: left; display: inline;}
.moon-yun-rt{ width: 50%; float: left; display: inline;}
.moon-people{ width: 35%; position: absolute; left: 50%; margin-left: -17%; bottom: 5%;}

.moon-font-a{ width: 80%; margin: 0 auto;}

.moon-jjys{ width: 70%; position: absolute; left: 50%; margin-left: -35%; bottom: 2%;}

.moon-zq{ width: 58%; position: absolute; left: 50%; margin-left: -35%; top: 8%; z-index: 100;}

/*---尾页---*/
.moon-finish{ width: 100%; height: 2500px; background:url(../images/finish-bg.jpg) center no-repeat; background-size: 100% 100%;}
.moon-finish-logo{ width: 50%; margin: 0 auto; padding: 20% 0;}
.moon-finish-int{ width: 86%; height: 35px; background: #ab1301; text-align: center; font: 20px/35px "微软雅黑"; color: #fff; border: 3px solid #6D0901; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;margin: 5% auto; cursor: pointer;}
.moon-finish-int a{ display: block; color: #fff;}
.moon-finish-int a:hover{ width: 100%; height: 50px;}
.moon-finish-font-bd{ width: 86%; margin: 0 auto;}
.moon-finish-font-bd p{ font: 14px/35px "微软雅黑"; color: #cec8c4; font-weight: normal; margin: 10px 0;}
.moon-finish-font-bd h1{ width: 166px; height: 48px; margin: 30px 0 10px; text-align: center; font: 16px/48px "微软雅黑"; color: #fff; background: url(../images/title.png) no-repeat;}





.wyd-jt{ width: 50px; height: 50px; position: absolute; bottom: 10px;z-index: 9999; background-size: 50px; left: 50%; margin-left: -25px;}
.wyd-jt img{ width: 23px; height: 15px;  margin: 15px 0 0 14px; animation: slide4 ease 1.5s both infinite; -webkit-animation: slide4 ease 1.5s both infinite;}
@-webkit-keyframes slide4 {
    0% { -webkit-transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes slide4 {
    0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}




























