@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
*{color:#666666;}
/* 登录 注册 */
.loginhead{width:100%; height:84px; /* background:url(../images/login_headBg.png) repeat-x; */ display:block;border-bottom: 1px solid #ddd;background-color:#f0f4f7}
.loginLogo{width:190px; height:64px; padding-right:10px; border-right:2px solid #d1d1d1; display:inline-block; margin-top:10px; overflow:hidden;}
.Logintitle{width:60px; width:auto; line-height:60px; margin-top:10px; font-size:36px; color:#a0a0a0; display:inline-block; overflow:hidden; margin-left:5px; vertical-align:top;}
.loginheadRtBox{width:auto; height:24px; line-height:24px; position:absolute; right:0px; bottom:10px; font-size:14px; color:#a0a0a0;}
.loginheadRtBox a{width:auto; line-height:24px; font-size:16px; color:#ff6c00; display:inline-block;}
.loginheadRtBox a:hover{ color:#51abff;}

.registerheadRtBox{width:auto; height:24px; line-height:24px; position:absolute; right:0px; bottom:10px; font-size:14px; color:#a0a0a0;}
.registerheadRtBox a{width:auto; line-height:24px; font-size:16px; color:#51abff; display:inline-block;}
.registerheadRtBox a:hover{ color:#ff6c00;}

.loginContent{width:100%; height:auto; background:#fff; position:relative;padding:20px 0}
.loginLeft{width:480px; height:auto; float:left; margin-top:30px;}
table.loginTable{width:350px; height:auto; color:#666666;margin:0 0 0 20px;}
table.loginTable td,.loginTable th{height:54px; line-height:54px; border:0px; vertical-align:middle;}
table.loginTable td{width:250px; padding-left:3px; position:relative;}
table.loginTable th{width:180px; text-align:right; font-size:16px; font-weight:normal;color:#444}
.loginTx{width:240px; height:25px; padding:7px; line-height:25px; border:0px; background:url(../images/loginTxBG.png) no-repeat; font-size:14px;}
.loginRadio{width:30px;padding:7px; font-size:16px;}
.loginTx.iconBg_1{background-position:0px 0px;}
.loginTx.iconBg_2{background-position:0px -68px;}
.loginTx2{width:160px; height:25px; padding:7px; line-height:25px; border:0px; background:url(../images/loginTxBG.png) no-repeat; font-size:14px;}
.loginTx2.iconBg_1{background-position:0px 0px;}
.loginTx2.iconBg_2{background-position:0px -68px;}
.userVf{width:200px; height:23px; padding:2px 10px; padding-left:30px; font-size:12px; line-height:23px; background:url(../images/loginTxBG.png) no-repeat; position:absolute; margin-top:5px; display:none;}
.Vf_P1{background-position:-140px -146px; border-right:1px solid #b9e3ff; color:#75c1ff;}
.Vf_P2{background-position:-140px -207px; border-right:1px solid #ffc7c7; color:#ff8365;}
.loginVftx{width:82px; height:25px; line-height:25px; padding:6px; background:url(../images/loginTxBG.png) no-repeat 0px -136px; border:0px; font-size:14px; display:inline-block;}
.loginVfImg{width:90px; height:34px; display:inline-block; margin:0px 5px; border:none; background:#CCC; vertical-align:top;}
.loginVfImg img{width:90px; height:34px; overflow:hidden; vertical-align:top;}
a.loginLinkA{color:#0391ff;}
a.loginLinkA:hover{color:#ff6600; text-decoration:underline;}

.loginBnt{width:109px; height:39px; text-align:center; display:inline-block; line-height:31px; background:url(../images/loginTxBG.png) no-repeat left -203px; border:0px; font-size:18px; color:#FFF; cursor:pointer;}
.registerBnt{width:149px; height:39px; text-align:center; display:inline-block; line-height:31px; background:url(../images/registerBnt.png) no-repeat left top; border:0px; font-size:16px; color:#FFF; cursor:pointer;}

.loginRight{width:480px; height:auto; float:right;}
.loginPrompt{height:auto; margin-top:40px; overflow:hidden;}
.loginPrompt span{width:auto; line-height:1.8; display:block; font-size:14px; font-weight:bold;}
.loginPrompt p{width:100%; line-height:1.5; display:block; text-indent:24px;}

.loginFooter{width:100%; height:50px; background:#555555; margin-top:30px;}
.loginFooter .w960px{color:#a6a6a6; text-align:center; line-height:50px;}

a.registerXY{width:auto; font-size:14px; color:#1598ff; display:inline-block; margin-left:3px;}
a.registerXY:hover{color:#ff660;}

.emptyhint{position:absolute;color:#a7a7a7;font-size:14px;top:9px;left:40px;z-index:3}
.login_holder{position:absolute;color:#a7a7a7;left:0;top:0;font-size:14px;margin-left:10px;line-height:40px;margin-top:7px;}

.login_1,.login_2,.login_3{display:block;width:24px;height:24px;background:url(../images/loginImg.png) no-repeat;float:left;margin:15px 3px 0 2px;}
.login_2{background-position:-32px 0px}
.login_3{background-position:-64px 0px}
.login_1:hover{background-position:-96px 0px}
.login_2:hover{background-position:-122px 0px}
.login_3:hover{background-position:-149px 0px}

/* 确定版登录注册css */
.loginbg{float:left;width:100%;height:747px;background: url(../images/loginbg.png) no-repeat 50% 50%;}
.logindiv{margin:0 auto;width:1000px;}
.loginbox{float:right;width:408px;height:305px;background: #fff;margin-top:58px;}
#myerrorshow{  float: left; width: 280px; height:28px; margin-top: 15px; margin-left: 63px; font-size: 14px;}
.loginbox ul{float:left;width:100%;}
.loginbox ul li{float:left;width:280px;margin-top:15px;margin-left:63px;font-size: 14px;}
.loginuser{float:left;color: #999;width:217px;height: 46px;background: url(../images/loginuser.jpg) no-repeat 13px 50%;border:1px solid #DADADA;border-radius:5px;line-height: 46px;padding-left:62px;}
.loginuser:focus{ border:1px solid #BA5E0C; color:#666; outline:none;}
.loginpwd{float:left;color: #999;width:217px;height: 46px;background: url(../images/loginpwd.jpg) no-repeat 16px 50%;border:1px solid #DADADA;border-radius:5px;line-height: 46px;padding-left:62px;}
.loginpwd:focus{border:1px solid #BA5E0C;color:#666; outline:none;}
.loginbtn{float:left; outline:none; background: url(../images/loginbtn.jpg) no-repeat;border:0;width:281px;height:47px;line-height: 47px;font-size: 21px;color: #fff;margin-top:10px;cursor: pointer;}
.logingou{float:left;margin-top:-0.5px; margin-right: 5px;}
.loginjizhu{float:left;color:#666;margin-left:5px;font-size: 12px;}
.loginzhuce{float:right;color: #D97618;font-size: 12px;border-left: 1px solid #DFD8CE;padding-left:5px;}
.loginwangji{float:right;color: #666;font-size: 12px;margin-right:5px;}
/* 注册  */
.registfbg{float:left;width:100%;background: url(../images/loginbg.png) no-repeat 50% 50%;height:747px;}
.registfzhegai{position: absolute;z-index: 1;width:100%;height:747px;background: #000;filter:alpha(opacity=50); opacity:0.5;*left:0;*top:155px;}
.registfzhukuang{position: absolute;z-index: 2;width: 100%;height:747px;*left:0;*top:155px; font-size: 14px;}
.registf{width:1000px;height:610px;margin: 25px auto 0;background: #fff;}
.registtopbg{float:left;background: url(../images/registstep1.jpg) no-repeat;width:926px;height:65px;margin-left:37px;margin-top:28px;}
.registtopbg ul{float:left;width: 784px;margin-left:110px;padding-top:34px;}
.registtopbg ul li{float:left;width: 220px;color: #A6A6A6;line-height: 28px;text-align: center;}
.reginstxinxilist{float:left;width:570px;margin-left:80px;margin-top:6px;}
.reginstxinxilist ul{float:left;width:807px;}
.reginstxinxilist ul li{float:left;width:807px;color: #666;margin-top:19px;height: 40px;line-height: 40px; font-size:14px;}
.registxinshu{width:206px;height:38px;line-height: 36px;color: #DADADA;border: 1px solid #DADADA;border-radius: 5px;padding-left:10px;}
.registxinshu:focus{border: 1px solid #BA5E0C;color: #666; outline:none;}
.registxing{color: #D97618;}
.registerror{background: url(../images/registstcha.jpg) no-repeat 0 50%; height:38px;line-height: 36px;vertical-align: middle;color: #666;line-height: 38px;padding-left: 20px;margin-left:15px;float:left;}
.registright{background: url(../images/registstgou.jpg) no-repeat 0 50%;height:38px;color: #666;line-height: 36px;padding-left: 20px;margin-left:15px;font-size: 12px;}
.registzijianone{letter-spacing: 0.3em;}
.registxinshuyan{width:96px;height:38px;line-height: 36px;color: #DADADA;border: 1px solid #DADADA;border-radius: 5px;padding-left:10px;}
.registxinshuyan:focus{border: 1px solid #BA5E0C;color: #666; outline:none;}
.registxinshubtn{margin-left:5px;background: #AB6D20;border: 0;border-radius: 5px;width:100px;height:38px;line-height: 38px;text-align: center;color: #fff;cursor: pointer;outline:none;}
.registxingbai{color:#fff;}
.registzijiantwo{letter-spacing: 2em;}
.registsttiao{color: #AB6D20;}
.registsttiaogou{margin-left:87px;margin-right: 5px;float: left;margin-top: 14px;}
.registstbtn{margin-left:87px;float: left;background: #DE7C21;border: 0;border-radius: 5px;width:140px;height:36px;line-height: 36px;text-align: center;color: #fff;cursor: pointer;outline:none;}
.registstrightbg{float:right;background: url(../images/registsbg.jpg) no-repeat;width:300px;height:294px;margin-right: 48px;margin-top:145px;}
.reginststeptwo{float:left;width:926px;display:none;}
.reginststeptwo ul{float:left;width:926px;}
.reginststeptwo ul li{float:left;width:926px;text-align: center;}
.reginststtone{color: #AB6D20;font-size: 23px;font-weight: bold;margin-top: 66px;}
.reginststttwo{color: #666;margin-top: 52px;}
.reginststtthree{display:block;margin:48px auto 0;background: #DE7C21;border-radius: 5px;width:235px;height:42px;line-height: 42px;font-size:21px;text-align: center;color: #fff;}
.reginststtfour{color: #666;margin-top: 52px;width:140px;float: left;margin-left:198px;height:81px;line-height: 81px;}
.reginststtfive{float:left;width:234px;height:81px;background: url(../images/registhuifu.jpg) no-repeat;margin-top:52px;margin-left: 7px;}
.reginststepthree{float:left;width:926px;}
.reginststepthree ul{float:left;width:926px;}
.reginststepthree ul li{float:left;width:926px;text-align: center;}
.registstepthreeone{color: #AB6D20;font-size: 23px;font-weight: bold;margin-top: 98px;}
.registstepthreetwo{color: #666;margin-top: 52px;}
.registstepthreethree{display:block;margin:48px auto 0;background: #DE7C21;border-radius: 5px;width:235px;height:42px;line-height: 42px;font-size:21px;text-align: center;color: #fff;}
.registstepthreefour{color: #FE6600;}
.registstepthreefive{color: #666;margin-top: 25px;}




