body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
body{ background:#FCF4E9;font-family:"微软雅黑";color:#333;}
img{border:none; display: inline-block;vertical-align: middle}
ul{list-style-type:none;padding: 0;margin:0;}
ul li{list-style-type:none;padding: 0;margin:0;}
input{padding:0;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.indextop{float:left;width:100%;background: #4C3F37;font-size: 12px;}
.indextopone{width:1000px;margin:0 auto;}
.indextopone ul{float:left;width:100%;}
.indextoplione{float:left;height:33px;line-height: 33px;color: #ccc;width:50%;}
.indextoplitwo{color: #FF4400;}
.indextoplithree{float:right;height:33px;line-height: 33px;color: #ccc;width:50%;text-align: right;}
.indextoplifour{background: url(../images/indexphone.jpg) no-repeat 0 50%;padding-left:20px;margin-right: 15px;color:#ccc;}
.indextoplifive{padding-left: 10px;padding-right: 10px;border-right: 1px solid #ccc;color: #ccc;}
.indextoplisix{padding-left: 10px;color: #ccc;}
.indexhead{width:100%;background: #fff;border-bottom: 2.5px solid #AB6D20;padding-top:30px;padding-bottom: 30px;height:60px;}
.indexheadone{width:1000px;margin:0 auto;padding-top: 20px;}
.indexheadone ul{float:left;width:100%;}
.indexheadlione{float:left;width:40%;}
.indexheadpicone{float:left;background: url(../images/indexlogo.jpg) no-repeat;width:132px;height:50px;}
.indexheadpictwo{float:left;background: url(../images/indexad.jpg) no-repeat 10px 50%;width:204px;height:35px;border-left: 2px solid #ccc;margin-left:10px;margin-top:10px;}
.indexheadlitwo{float:left;width:60%;margin-top:8px;height:35px;line-height: 35px;}
.indexheadlinkone{color:#AB6D20;float:left;font-size: 18px;margin-left:54px;}
.indexheadlinktwo{float:left;font-size: 18px;margin-left:30px;color:#AB6D20;}
.zizi{font-weight: bold;}
.relative{float:left;width:100%;height:410px;background: #fff;border-bottom: 1px solid #ccc;}
.slide_wrap {margin-bottom: 0;overflow: hidden;position: relative;width: 100%;height:410px;}
/*.switcher {margin: 12px auto 0;width: 150px;z-index: 10;left:48%;position: absolute;}
.switcher .cur {background:url(../images/pointMove.png) no-repeat;}
*/.slide_imglist { width:100%;height: 370px; overflow:hidden;}
.slide_imglist li {text-align: center;width: 100%; height: 370px; display:block;}


	  .relative .hd{ height:15px; position:absolute; left:48%; bottom:12px; z-index:1; }
	  .relative .hd ul{ overflow:hidden; zoom:1; float:left;  }
	  .relative .hd ul li{ float:left; margin-right:5px; border-radius:10px; border:1px solid #814600; width:12px; height:12px; line-height:14px; text-align:center; color:#fff; cursor:pointer;}
	  .relative .hd ul li.on{ background:#814600; color:#fff; border:1px solid #814600;}
	  
	  .relative .bd{ position:relative; height:100%; z-index:0;   }
	  .relative .bd li{ zoom:1; vertical-align:middle; }
	  .relative .bd img{ width:100%; height:370px; display:block;  }







.dengluzhuce{position:absolute;width:170px;margin-top: -51px;margin-left: 830px;*margin-top:-23px;margin-left:1240px\9;z-index: 10;}
.dengluzhuce ul{float:left;width:100%;}
.indexdenglu{float:left;width:80px;}
.indexdenglul{float:left;width:4px;height:30px;background: url(../images/landLeft.jpg) no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.indexdengluc{float:left;width:80px;height:30px;background: url(../images/landMid.png) no-repeat;line-height: 29px;text-align: center;color: #fff;font-size: 16px;margin-left:-1px;}
    } 
.indexdengluc{float:left;width:80px;height:30px;background: url(../images/landMid.png) no-repeat;line-height: 29px;text-align: center;color: #fff;font-size: 16px;}
.indexdenglur{float:left;width:4px;height:30px;background: url(../images/landRight.jpg) no-repeat;}
.indexzhuce{float:left;width:90px;}
.indexzhucel{float:left;width:4px;height:30px;background: url(../images/regLeft.jpg) no-repeat;}
.indexzhucec{margin-left:10px;float:left;width:80px;height:30px;background: url(../images/regMid.png) no-repeat;line-height: 30px;text-align: center;color: #B1752A;font-size: 14px;}
.indexzhucer{float:left;width:4px;height:31px;background: url(../images/regRight.jpg) no-repeat;}
.switcher a {background:url(../images/point.png) no-repeat;cursor: pointer;display: inline;float: left;height: 15px;margin-left: 7px;overflow: hidden;width: 15px;}
.floorone{float:left;width:100%;}
.contentone{width:1000px;margin:0 auto;padding-top:8px;height:28px; overflow:hidden;background: url(../images/horn.jpg) 0 8px no-repeat;}
.contentone ul{width:100%;float:left;}
.contentone ul li{ margin-bottom:8px;}
.onedetial{float:left;width:67%;padding-left:30px;height:20px;line-height: 20px;}
.onedetaillinkone{float: left;color:#AB6D20;font-size: 14px;}
.onedetialone{float:left;height:20px;line-height: 20px;color:#999;font-size: 15px;margin-left: 50px;}
.onedetaillinktwo{float:right;width:11px;height:20px;background: url(../images/arrowLeft.jpg) no-repeat 0 50%;margin-right: 10px;}
.onedetaillinkthree{float:right;width:11px;height:20px;background: url(../images/arrowRight.jpg) no-repeat 0 50%;}
.onedetialot{float:left;width:23%;}
.onedetaillinkfour{float:right;height:20px;line-height: 20px;font-size: 15px;color:#999;}
.floorzero{float:left;width:100%;margin-top:15px;}
.contentzero{width:1000px;margin:0 auto;background: #fff;height:60px;box-shadow: 3px 3px 10px #ccc;}
.contentzero ul{float:left;width:100%;}
.zerodetial{float:left;line-height: 60px;width:100%;}
.zerodetialone{float:left;width:30%;margin-left:30px;color:#999;}
.zerodetialtwo{color:#ab6d20;}
.zerodetialthree{float:left;width:30%;margin-left:35px;color:#999;}
.floortwo{float:left;width:100%;margin-top:15px;}
.contenttwo{width:1000px;margin:0 auto;background: #fff;height:255px;box-shadow: 3px 3px 10px #ccc;}
.contenttwoulone{width:22%;float:left;margin-top:30px;margin-left: 25px;}
.twoulonelione{float:left;width:100%;background: url(../images/you01bg.jpg) no-repeat 50% 50%;height:116px;}
.twoulonelione:hover{background: url(../images/you01.jpg) no-repeat 50% 50%;}
.twoulonelitwo{float:left;width:100%;text-align: center;font-size: 18px;color: #AB6D20;margin-top:20px;}
.twoulonelithree{float:left;width:100%;text-align: center;font-size: 13px;color: 6A6A6A;margin-top:10px;}
.contenttwoultwo{width:25%;float:left;margin-top:30px;}
.twoultwolione{float:left;width:100%;background: url(../images/you02.jpg) no-repeat 50% 50%;height:116px;}
.twoultwolione:hover{background: url(../images/you02bg.jpg) no-repeat 50% 50%;}
.twoultwolitwo{float:left;width:100%;text-align: center;font-size: 18px;color: #AB6D20;margin-top:20px;}
.twoultwolithree{float:left;width:100%;text-align: center;font-size: 13px;color: 6A6A6A;margin-top:10px;}
.contenttwoulthree{width:25%;float:left;margin-top:30px;}
.twoulthreelione{float:left;width:100%;background: url(../images/you03.jpg) no-repeat 50% 50%;height:116px;}
.twoulthreelione:hover{background: url(../images/you03bg.jpg) no-repeat 50% 50%;}
.twoulthreelitwo{float:left;width:100%;text-align: center;font-size: 18px;color: #AB6D20;margin-top:20px;}
.twoulthreelithree{float:left;width:100%;text-align: center;font-size: 13px;color: 6A6A6A;margin-top:10px;}
.contenttwoulfour{width:25%;float:left;margin-top:30px;}
.twoulfourlione{float:left;width:100%;background: url(../images/you04.jpg) no-repeat 50% 50%;height:116px;}
.twoulfourlione:hover{background: url(../images/you04bg.jpg) no-repeat 50% 50%;}
.twoulfourlitwo{float:left;width:100%;text-align: center;font-size: 18px;color: #AB6D20;margin-top:20px;}
.twoulfourlithree{float:left;width:100%;text-align: center;font-size: 13px;color: 6A6A6A;margin-top:10px;}
.floorthree{float:left;width:100%;margin-top:15px;}
.contentthree{width:1000px;margin:0 auto;background: #fff;height:323px;box-shadow: 3px 3px 10px #ccc;}
.threeulone{float:left;margin-top:30px;width:95%;margin-left:26px;border-bottom: 2px solid #f2f2f2;padding-bottom: 10px;}
.threeulonelione{float:left;font-size: 22px;color:#ab6d20;line-height: 20px;}
.threeulonelitwo{float:left;border-left: 2px solid #8d8d8e;margin-left:10px;padding-left:10px;line-height: 20px;color:#999;font-size: 14px;font-weight: bold;margin-top: 2px;}
.threeulonelithree{float:right;}
.threeulonelink{font-size: 15px;color: #B1752A;padding-right:25px;background: url(../images/lookmore.jpg) no-repeat 98% 50%;}
.biaotypeone{float:left;width:93%;padding-left:26px;}
.typeonepic{float:left;width:284px;height:193px;background: url(../images/Bdong.jpg) no-repeat;}
.typeoneul{float:left;width:64%;margin-left:40px;}
.typeonelione{float:left;width:100%;}
.typeonetitle{float:left;color: #ab6d20;height:27px;line-height: 27px;font-size: 22px;font-weight: bold;}
.typeonetitlepic{float:left;width:90px;height:27px;background: url(../images/BdongWord.jpg) no-repeat;height:27px;line-height: 27px;margin-left: 9px;}
.typeoneword{float:left;font-size: 14px;height:27px;line-height: 27px;color:#999;margin-left: 12px;}
.typeonelitwo{float:left;font-size: 14px;color:#666;margin-top:10px;width:100%;line-height: 22px;}
.typeonelithree{float:left;height:58px;width:20%;margin-top: 18px;}
.typeonelifour{float:left;height:58px;width:21%;margin-top: 18px;margin-left:110px;}
.typeonespanone{float:left;font-size: 14px;color: #999;width:100%;line-height: 25px;height: 25px;text-align: center;}
.typeonespantwo{float:left;font-size: 24px;color: #ab6d20;width:100%;line-height: 32px;height: 32px;text-align: center;}
.typeonespanthree{float:left;width:100%;height: 32px;background: url(../images/wujiao.png) no-repeat 0 50%;}
.threeultwo{float:left;width: 100%;}
.biaotitleone{float:left;height: 52px;line-height: 52px;font-size: 21px;font-weight:bold;border-right:1px solid #f2f2f2;background:#AB6D20;color: #fff;width:332px;text-align: center;cursor: pointer;}
.biaotitleone span{display: block;margin:0 auto;padding-left:40px;width:80px;height:52px;background: url(../images/dongtopbg.png) no-repeat 0 50%;}
.biaotitletwo{float:left;height: 52px;line-height: 52px;font-size: 21px;font-weight:bold;border-right:1px solid #f2f2f2;color: #AB6D20;width:332px;text-align: center;cursor: pointer;}
.biaotitletwo span{display: block;margin:0 auto;padding-left:40px;width:80px;height:52px;background: url(../images/B_zhang.png) no-repeat 0 50%;}
.biaotitlethree{float:left;height: 52px;line-height: 52px;font-size: 21px;font-weight:bold;color: #AB6D20;width:334px;text-align: center;cursor: pointer;}
.biaotitlethree span{display: block;margin:0 auto;padding-left:40px;width:80px;height:52px;background: url(../img/B_huo.png) no-repeat 0 50%;}
.biaotitlejiantou{float:left;width:100%;}
.biaotitlejiantou li{float:left;width:100%;background: url(../images/sanjiao.png) no-repeat 133px 0px;height:20px;}
.biaotypeborder{float:left;width:998px;height:267px;border-left: 1px solid #ab6d20;border-top: 1px solid #ab6d20;border-right: 1px solid #ab6d20;border-bottom: 3px solid #ab6d20;}
.typetwopic{float:left;width:284px;height:193px;background: url(../images/Bzhang.jpg) no-repeat;}
.typetwotitle{float:left;color: #8AC826;height:27px;line-height: 27px;font-size: 22px;font-weight: bold;}
.typetwotitlepic{float:left;width:90px;height:27px;background: url(../images/BzhangWord.jpg) no-repeat;height:27px;line-height: 27px;margin-left: 9px;}
.typetwospanthree{float:left;width:100%;height: 32px;background: url(../images/wujiao.png) no-repeat 0 50%;}
.typethreepic{float:left;width:284px;height:193px;background: url(../images/Bhuo.jpg) no-repeat;}
.typethreetitle{float:left;color: #FF8800;height:27px;line-height: 27px;font-size: 22px;font-weight: bold;}
.typethreetitlepic{float:left;width:90px;height:27px;background: url(../images/BhuoWord.jpg) no-repeat;height:27px;line-height: 27px;margin-left: 9px;}
.typethreespanthree{float:left;width:100%;height: 32px;background: url(../images/wujiao.png) no-repeat 0 50%;}
.floorfour{float:left;width:100%;margin-top:15px;}
.contentfour{width:1000px;margin:0 auto;background: #fff;height:345px;box-shadow: 3px 3px 10px #ccc;}
.fourulone{float:left;margin-top:25px;width:95%;margin-left:26px;border-bottom: 2px solid #f2f2f2;padding-bottom: 7px;}
.fourulonelione{float:left;font-size: 22px;color:#000;line-height: 20px;height: 30px;line-height: 30px;margin-left:10px;}
.fourulonelitwo{float:left;border-left: 2px solid #8d8d8e;margin-left:10px;padding-left:10px;color:#ab6d20;font-size: 20px;line-height: 21px;margin-top: 6px;}
.fourulonelithree{float:left;font-size: 14px;color:#999;width:16%;margin-top:6px;}
.fourulonelifour{float:left;height: 30px;line-height: 30px;text-align: center;font-size: 20px;color: #B07529;font-weight: bold;}
.fourulonelifour img{ margin-right:7px; margin-bottom:5px;}

.fourulonelifive{float:left;font-size: 14px;color:#999;margin-top:6px;}
.fouruloneli0{float:left;margin-left:35px;padding-left:10px;color:#000;font-size: 16px;margin-top: 6px;width:31%;}
.jinrituijan{position: absolute;width:90px;height: 90px;background: url(../images/teday.png) no-repeat;margin-left:910px;}
.jinribiao{float:left;margin-left:26px;margin-top:8px;width:63%;padding-bottom: 20px;padding-right: 25px;}
.jinribiao ul{float:left;width:100%;}
.jinrititleone{float:left;font-size: 22px;color: #666;height:29px;line-height: 29px;}
.jinribtiletwo{float:left;font-size: 14px;color: #666;height:29px;line-height: 29px;margin-left: 10px;}
.jinribiaoul{margin-top:15px;}
.jinribtilethree{float:left;font-size: 14px;color:#666;width:12%;line-height:20px;}
.jinribtilefour{float:left;font-size: 15px;color:#666;background: url(../images/indexgou.png) no-repeat 0 50%;height:20px;line-height:20px;padding-left: 20px;}
.jinribtilefive{float:left;font-size: 15px;color:#666;background: url(../images/indexgou.png) no-repeat 0 50%;height:20px;line-height:20px;padding-left: 20px;margin-left:65px;}
.jrblithree{float:left;width:22%;margin-top: 36px;}
.jrblifour{float:left;width:20%;margin-top: 36px;margin-left:70px;}
.jrblifive{float:left;width:20%;margin-top: 36px;margin-left:114px;}
.jrbspanone{float:left;font-size: 16px;color: #999;width:100%;line-height: 25px;height: 30px;}
.jrbspantwo{float:left;font-size: 27px;color: #ab6d20;width:100%;line-height: 56px; margin-left: -8px;}
.jrbspanthree{float:left;width:100%;margin-top:5px;height: 62px;background: url(../images/indexloading.jpg) no-repeat 5px 50%;padding-left: 94px;font-size: 24px;color: #ab6d20;line-height: 48px;}
.jrbspanfour{color:#ab6d20;}
.touziqixian{margin-top:10px;}
.touziqixian li{float:left;margin-top:10px}
.touzitime{color: #000;font-size: 14px;width:100%;}
#months .touxitimeone{float:left;width:44px;height:34px;background: url(../images/kuangMove.jpg) no-repeat;border: 0;color: #EA8000;line-height: 34px;text-align: center;cursor: pointer;font-size: 12px;}
.touziqixianli{margin-right:8px; float:left;width:44px;height:34px;background: url(../images/kuang.jpg) no-repeat;border: 0;color: #999;line-height: 34px;text-align: center;cursor: pointer;padding:0;font-size: 12px;}
.lijitoubiao{float: left;width:26%;margin-left: 30px;}
.toubiaoulone{float:left;margin-top:4px;width:100%;}
.toubiaoulone li{float:left;margin-top:12px;color: #333;font-size: 14px;width:100%;}
.toubiaoulone a{color: #ab6d20;font-size: 14px;}
.toubiaoultwo{float:left;margin-top:8px;width:90%;}
.toubiaoultwo li{float:left;margin-top:10px;width:100%;font-size: 14px;}
.toubiaoulonekai{float:left;line-height: 35px;}
.toubiaoulonebg{margin-left: 5px;padding-left:5px;padding-right:10px;width:135px;background: #FCF4E9;height:35px;line-height: 35px;border:1px solid #e7e9e9;float:left;text-align: right;}
.toubiaouloneshu{float:left;color: #ab6d20;}
.lijitoubiaojine{float:left;margin-left:5px;width:110px;height:35px;border: 1px solid #e7e9e9;border-right:0;background: #FCF4E9;padding-left: 5px;color: #ab6d20;line-height: 35px;*vertical-align: middle;}
.lijitoubiaoother{float:left;background: #FCF4E9;border: 1px solid #e7e9e9;border-left: 0;height:35px;line-height: 35px;width:25px;padding-left: 10px;}
.lijitoubiaobtn{float:left;width:227px;height:40px;line-height: 40px;text-align: center;border: 0;color: #fff;font-size: 18px;cursor: pointer;background: #F6B881;}
.lijitoubiaobtn:hover{background: #D68F00;}

.daoqishouyi{margin-left:5px;color:#FA6F12;font-size: 18px;}
.floorfive{float:left;width:100%;margin-top:15px;}
.contentfive{width:1000px;margin:0 auto;background: #fff;height:440px;box-shadow: 3px 3px 10px #ccc;}
.fiveulone{float:left;width:95%;padding-bottom: 9px;margin-top:11px;border-bottom: 1px dotted #f2f2f2;margin-left:26px;}
.fivelione{float:left;border-left: 1px dotted #EEEFF3;width:150px;height:30px;line-height: 30px;text-align: left;color: #ab6d20;font-size: 14px; padding-left:40px;}
.fivelitwo{float:left;border-left: 1px dotted #EEEFF3;width:110px;height:30px;line-height: 30px;text-align: center;color:#ab6d20;font-size: 14px;}
.fivelithree{float:left;border-left: 1px dotted #EEEFF3;width:119px;height:30px;line-height: 30px;text-align: center;color:#ab6d20;font-size: 14px;}
.fivelifour{float:left;border-left: 1px dotted #EEEFF3;width:102px;height:30px;line-height: 30px;text-align: center;color:#ab6d20;font-size: 14px;}
.fivelifive{float:left;border-left: 1px dotted #EEEFF3;width:115px;height:30px;line-height: 30px;text-align: center;color:#ab6d20;font-size: 14px;}
.fivelisix{float:left;border-left: 1px dotted #EEEFF3;width:85px;height:30px;line-height: 30px;text-align: center;color:#ab6d20;font-size: 14px;}
.fiveliseven{float:left;border-left: 1px dotted #EEEFF3;width:125px;height:30px;line-height: 30px;text-align: center;color:#ab6d20;font-size: 14px;}
.fivelieight{float:left;border-left: 1px dotted #EEEFF3;border-right: 1px dotted #f2f2f2;width:95px;height:30px;line-height: 30px;text-align: center;color:#ab6d20;font-size: 14px;}
.fivetable{float:left;width:100%;margin:0;padding:0;}
.fivetable thead{float:left;width:100%;margin:0;padding:0;}
.fivetabletr{float:left;width:100%;height:60px;border-bottom: 1px dotted #EEEFF3;}
.fivetable tr:hover{background: #FBEDC0;}
.fivetabletdone{float:left;padding-left:24px;width:193px;width:191px\9;}
.fivespanone{float: left;font-size: 18px;font-weight: bold;height: 30px;line-height: 30px;text-align: center;width: 30px;margin-top:15px;}
.fivespantwo{float:left;height:60px;line-height: 60px;font-size: 14px;margin-left:10px;color:#000;}
.fivetabletdtwo{float:left;width:112px;height:60px;width:111px\9;}
.fivespandan{float:left;margin-left:2px;width:24px;height:60px;background: url(../img/BD_01.png) no-repeat 50% 50%;display: block;}
.fivespanya{float:left;margin-left:2px;width:24px;height:60px;background: url(../img/BD_02.png) no-repeat 50% 50%;display: block;}
.fivespanxin{float:left;margin-left:2px;width:24px;height:60px;background: url(../img/BD_03.png) no-repeat 50% 50%;display: block;}
.fivespanshi{float:left;margin-left:2px;width:24px;height:60px;background: url(../img/BD_04.png) no-repeat 50% 50%;display: block;}
.fivespanjing{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_05.png) no-repeat 50% 50%;display: block;}
.fivespanrang{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_06.png) no-repeat 50% 50%;display: block;}
.fivetabletdthree{float:left;width:121px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:119px\9;}
.fivetabletdfour{float:left;width:103px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:99px\9;}
.fivespanfive{font-size: 18px;color: #ab6d20;}
.fivetabletdfive{float:left;width:116px;height:60px;line-height:60px;color: #fe8800;font-size: 18px;text-align: center;}
.fivetabletdsix{float:left;width:86px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:84px\9;}
.fivetabletdseven{float:left;height:60px;}
.fivespansix{float:left;width:50px;height:60px;line-height:60px;background:url(../images/jinduyuanbao.png) no-repeat 23% 50%;padding-left:75px;font-size: 14px;color: #ab6d20;}
.fivetabletdeight{float:left;height:60px;width:120px;width:116px\9;}
.fivespanseven{float:left;margin-left:20px;height:60px;background: url(../images/buyLeft.jpg) no-repeat 0 50%;width:3px;margin-left:18px\9;}
.fivespaneight{float:left;height:60px;background: url(../images/buyRight.jpg) no-repeat 0 50%;width:4px;}
.fivetablelink{float:left;margin-left:10px;width:75px; font-size: 14px; background: url(../images/buyMid.png) no-repeat 0 50%;height:60px;line-height: 60px;color: #fff;text-align: center;}
.fivetdone{float:left;padding-left:24px;width:193px;width:191px\9;}
.fivetdtwo{float:left;width:112px;height:60px;width:111px\9;text-align: center;}
.fivetdtwoimg{margin-top:17px;margin-left:2px;}
.fivetdthree{float:left;width:121px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:119px\9;}
.fivetdfour{float:left;width:103px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:99px\9;}
.fivetdfive{float:left;width:116px;font-size: 18px;text-align: center;height:60px;line-height:60px;color: #ab6d20;}
.fivetdsix{float:left;width:86px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:84px\9;}
.fivetdseven{float:left;height:60px;}
.fivetdeight{float:left;height:60px;width:120px;width:116px\9;}
.fivetdone img{float:left;margin-top:15px;}
.nianhuajiang{float:left;width:48px;height:60px;background: url(../images/nianhuajiang.png) no-repeat 0 50%;color: #fff;font-size: 12px;line-height:58px;display:inline-block;}
.fivetdfiveword{float:left;height:60px;line-height:60px;color: #fe8800;}
.huankuanzhong{float:left;margin-left:10px;margin-top:15px;width:76px;height:30px;background: url(../images/finishbuy.png) no-repeat 0 50%;;color: #fff;font-size: 14px;text-align: center;line-height: 30px;}
.yiwancheng{float:left;margin-left:20px;margin-top:15px;width:76px;height:30px;background: #4290D9;color: #fff;font-size: 14px;text-align: center;line-height: 30px;}
.yimanbiao{float:left;margin-left:20px;margin-top:15px;width:76px;height:30px;background: #FF8226;color: #fff;font-size: 14px;text-align: center;line-height: 30px;}
.floorsix{float:left;width:100%;margin-top:15px;}
.contentsix{width:1000px;height:292px;margin:0 auto;background: #fff;box-shadow: 3px 3px 10px #ccc;}
.wangzhangongao{float:left;margin-left:26px;width:45%;}
.annoucement{border-bottom: 2px solid #f2f2f2;float: left;margin-top: 30px;padding-bottom: 10px;width: 97%;}
.annoucetitle{color: #ab6d20;float: left;font-size: 22px;line-height: 20px;}
.annouceeng{border-left: 2px solid #8d8d8e;color: #999;float: left;font-size: 14px;font-weight: bold;line-height: 20px;margin-left: 10px;margin-top: 2px;padding-left: 10px;}
.annoucelink{font-size: 15px;float:right;margin-top: 2px;}
.annoucelink a{color: #B1752A;padding-right:25px;background: url(../images/lookmore.jpg) no-repeat 98% 50%;}
.annoucexiaoti{float: left;margin-top: 9px;width: 97%;}
.annoucexiaoti li{float: left;width: 100%;height:37px;line-height: 37px;border-bottom: 1px dotted #E8E8E8;}
.xiaotijiahao{float:left;color:#ab6d20;font-size: 15px;}
.annouceword{float:left;font-size: 15px;color:#000;margin-left:5px;}
.annouceword:hover{color:#ab6d20;}
.mediaLink:hover{color:#ab6d20;}
.annoucetime{float:right;font-size: 15px;color:#999;}
.activity{float: left;margin-left: 63px;width: 45%;}
.activityul{float:left;width:100%;margin-top:20px;}
.activitypic{float:left;width:67px;height:49px;padding:2px;}
.activitypic img{float:left;padding:2px;width:67px;height:49px;}
.activitylink{float:left;width:79%;font-size: 15px;margin-left:18px;height:26px;line-height: 26px;}
.activitylink a{color: #333;} 
/* .activityul:hover{background:#FCF4E9;} */
/* .activityulother:hover{background:#FCF4E9;} */
.activitytime{float:left;width:79%;color: #999;font-size: 12px;margin-left:18px;height:26px;line-height: 26px;}
.activityulother{float:left;width:97%;margin-top:10px;}
.floorseven{float:left;width:100%;margin:15px 0 30px;}
.contentseven{width:1000px;height:290px;margin:0 auto;background: #fff;box-shadow: 3px 3px 10px #ccc;}
.mediareport{border-bottom: 2px solid #f2f2f2;float: left;margin-top: 30px;padding-bottom: 10px;width: 95%;margin-left: 26px;}
.mediareportdetial{float: left;margin-top: 20px;width: 95%;margin-left: 26px;}
.mediareportdetial li{float: left;width:210px;position: relative;height:128px;}
.mediareportpic{margin-left:36px;}
.mediareportword{float: left;width: 95%;margin-left: 26px;}
.mediareportword li{float: left;margin-top:10px;line-height: 22px;font-size: 15px;color: #000;width:210px;}
.mediareportwordot{margin-left:36px;}
.mediareportword li a{float:left;color: #333;}
.leftmenu{float:left;width:102px;margin-left:88px;margin-top: -290px;}
.leftmenuone{float:left;width:102px;}
.leftmenuone li{float:left;width:102px;height:102px;background: url(../images/XFerWeiMa.png) no-repeat;}

.indexfooter{float:left; width:100%; background: #4C3F37;padding-bottom: 18px;}
.footercontent{width:1000px;margin:0 auto;}
.footercontentone{float:left;width:100%;margin-top:39px;}
.footerlinkmenu{float:left;width:480px;margin-left:20px;}
.footerlinkmenu li{float:left;width:100%;height:26px;line-height: 26px;}
.footerlinkmenu li a{float:left;width:21%;background: url(../images/fotIcon.jpg) no-repeat 0 50%;padding-left: 17px;color: #8A8A8A;font-size: 14px;}
.footerguanzhu{float:left;width:122px;margin-left:26px;}
.footerguanzhu li{float:left;width:100%;height:26px;line-height: 26px;font-size: 14px;color:#8A8A8A;}
.footerguanzhu li a{float:left;width:117px;height:35px;background:url(../images/shejiao_03.png) no-repeat;margin-top:10px;}
.footerguanzhu li a:hover{background:url(../images/shejiao_03.png) no-repeat 0px -36px;}
.footerkefu{float:left;width:260px;margin-left:73px;}
.footerkefupic{float:left;width:79px;height:80px;background: url(../images/erWeiMa.png) no-repeat;}
.footerkefuword{float:left;margin-left:23px;width:145px;}
.footerkefuone{float:left;width:145px;font-size: 14px;color: #8A8A8A;}
.footerkefutwo{float:left;width:145px;font-size: 18px;color: #8A8A8A;height:29px;line-height: 29px;font-weight: bold;}
.footerkefuthree{float:left;width:128px;height:23px;background: url(../images/footerhezuo.png) no-repeat;}
.footerkefufour{float:left;width:145px;font-size: 12px;color: #8A8A8A;height:21px;line-height: 21px;margin-top:8px;}
.footercontenttwo{float:left;width:100%;margin-top:30px;border-top: 1px solid #8a8a8a;}
.footercontenttwo ul{float:left;margin-top:26px;width:100%;}
.footercontenttwo ul li{float:left;width:100%;}
.footertwopicone{float:left;width:51%;height:42px;background: url(../images/rengZheng01.jpg) no-repeat 97% 0;}
.footertwopictwo{float:left;width:112px;height:42px;background: url(../images/rengZheng02.jpg) no-repeat;margin-left: 8px;}
.footertwopictwo ul{float:left;width:100%;}
.footertwopictwo ul li{float:left;width:100%;}
.footertwoword{font-size: 12px;color: #8A8A8A;text-align: center;margin-top: 20px;}

ul.mediareportdetial li img {width: 210px; height: 128px;-ms-interpolation-mode: bicubic;position: absolute;}
ul.mediareportdetial li img.hover {margin-top:15px;}

.partnerpic{float:left;width:95%;margin-left:26px;margin-top:15px;}
.partnerpic li{float:left;width:100%;}

/* Div1 */
.Div1{width:944px;height:auto;margin:0 auto;overflow:hidden;position:relative;}
.Div1_title{height:32px;width:951px;background:url(http://wydtest.wyd.wang:9900/resources/images/lizi_img001.jpg) repeat-x;}
.Div1_title em{float:left;font-style:normal;line-height:32px;font-size:14px;}
.Div1_title span{float:right;display:block;padding:8px 15px 0 0;height: 20px;}
.Div1_title span b , .Div1_title span a{display:block;float:left;}
.Div1_title span b , .Div1_title span b img{width:11px;height:11px;}
.Div1_title span b img{cursor:pointer;}
.Div1_title span a{font-size:12px;background:url(http://wydtest.wyd.wang:9900/resources/images/lizi_img005.jpg) no-repeat left center; padding-left:15px;margin-right:10px;}
.Div1_title span a:hover{background:url(../images/hezuoMove01.jpg) no-repeat left center;}
.Div1_title span a.Div1_title_a1{color:#f34d01;background:url(http://wydtest.wyd.wang:9900/resources/images/lizi_img004.jpg) no-repeat left center;}

.Div1_main{height:165px;width:10000px;overflow:hidden;position:relative;z-index:1;}
.Div1_main div{width:950px;height:165px;float:left;}
.Div1_main div span{width:157px;height:165px;display:block;float:left;}
.Div1_main div span a{display:block;}
.Div1_main_a1{width:156px;height:79px;border: 1px solid #fcf4e9; margin-bottom: -1px;}
.Div1_main span a img{width:156px;height:79px;}
.Div1_main div span b{display:block;padding-left:10px;color:#787878;}
.Div1_main div span p{line-height:20px;padding:0 10px;height:87px;color:#787878;}
.hezuo01{background: url(../images/hezuo01.jpg) no-repeat left center;}
.hezuo01:hover{background:url(../images/hezuoMove01.jpg) no-repeat left center;}
.hezuo02{background: url(../images/hezuo02.jpg) no-repeat left center;}
.hezuo02:hover{background:url(../images/hezuoMove02.jpg) no-repeat left center;}
.hezuo03{background: url(../images/hezuo03.jpg) no-repeat left center;}
.hezuo03:hover{background:url(../images/hezuoMove03.jpg) no-repeat left center;}
.hezuo04{background: url(../images/hezuo04.jpg) no-repeat left center;}
.hezuo04:hover{background:url(../images/hezuoMove04.jpg) no-repeat left center;}
.hezuo05{background: url(../images/hezuo05.jpg) no-repeat left center;}
.hezuo05:hover{background:url(../images/hezuoMove05.jpg) no-repeat left center;}
.hezuo06{background: url(../images/hezuo06.jpg) no-repeat left center;}
.hezuo06:hover{background:url(../images/hezuoMove06.jpg) no-repeat left center;}
.hezuo07{background: url(../images/hezuo07.jpg) no-repeat left center;}
.hezuo07:hover{background:url(../images/hezuoMove07.jpg) no-repeat left center;}
.hezuo08{background: url(../images/hezuo08.jpg) no-repeat left center;}
.hezuo08:hover{background:url(../images/hezuoMove08.jpg) no-repeat left center;}
.hezuo09{background: url(../images/hezuo09.jpg) no-repeat left center;}
.hezuo09:hover{background:url(../images/hezuoMove09.jpg) no-repeat left center;}
.hezuo10{background: url(../images/hezuo10.jpg) no-repeat left center;}
.hezuo10:hover{background:url(../images/hezuoMove10.jpg) no-repeat left center;}
.hezuo11{background: url(../images/hezuo11.jpg) no-repeat left center;}
.hezuo11:hover{background:url(../images/hezuoMove11.jpg) no-repeat left center;}
.hezuo12{background: url(../images/hezuo12.jpg) no-repeat left center;}
.hezuo12:hover{background:url(../images/hezuoMove12.jpg) no-repeat left center;}
.hezuo13{background: url(../images/hezuo13.jpg) no-repeat left center;}
.hezuo13:hover{background:url(../images/hezuoMove13.jpg) no-repeat left center;}
.hezuo14{background: url(../images/hezuo14.jpg) no-repeat left center;}
.hezuo14:hover{background:url(../images/hezuoMove14.jpg) no-repeat left center;}
.hezuo15{background: url(../images/hezuo15.jpg) no-repeat left center;}
.hezuo15:hover{background:url(../images/hezuoMove15.jpg) no-repeat left center;}
.hezuo16{background: url(../images/hezuo16.jpg) no-repeat left center;}
.hezuo16:hover{background:url(../images/hezuoMove16.jpg) no-repeat left center;}
.hezuo17{background: url(../images/hezuo17.jpg) no-repeat left center;}
.hezuo17:hover{background:url(../images/hezuoMove17.jpg) no-repeat left center;}
.hezuo18{background: url(../images/hezuo18.jpg) no-repeat left center;}
.hezuo18:hover{background:url(../images/hezuoMove18.jpg) no-repeat left center;}
.hezuo19{background: url(../images/hezuo19.jpg) no-repeat left center;}
.hezuo19:hover{background:url(../images/hezuoMove19.jpg) no-repeat left center;}
.hezuo20{background: url(../images/hezuo20.jpg) no-repeat left center;}
.hezuo20:hover{background:url(../images/hezuoMove20.jpg) no-repeat left center;}
.hezuo21{background: url(../images/hezuo21.jpg) no-repeat left center;}
.hezuo21:hover{background:url(../images/hezuoMove21.jpg) no-repeat left center;}
.hezuo22{background: url(../images/hezuo22.jpg) no-repeat left center;}
.hezuo22:hover{background:url(../images/hezuoMove22.jpg) no-repeat left center;}
.hezuo23{background: url(../images/hezuo23.jpg) no-repeat left center;}
.hezuo23:hover{background:url(../images/hezuoMove23.jpg) no-repeat left center;}
.hezuo24{background: url(../images/hezuo24.jpg) no-repeat left center;}
.hezuo24:hover{background:url(../images/hezuoMove24.jpg) no-repeat left center;}
.hezuo25{background: url(../images/hezuo25.jpg) no-repeat left center;}
.hezuo25:hover{background:url(../images/hezuoMove25.jpg) no-repeat left center;}
.hezuo26{background: url(../images/hezuo26.jpg) no-repeat left center;}
.hezuo26:hover{background:url(../images/hezuoMove26.jpg) no-repeat left center;}
.hezuo27{background: url(../images/hezuo27.jpg) no-repeat left center;}
.hezuo27:hover{background:url(../images/hezuoMove27.jpg) no-repeat left center;}
.hezuo28{background: url(../images/hezuo28.jpg) no-repeat left center;}
.hezuo28:hover{background:url(../images/hezuoMove28.jpg) no-repeat left center;}
.hezuo29{background: url(../images/hezuo29.jpg) no-repeat left center;}
.hezuo29:hover{background:url(../images/hezuoMove29.jpg) no-repeat left center;}
.hezuo30{background: url(../images/hezuo30.jpg) no-repeat left center;}
.hezuo30:hover{background:url(../images/hezuoMove30.jpg) no-repeat left center;}
.hezuo31{background: url(../images/hezuo31.jpg) no-repeat left center;}
.hezuo31:hover{background:url(../images/hezuoMove31.jpg) no-repeat left center;}
.hezuo32{background: url(../images/hezuo32.jpg) no-repeat left center;}
.hezuo32:hover{background:url(../images/hezuoMove32.jpg) no-repeat left center;}
.hezuo33{background: url(../images/hezuo33.jpg) no-repeat left center;}
.hezuo33:hover{background:url(../images/hezuoMove33.jpg) no-repeat left center;}
.hezuo34{background: url(../images/hezuo34.jpg) no-repeat left center;}
.hezuo34:hover{background:url(../images/hezuoMove34.jpg) no-repeat left center;}
.hezuo35{background: url(../images/hezuo35.jpg) no-repeat left center;}
.hezuo35:hover{background:url(../images/hezuoMove35.jpg) no-repeat left center;}

.Div1 .Div1_prev1 ,.Div1 .Div1_next1{display:block;width:31px;height:30px;position:absolute;cursor:pointer;z-index:2;top:66px;}
.Div1 .Div1_prev1 img ,.Div1 .Div1_next1 img{width:21px;height:39px;}
.Div1 .Div1_prev1:hover ,.Div1 .Div1_next1:hover{opacity:0.7;.filter:alpha(opacity=70)}
.Div1 .Div1_next1{left:917px;}


.side-bar a,.chat-tips i {
	background-image: url(../images/gdt-img.png);
	background-repeat: no-repeat;
}
/*右侧悬浮icon*/
.side-bar {
	width: 102px;
	position: fixed;
	bottom: 50px;
	right: 25px;
	font-size: 0;
	line-height: 0;
	z-index: 100;
}
.side-bar a {
	width: 102px;
	height: 66px;
	display: inline-block;
	padding-bottom: 2px;
}
.side-bar .icon-qq {
	margin-top:4px;
	background:url(../images/XFicon.png) no-repeat -92px -142px;
	border:1px solid #BCBCBC;
	width:68px;
	height:68px;
	padding: 1px;
}
.icon-qq:hover{background:url(../images/XFicon.png) no-repeat 7px -143px;border:2px solid #AF7629;padding: 0;}
.side-bar .icon-weixin {
	color:#999;
	font-size: 12px;
	text-align: center;
	margin-top: 6px;
	height:13px;
}
.side-bar .icon-chat {
	border:1px solid #BCBCBC;
	width:68px;
	height:68px;
	background:url(../images/XFicon.png) no-repeat -92px 11px;
	position: relative;
	padding: 1px;
}
.icon-chat:hover{background:url(../images/XFicon.png) no-repeat 7px 10px;border:2px solid #AF7629;padding: 0;}
.side-bar .icon-chat:hover .chat-tips {
	display: block;
}
.side-bar .icon-blog {
	margin-top:4px;
	border:1px solid #BCBCBC;
	width:68px;
	height:68px;
	background:url(../images/XFicon.png) no-repeat -92px -64px;
	position: relative;
	font-size: 14px;
	color: #919191;text-align: center;line-height: 98px;
	padding: 1px;
}
.icon-blog:hover{background:url(../images/XFicon.png) no-repeat 7px -65px;border:2px solid #AF7629;color: #B1752A;padding:0;}
.side-bar .icon-mail {
	margin-top:4px;
	border:1px solid #BCBCBC;
	width:68px;
	height:68px;
	background:url(../images/XFicon.png) no-repeat -92px -218px;
	position: relative;
	font-size: 14px;
	color: #919191;text-align: center;line-height: 98px;
	padding: 1px;
}
.icon-mail:hover{background:url(../images/XFicon.png) no-repeat 7px -219px;border:2px solid #AF7629;color: #B1752A;padding:0;}
.side-bar .icon-totop {
	background-position: 0 -334px;
}
.chat-tips {
	position: absolute;
	right: 86px;
	top: -67px;
	background-color: #ffffff;
	display: none;
	width:250px;
	height:280px;
	background-image: url(../images/indfojian.jpg) no-repeat 100% 50%;
}
.tips-jiantou{
	position: absolute;
	right: 78px;
	top: -100px;
	display: none;
	width:8px;
	height:270px;
	background: url(../images/indfojian.jpg) no-repeat 0 50%;
}
.tipsone{float:left;margin-left:20px;margin-top:36px;width:210px;}
.tipsone li{float:left;width:210px;}
.tipslione{height:45px;}
.tipslionepic{float:left;height:45px;background: url(../images/XFicon.png) no-repeat -178px -8px;width:45px;}
.tipslispanone{float:left;margin-left:9px;width:150px;font-size: 18px;height:22px;color: #747A85;line-height: 20px;text-align: left;}
.tipslispantwo{float:left;margin-left:9px;width:150px;font-size: 14px;height:20px;line-height: 20px;color: #747A85;text-align: left;}
.tipslitwo{float:left;margin-top:15px;margin-left:55px;width:150px;font-size: 20px;height:23px;color: #747A85;line-height: 20px;text-align: left;font-family: 'Impact';}
.tipslithree{float:left;margin-left:55px;width:150px;font-size: 12px;height:20px;line-height: 20px;color: #747A85;text-align: left;}
.tipslitime{font-size: 12px;}
.tipstwo{float:left;margin-left:20px;margin-top:17px;width:210px;}
.tipskefu{float:left;margin-top:3px;margin-left:9px;background: url(../images/XFicon.png) no-repeat -165px -155px;width:152px;height:26px;line-height: 24px;color: #fff;font-size: 14px;border: 0;cursor: pointer;}
.tipslifour{float:left;margin-left:55px;width:150px;font-size: 14px;height:14px;line-height: 14px;color: #747A85;text-align: left;}
.tipslifive{float:left;height:41px;}
.tipslisix{float:left;margin-top:11px;margin-left:54px;background: url(../images/XFicon.png) no-repeat -165px -231px;width:152px;height:26px;line-height: 26px;color: #fff;font-size: 14px;}
.tipslionepictwo{float:left;height:45px;background: url(../images/XFicon.png) no-repeat -175px -71px;width:45px;}


.jisuanqi{display:none;width:408px;height:480px;background:#fff;position: absolute;z-index: 11;left: 50%;margin: -280px 0 0 -200px;position: fixed !important;top: 50%;}
.jisuanqitop{float:left;width:100%;height:50px;}
.jisuanqititle{float:left;width:122px;height:50px;line-height: 50px;color: #333333;font-size: 16px;margin-left:16px;text-align: center;border-bottom: 2px solid #FC8E0B;}
.jisuanqiline{float:left;width:252px;height:50px;border-bottom: 2px solid #E3E3E3;}
.jisuanqiclose{float:right;width:40px;height:50px;background: url(../images/XFicon.png) no-repeat -244px -4px;cursor: pointer;margin-right: 2px;}
.jisuanqidetial{float:left;width:330px;height:408px;margin-left:29px;}
.jisuanqidetialul{float:left;width:250px;margin-left:41px;margin-top:10px;}
.jisuanqidetialul li{float:left;width:250px;margin-top:12px;height:32px;line-height: 32px;}
.jisuanqidetialul li input{float:left;width:144px;margin-left:10px;height:32px;line-height: 32px;padding-left: 5px;color: #666;border: 1px solid #ccc;}
.jisuanqidetialul li span{float:left;width:29px;height:32px;line-height: 32px;text-align:center;border-top: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.jisuanqidetialul li p{float:left;height:32px;line-height: 32px;}
.jisuanqidetialul li input[type="radio"] {margin: 3px 3px 0px 5px;  display: none;}
.jisuanqidetialul li label{float:left;margin-left:12px;padding-left:20px;cursor: pointer;background: url(../images/radiaonone.png) no-repeat 0 50%;}
.jisuanqidetialul li label.checked {background: url(../images/radioxuan.jpg) no-repeat 0 50%;}
.allmoneyul{float:left;width:250px;margin-left:41px;margin-top:9px;}
.allmoneyul li{float:left;width:250px;margin-top:19px;height:18px;line-height: 18px;}
.allmoneyul li span{color: #FC8E0B;font-size: 21px;margin-left: 10px;height:18px;line-height: 18px;}
.jisuanlo{float:left;width:263px;height:43px;margin-top:31px;margin-left: 50px;}
.jisuanlo li{float:left;width:263px;height:43px;}
.jisuanlo li input{float:left;width:240px;height:48px;background: #FC8E0B;border: 0;text-align: center;line-height: 46px;color: #fff;font-size: 18px;cursor: pointer;}
.jisuanqibg{display:none;position: fixed;right: 0;left: 0;top: 0;bottom: 0;background: #000;opacity: .5;filter: alpha(opacity=70);z-index: 10;}

.clear{clear:both;}
/* thumbnailWrapper */
.thumbnailWrapper{width:950px;}
.thumbnailWrapper ul li{float:left;position:relative;overflow:hidden;}
.thumbnailWrapper ul li a img{width:210px;position:relative;border:none;}

.floorti{background: #fff;box-shadow: 3px 3px 10px #ccc;height: 165px;margin: 0 auto;width: 1000px;}
.xinshouzx{background: url(../images/xinshouzx.png) no-repeat;height: 91px; margin-left: 909px;position: absolute;width: 91px;}
.xinshouti{float:left;width:95%;margin-left: 26px;}
.xinshouti li{float:left;width:158px;text-align: center;color: #666;line-height: 35px;}
.xinshouti li a{color: #666;}
.xinshouti li span{font-size: 18px;color: #ab6d20;}
.xinshouyan{background:url(../images/loading1.gif) no-repeat 23% 50%;color: #ab6d20;float: left;font-size: 14px;height: 35px;line-height: 35px;padding-left: 75px;width: 50px;}
.xinshouty{background: url(../images/buyMid.png) no-repeat 0 50%;color: #fff;height: 35px;  font-size: 14px;line-height: 35px;text-align: center;width: 75px;display: block;margin:0 auto;}



/*友情链接*/
.links-nav{ width: 950px; margin: 0 auto}
.links-nav li{ font: 14px/30px "微软雅黑"; color: #000; float: left; display: inline; margin:10px 25px 0 0;}
.links-nav li a{color: #000;}
























