@charset "utf-8";
/* CSS Document */
/* write web front-end code css Tony */
/* ==============> base <============= */
.table_panel_1 table {width: 97%;margin-left: 15px;margin-top: 10px;}
.table_panel_1 table,.table_panel_1 td,.table_panel_1 th {border: 1px solid #000;border-collapse: collapse;}
.table_panel_1 th {text-align: center;background-color: #D9E7F8;line-height: 25px;}
.table_panel_1 td {text-align: center;background-color: #FFFFFF;line-height: 20px;padding: 0px 2px 0px 2px;font-size: 13px;}
.panel .clear {clear: both;}
.pag_div {clear: both;width: 100%;margin: 0px;padding: 0px;font-size: 14px;}
ul.pag_ul {margin-top: 10px;}
.pag_ul li {float: left;padding: 0px 5px;line-height: 20px;list-style-type: none !important;}
.pag_ul li a {float: left;height: 29px;line-height: 28px;display: block;text-decoration: none;padding:0 13px;}
.pag_s {border:1px solid #dcdcdc;color: #666;border-radius:4px;}
.pag_m {color: #666;}
.pag_s_1 {border:1px solid #e29f58;color: #ab6d20;border-radius:4px;}