/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF;}
html, body{height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}


/*-------大白活动-------*/
.db-activity-nav{ width: 100%; }
.db-activity-nav li{ width: 100%; margin: 10px auto; position: relative;}
.db-activity-nav li img{ width: 100%;}
.db-fade{ width: 100%; height: 100%; background-color:rgba(0,0,0,0.5); position: absolute; top: 0;}
.db-activity-nav li .db-img{ width: 50%; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; z-index: 9999;}



/*-------大白故事-------*/
.db-story{ width: 100%; border-bottom: 2px solid #fc9e3a;}
.db-img{ width: 70%; margin: 0 auto;}
.db-img img{ width: 100%;}
.db-font{ width: 85%; margin:0 auto;}
.db-font p{ font: 15px/25px "微软雅黑"; color: #000; margin-top: 30px; margin-bottom: 10px;}



/*-------分享大白-------*/
.share-top{ width: 100%;}
.share-img{ width: 100%; margin: 0 auto; position: relative;}
.share-img img{ width: 100%;}
.share-re{ width: 30%; position: absolute; bottom: 20px; left: 36%;}
.share-re img{ width: 100%;}
.share-re-bot{ width: 30%; position:fixed; bottom: 20px; left: 36%;}
.share-re-bot img{ width: 100%;}

.db-share{ width: 100%;}
.db-share-fxm{ width: 85%; margin: 0 auto;}
.db-share-fxm img{ width: 100%;}


/*-------常见问题-------*/
.db-person-nav{ width: 100%;}
.db-person-nav li{ width: 100%; border-top: 1px solid #C8C8C8; border-bottom: 1px solid #C8C8C8; margin-top: 30px;}
.db-person-nav .db-sand-nav{ width: 100%; background: #fff;}
.db-person-nav .db-sand-nav li{ width: 96%; margin-left: 2%; border-bottom: 1px solid #C8C8C8; border-top:0; margin-top: 0;}
.sand-title{ width: 90%; font: 16px/50px "微软雅黑"; color: #000; float: left;}
.sand-img{ width:26px; height: 15px; margin-top: 20px; float: right; text-align: center; line-height: 50px; background: url(../images/downup.png) 0 2px no-repeat; background-size: 22px; }
.sand-font{ width: 100%; border-top: 1px dashed #C8C8C8; border-bottom: 1px dashed #C8C8C8; display: none; padding: 10px 0;}
.sand-font p{ font: 14px/25px "微软雅黑"; color: #6f6f6f;}










