.fight-banner{ width:100%; overflow: hidden;}
.fight-rules-bg{ width: 100%; height: 490px; background: url(../images/rules-bg.jpg) center no-repeat;}
.fight-rules{ width: 1000px; height: 325px; margin: 0 auto; padding-top: 100px;}
.fight-bd{ width: 1000px; margin: 0 auto;}
.fight-zj{ width: 1000px; height: 915px; margin: 0 auto; position: relative;}
.fight-pic{ width: 361px; height: 415px; position: absolute; right: -170px; top: -70px;}
.fight-px{ width: 1000px; height: 480px; margin: 0 auto;}
.fight-jx{ width: 1000px; height: 513px; margin: 0 auto;}




















