/*初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
body{ color:#999999; font-family:"微软雅黑";}
a{ text-decoration:none; color:#585858;}
a:hover{ color:#585858; text-decoration:none;}
ul,li{ list-style:none;}
.left{ float:left;}.right{ float:right;}
.clear{ clear:both;}.red{ color:#F00;}
body .margin20{ margin-left: 20px;}
body .margin-top{ margin-top: 60px;}
body .position{ position: relative;}
body .height620{ height: 620px;}
body .height510{ height: 510px;}
body .visible{overflow: visible;}
.box{ width:1020px; margin:0 auto; overflow: hidden;}



.banner{ width: 100%; height: 375px;}
.page-yellow{ width: 100%; height: 590px; background: #FFFCF5;}
.page-write{ width: 100%; height: 590px; background: #FFF;}
.page-red{ width: 100%; height: 590px; background: #FFF9F2;}
/*第一屏*/
.readme-title{ width:1020px; height: 140px;}
.readme-title h1{ font: 24px/30px "微软雅黑"; text-align: center; padding: 45px 0 10px; color: #73726F;}
.readme-title h2{ font: 14px/30px "微软雅黑"; text-align: center; color: #73726F;}
.readme-mobie{ width: 326px; height: 435px; margin: 15px auto 0; background: url(../images/mobie.png) no-repeat; overflow: hidden;}
.readme-mobie-ewm{ width: 230px; height: 230px; margin: 100px auto 15px;}
.readme-f-pic{ width: 104px; height: 24px; margin: 0 auto;}
.readme-mobie h1{ font: 16px/25px "微软雅黑"; color: #FF8000; text-align: center; font-weight: bold; margin-top: 10px;}
.readme-lt{ width: 295px; height: 67px; position: absolute; left: 10px;}
.readme-lt img,.readme-rt img{ float: right; display: inline; margin-left: 20px;}
.readme-lt h2,.readme-rt h2{ font: 16px/67px "微软雅黑"; color: #000; float: right; display: inline;}
.readme-a{ top: 210px;}  .readme-b{ top: 340px;}  .readme-c{ top: 460px;}
.readme-rt{ width: 295px; height: 67px; position: absolute; right: 10px;}
.readme-rt img{ float: left; display: inline; margin-right: 20px;}
.readme-rt h2{ font: 16px/67px "微软雅黑"; color: #000; float: left; display: inline;}

/*第二屏*/
.db-nav{ width: 1000px; margin: 80px auto 0;}
.db-nav li{ width: 240px; height: 320px; float: left; display: inline; margin: 0 45px;}
.db-img{ width: 150px; height: 165px; margin: 0 auto;}
.db-nav li h1{ font: 16px/25px "微软雅黑"; color: #737373; text-align: center; margin: 30px 0;}
.db-nav li p{ font: 14px/25px "微软雅黑"; color: #737373; text-align: center;}
.db-nav li span{ color: #ff8000;}

/*第三屏*/
.payoff-bd{ width: 1000px; margin: 30px auto 0;}
.payoff-img{ width: 403px; height: 314px; float: left; display: inline; margin: 0 55px;}
.payoff-table-bd{ width: 420px; float: left; display: inline; margin-top: 110px;}
.payoff-table-bd h1{ font: 14px/25px "微软雅黑"; color: #737373; text-align: center;}
.payoff-table{ width: 420px; height: 110px; margin: 15px auto 10px;}
.payoff-table td{ text-align: center; color: #737373; border: 1px solid #FFEBBC; font: 12px/35px "微软雅黑";}
.payoff-border{ border-collapse: collapse;}
.payoff-table td span{ color: #ff8000; font-weight: bold;}
.payoff-table-bd h2{ font: 12px/25px "微软雅黑"; color: #ff8000; text-align: center;}

/*第四屏*/
.reward-bd{ width: 1000px; margin: 0 auto;}
.reward-ctn{ width: 500px; float: left; display: inline;}
.reward-ctn-img{ width: 164px; height: 128px; margin: 0 auto;}
.reward-ctn h1{ font: 16px/30px "微软雅黑"; color: #737373; text-align: center; margin: 10px 0;}
.reward-ctn p{ width:340px; font: 12px/25px "微软雅黑"; color: #737373; text-align: left; margin: 0 auto;}
.reward-bottom{ width: 1000px; margin: 20px auto 0; border-top: 2px dashed #F4F4F4;}
.reward-bottom h2{ font: 24px/30px "微软雅黑"; color: #737373; text-align: center; margin: 20px 0 10px;}
.reward-bottom-img{ width: 872px; height: 120px; margin: 0 auto;}

/*第五屏*/
.investment-nav,.wind{ width: 1000px; margin: 40px auto 0;}
.investment-nav li{ width: 333px; height: 360px; float: left; display: inline;}
.invest-img{ width: 300px; height: 170px; background: #ff8000; margin: 0 auto; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; overflow: hidden;}
.investment-nav li h1{ font: 16px/25px "微软雅黑"; color: #737373; text-align: center; margin: 20px 0 10px;}
.investment-nav li p{width: 280px; font: 14px/25px "微软雅黑"; color: #737373; text-align: left; margin: 0 auto;}

/*第六屏*/
.safe-img{ width: 85px; height: 77px; margin: 0 auto; }

/*第七屏*/
.wind li p{width: 310px; font: 14px/30px "微软雅黑";}
.wind-img{ width: 120px; height: 120px; margin: 0 auto;}

/*第八屏*/
.finish{ width: 230px; margin: 75px auto 0;}
.finish-ewm{ width: 230px; height: 230px; margin: 0 auto;}
.finish-img{ width: 152px; height: 34px; margin: 15px auto;}
.finish h1{ font: 24px/35px "微软雅黑"; text-align: center; color: #ff8000;}
























