/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}

/*------页面一------*/
.page-bd{ width: 100%; height: 100%;}
.page-a{ width: 100%; height: 100%; background: #FFAA00;}
.page-tqxy{ width: 100%; height: 100%; background: url(../images/tqxy.png) no-repeat; background-size: 100% 100%; margin: 0 auto; overflow: hidden;}
.page-a-center{ width: 80%; height: 30%; margin: 48% auto 0;}
.page-a-center p{ font: 14px/25px "微软雅黑"; color: #6b6961; background: url(../images/yd.png) left 5px no-repeat; padding-left: 10%}
.page-a-center p label{ color: #ffaa00;}
.page-a-int-bd{ width: 50%; height: 55px; margin: 32% auto 0; }
.page-a-int{ width: 100%; height: 55px; background: #FFAA00; font: 30px/55px "微软雅黑"; color: #fff; text-align:center; outline: none; border-radius: 50px; box-shadow: 0 5px 0 #B87B00}
.page-a-foot{ width: 80%; margin: 15% auto 0; }
.page-a-foot p{ font: 14px/25px "微软雅黑"; color: #fff; text-align: center;}

/*------页面二------*/
.page-b{ width: 100%; height: 100%; background: #FFAA00;}
.page-tqdb{ width: 95%; height: 95%; background: url(../images/tqdb.png) no-repeat; background-size: 100% 100%; margin: 4% auto 0; overflow: hidden;}
.page-b-center{ width: 80%; height: 30%; margin: 95% auto 0;}
.page-b-center p{ font: 14px/25px "微软雅黑"; color: #fff; background: url(../images/yd-t.png) left 5px no-repeat; padding-left: 10%; margin-bottom: 5%; }
.page-b-int-bd{ width: 50%; height: 55px; margin: 5% auto 0; }


.sroll-top{ width: 24px; height: 23px; position: absolute; left: 50%; margin-left: -3%; bottom: 20px; z-index: 9999; animation: pic 1.4s ease both infinite; -webkit-animation: pic 1.4s ease both infinite;}
@-webkit-keyframes pic {
    0%{-webkit-transform: translateY(100%); opacity: 0;}
    50%{ -webkit-transform: translateY(0%); opacity: 1;}
    100%{ -webkit-transform: translateY(-100%); opacity: 0;}
}
@keyframes pic {
    0%{ transform: translateY(100%); opacity: 0;}
    50%{ transform: translateY(0%); opacity: 1;}
    100%{ transform: translateY(-100%); opacity: 0;}
}

/*------特权大白-------*/
.tzyl-box{ width: 100%; background: #FFFCF5; overflow: hidden; padding-bottom: 40px;}
.tzyl{ width:40%; margin: 5% 2%;}
.alte-a{ width: 85%; margin: 0 auto;}
.tzyl-box h1{ width: 90%; font: 24px/30px "微软雅黑"; text-align: center; margin: 20px auto 0; color: #ff8000;}
.tzyl-box h2{ width: 90%; font: 14px/30px "微软雅黑"; text-align: center; margin: 20px auto 0; color: #010101;}
.dacp-content{ width: 100%; margin: 20px auto;}


.czyl-box{ width: 100%; background: #fff; overflow: hidden; padding-bottom: 40px;}
.alte-b{ width: 70%; margin: 0 auto;}
.czyl-box h1{ width: 90%; font: 24px/30px "微软雅黑"; text-align: center; margin: 20px auto 0; color: #ff8000;}
.czyl-box h2{ width: 90%; font: 14px/30px "微软雅黑"; text-align: center; margin: 20px auto 0; color: #010101;}




































