/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; background: #FFFCF5;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; -webkit-appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}

.ywdb-header{ width: 100%; height: 80px; background: #FF8000;}
.ywdb-header-lt{ width: 10%; height: 80px; float: left; text-align: center; background-size: 10px; line-height: 80px; padding-left: 2%;}
.ywdb-header-lt img{ height: 30px;}
.ywdb-header-ct{ width: 73%; height: 80px; float: left; text-align: center; font: 26px/80px "微软雅黑"; color: #fff;}
.ywdb-header-rt{ width: 10%; height: 80px; float: right; text-align: center; background-size: 10px; line-height: 80px; padding-right: 5%;}
.ywdb-header-rt img{ height: 33px;}

.ywdb-nav{ width: 95%; margin: 20px auto 0;}
.ywdb-nav li{ width: 100%;margin-bottom: 20px; border-radius: 5px; position: relative;}
.ywdb-nav .nav-title{ height: 60px; }
.ywdb-nav .nav-title a{ color: #ff8000; font: 24px/60px "微软雅黑"; display: block; padding-left:20%;}
.ywdb-nav .nav-title a:hover{width: 80%; height: 60px;}
.ywdb-nav .nav-title span{ width: 39px; height: 25px; background: url(../images/ywdb-bt.png) center no-repeat; position: absolute; right: 10px; top: 20px; background-size: 30px;}
.ywdb-nav .nav-title .v01{ width: 39px; height: 25px; background: url(../images/ywdb-bt.png) center no-repeat; position: absolute; right: 10px; top: 20px; background-size: 30px;}
.ywdb-nav .nav-title .v02{ width: 39px; height: 25px; background: url(../images/ywdb-top.png) center no-repeat; position: absolute; right: 10px; top: 20px; background-size: 30px;}

.ywdb-nav li:nth-child(1){ background:#FFF4DE url(../images/about.png) 5% 15px no-repeat; background-size: 9%;}
.ywdb-nav li:nth-child(2){ background:#FFF4DE url(../images/dl.png) 5% 15px no-repeat; background-size: 9%;}
.ywdb-nav li:nth-child(3){ background:#FFF4DE url(../images/cz.png) 6% 15px no-repeat; background-size: 7%;}
.ywdb-nav li:nth-child(4){ background:#FFF4DE url(../images/aq.png) 5% 15px no-repeat; background-size: 9%;}
.ywdb-nav li:nth-child(5){ background:#FFF4DE url(../images/tj.png) 5% 15px no-repeat; background-size: 9%;}
.ywdb-nav li:nth-child(6){ background:#FFF4DE url(../images/qt.png) 6% 15px no-repeat; background-size: 9%;}
/*----二级菜单----*/
.ywdb-nav .menu{ width: 100%; background: #fff; display:none;}
.ywdb-nav .menu li{ width: 95%; height: 60px; margin: 0 auto; font: 24px/60px "微软雅黑"; border-bottom: 1px solid #FFF9ED; background: none; color: #737373;}
.ywdb-nav .menu li a{ color: #737373;}



/*------text-----*/
.ywdb-text{ width: 90%; margin: 0 auto;}
.ywdb-text p{ font: 16px/25px "微软雅黑"; color: #000; text-indent: 24px; margin-top: 20px;}
.ywdb-int-bd{ width: 90%; margin: 0 auto;}
.ywdb-int{ width: 100%; height:50px; margin:50px auto 0; background: #ff8000; font: 16px/50px "微软雅黑"; color: #fff; text-align: center; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; outline: none;}
















