input{border:0}
.mooncake-banner{ width: 100%; height: 906px; background: url(../images/banner.jpg) no-repeat; background-size: 100%;}
.mooncake-box{ width: 1005px; height: 3600px; margin:-200px auto 0;}
.mooncake-dl{ width: 1005px;}
.mooncake-dl h1{ font: 14px/25px "微软雅黑"; color: #fff;}
.mooncake-dl h1 a{color: #fff;}
.mooncake-event-one{ width: 1000px; margin-top: 30px;}
.mooncake-event-pic{ width: 91px; height: 117px; float: left; display: inline;}
.mooncake-event-bd{ width: 600px; height: 117px; float: left; display: inline; margin-left:20px;}
.mooncake-event-bd h1{ color: #fff; font: 28px/25px "微软雅黑"; margin-top: 10px;}
.mooncake-event-bd h1 span{ color: #ffe638;}
.mooncake-event-bd h2{ color: #fff; font: 14px/25px "微软雅黑"; margin-top: 20px;}
.mooncake-event-bd h2 span{ color: #ffe638;}
.mooncake-event-sjzf{ width: 286px; height: 93px; float: right; display: inline; margin-top: 10px;}

.mooncake-list-nav{ width: 1005px;margin-top: 45px;}
.mooncake-list-nav li{ width: 125px; height: 125px; float: left; display: inline; background: url(../images/monk-list.png) no-repeat; position: relative; margin:0 95px 40px 0;}
.mooncake-list-nav li img{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; z-index: 10;}
.mooncake-list-nav .navbg{ width: 133px; height: 125px; background: url(../images/monk-list-bg.png) no-repeat; position:relative; }
.mooncake-list-nav .navbg span{ width: 30px; height: 30px; font: 13px/30px "微软雅黑"; color: #FCD400; position: absolute; right: 0; top: 7px; font-weight: bold; text-align: center;}
.mooncake-list-font{ width: 1005px; height: 44px;}
.mooncake-list-font-bd{ width: 490px; height: 44px; font: 20px/44px "微软雅黑"; font-weight: bold; text-align: center; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #7C1C05; color: #FFAC00; cursor: pointer;}
.mooncake-list-font-bd-bg{ background: #FFAC00; color: #ab2c00;}
.mooncake-list-font-bd-too{ width: 490px; height: 44px; font: 20px/44px "微软雅黑"; font-weight: bold; text-indent: 75px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #7C1C05 url(../images/monk-xin.png) 15px center no-repeat; color: #fff; cursor: pointer;}
.mooncake-list-font-bd-bg-to{ background: #FFAC00 url(../images/monk-xin.png) 15px center no-repeat;; color: #ab2c00;}


.mooncake-dzj{ width: 1005px; height: 45px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#7C1C05 url(../images/monk-xin.png) 10px center no-repeat; margin: 88px 0 38px; font:21px/45px "微软雅黑"; text-indent: 66px; color: #fff;}

.mooncake-dzj-bd{ width: 1005px; height: 157px;}
.mooncake-dzj-pic{ width: 357px; height: 157px; float: left; display: inline; background: url(../images/dzj.png) no-repeat; font: 28px/157px "微软雅黑"; color: #da2a00; text-align: center;}
.mooncake-dzj-pic span{ font: 48px/157px "微软雅黑";}
.mooncake-dzj-tyms{ width: 299px; height: 146px; float: left; display: inline; margin:8px 25px 0; cursor: pointer;}
.mooncake-dzj-lrms{ width: 299px; height: 144px; float: left; display: inline; margin-top: 8px; cursor: pointer;}
.mooncake-dzj-font{ width: 1005px; margin: 0 auto;}
.mooncake-dzj-font .pos-r{ font: 14px/35px "微软雅黑"; color: #fff; background: url(../images/monk-xin-to.png) left 6px no-repeat; padding-left: 30px; position: relative;}
.mooncake-dzj-font .pos-a{ position: absolute; left: 6px;}
.mooncake-dzj-font .pos-r i{ color: #ffe638; font-style: normal;}

.mooncake-prize{ width: 1005px; height: 420px; margin:50px auto 90px; position: relative;}
.mooncake-prize-er-bd{ width: 287px; position: absolute;}
.mooncake-prize-er{ width: 287px; height: 88px;}
.mooncake-prize-lq{ width: 225px; height: 58px; margin: 20px auto;}

.mooncake-table-bd{ width: 1005px; margin: 60px auto 0; display: none;}
.mooncake-table-lt{ width: 159px; float: left; display: inline;}
.mooncake-table-int{ width: 159px; height: 32px; background: #ffac00; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; outline: none; border: none; margin-bottom: 30px; text-align: center; color: #ae2505; font: 14px/32px "微软雅黑";}

.mooncake-table-t{ width: 159px; height: 59px; background: url(../images/suit-t.png) no-repeat; font: 18px/59px "微软雅黑"; color: #ae2505; text-align: center; cursor: pointer;}
.mooncake-table-t-too{ width: 159px; height: 59px; background: url(../images/suit-b.png) no-repeat; font: 20px/59px "微软雅黑"; color: #ae2505; text-align: center; cursor: pointer;}
.mooncake-table-jt{ width: 12px; height: 25px; margin: 5px auto;}
.mooncake-table-rt{ width: 1005px; float: right; display: inline;}
.mooncake-table-rt td{ border: 1px solid #7C1C05; text-align: center;}
.table-border{ border-collapse: collapse;}
.bodnoe td{ border-top:none;}
.mooncake-table-rt h1{ font-size: 18px; font-family: 微软雅黑; color: #ffac00; font-weight: normal;}
.mooncake-table-rt p{ font-size: 14px; font-family: 微软雅黑; color: #fff; font-weight: normal;}
.mooncake-table-rt-but{ width: 120px; height: 35px; color: #ae2505; font-size: 16px; font-family: 微软雅黑; text-align: center; background: #ffbf00; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; outline: none; cursor: pointer;}
.span-but{ width: 150px; height: 35px; background: #fff; margin-top: 7px; outline: none; padding-left: 5px; float: left; display: inline; margin-left: 10px;}
.mooncake-table-rt h2{ float:left; font: 16px/50px "微软雅黑";color: #ffbf00; text-indent: 24px;}



.mooncake-page-nav{ width: 100%; height: 30px; float: right; display: inline; margin: 20px 0 20px;}
.mooncake-page-nav li{ width: 32px; height: 30px; font: 14px/30px "微软雅黑"; background: #7c1c05; text-align: center; color: #fff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; float: right; display: inline; margin: 0 5px; cursor: pointer;}
.mooncake-page-nav li a{ color: #fff;}

.mooncake-dzj-font-finish{ width: 1005px; margin: 0 auto;}
.mooncake-dzj-font-finish h2{ color: #ffac00; font: 14px/28px "微软雅黑"; text-indent: 35px; margin: 40px 0 20px;}
.mooncake-dzj-font-finish .pos-d{ font: 14px/30px "微软雅黑"; color: #fff; background: url(../images/monk-xin-to.png) left 3px no-repeat; padding-left: 30px; position: relative; margin-bottom: 10px;}
.mooncake-dzj-font-finish .pos-l{ position: absolute; left: 6px; top: 1px;  font: 14px/28px "微软雅黑";}
.mooncake-dzj-font-finish .pos-d i{ font: 14px/28px "微软雅黑";color: #fff; text-align: left; font-style: normal; display: block;}



/*收集字符*/
#fade{ width:100%; height:100%; background:#000; opacity:0.6; position:fixed; left:0; top:0; z-index:10; display:none;}
.m-proud,.m-proud-jhcg{ width: 420px; height: 350px; margin:auto; background: #fff; border-radius: 8px; -webkit-border-radius: 8px;-moz-border-radius: 8px;display:none; position:fixed; left: 0; top:0; right: 0; bottom: 0; z-index: 9999; border: 5px solid #A17F77;}
.m-flow{ width: 329px; height: 96px; position: absolute; z-index: 8888; left: 10%; top:7%;}
.m-prd{ width: 195px; height: 63px; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; font: 28px/63px "微软雅黑"; color: #C8110D; text-indent: 55px; position: absolute; z-index: 9999; left: 27%; top: 12%; background: url(../images/monk-tz.png) no-repeat; cursor: pointer;}
.m-prd a{width: 195px; height: 63px; color: #C8110D; display: block;}
.m-xx{ width: 17px; height: 18px; position: absolute; right: 10px; top: 10px; cursor: pointer;}
.m-foter{ width: 360px; margin:31% auto 5%;}
.m-foter p{ font: 14px/25px "微软雅黑"; color: #c8110d; text-align: center;}

/*交换成功*/
.m-flow-gh{ width: 329px; height: 96px; position: absolute; z-index: 8888; left: 10%; top:27%;}
.m-prd-gh{ width: 250px; height: 63px; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; font: 46px/63px "微软雅黑"; color: #C8110D; text-indent: 55px; position: absolute; z-index: 9999; left: 15%; top: 32%;}
.m-foter-gh{ width: 360px; margin:45% auto 10%;}
.m-foter-gh p{ font: 16px/25px "微软雅黑"; color: #c8110d; text-align: center;}
.m-but{ width: 85px; height: 40px; font: 16px/40px "微软雅黑"; margin: 30px 170px 0; background: #FFBE00; border-radius: 5px; color: #ae2505; outline: none; cursor: pointer;}

/*取消交换*/
.m-proud-qxjh{ width: 420px; height: 255px; margin:auto; background: #fff; border-radius: 8px; -webkit-border-radius: 8px;-moz-border-radius: 8px;display:none; position:fixed; left: 0; top:0; right: 0; bottom: 0; z-index: 9999; border: 5px solid #A17F77;}
.m-prd-qx{ width: 420px; height: 63px; text-align: center; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; font: 32px/63px "微软雅黑"; color: #C8110D;  margin: 80px 0 30px;}
.m-but-qx{ width: 120px; height: 40px; font: 16px/40px "微软雅黑"; background: #FFBE00;  border-radius: 5px; color: #ae2505; outline: none; cursor: pointer;}


/*体验字符*/
.m-proud-tyzf{ width: 420px; height: 355px; margin:auto; background: #fff; border-radius: 8px; -webkit-border-radius: 8px;-moz-border-radius: 8px;display:none; position:fixed; left: 0; top:0; right: 0; bottom: 0; z-index: 9999; border: 5px solid #A17F77;}
.m-pround-zf-font{ width: 125px; height: 125px; background: url(../images/monk-list-zf.png) no-repeat; margin: 85px auto 0; position: relative;}
.m-pround-zf-font img{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
.m-prd-tyzf{ width: 420px; height: 63px; text-align: center; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; font: 14px/63px "微软雅黑"; color: #C8110D;}
.m-but-tyzf{ width: 90px; height: 40px; font: 16px/40px "微软雅黑"; background: #FFBE00;  border-radius: 5px; color: #ae2505; outline: none; cursor: pointer; margin-top: 10px;}


/*懒人字符*/
.m-proud-lrzf{ width: 420px; height: 355px; margin:auto; background: #fff; border-radius: 8px; -webkit-border-radius: 8px;-moz-border-radius: 8px;display:none; position:fixed; left: 0; top:0; right: 0; bottom: 0; z-index: 9999; border: 5px solid #A17F77;}
.m-pround-lrzf-font-lr{ width: 82px; height: 82px; background: url(../images/monk-list-lr.png) no-repeat; position: relative; float: left; display: inline;}
.m-pround-lrzf-font-lr img{ width: 35px; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
.m-prd-lrzf-lr{ width: 420px; height: 63px; text-align: center; margin-top: 220px; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; font: 14px/63px "微软雅黑"; color: #C8110D;}
.m-but-lrzf-lr{ width: 90px; height: 40px; font: 16px/40px "微软雅黑"; background: #FFBE00;  border-radius: 5px; color: #ae2505; outline: none; cursor: pointer; margin-top: 10px;}


/*两字*/
.m-proud-two,.m-proud-three,.m-proud-five,.m-proud-seven,.m-proud-swz{ width: 685px; height: 505px; margin:auto; background: #fff; border-radius: 8px; -webkit-border-radius: 8px;-moz-border-radius: 8px;display:none; position:fixed; left: 0; top:0; right: 0; bottom: 0; z-index: 9999; border: 5px solid #A17F77;}
.m-pround-lrzf-font{ width:78px; height: 73px; background: url(../images/monk-list-hd.png) 1px 2px no-repeat; position:absolute; float: left; display: inline; cursor: pointer;}
.m-pround-lrzf-font-hover{ width: 77px; height: 73px; background: url(../images/monk-list-hd-hover.png)  2px 0  no-repeat; position:absolute; float: left; display: inline;}
.m-pround-lrzf-font img{ width: 30px; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
.m-prd-lrzf{ width: 600px; height: 63px; margin: 350px auto 0; text-align: center; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; font: 14px/30px "微软雅黑"; color: #C8110D;}
.m-but-lrzf{ width: 145px; height: 58px; font: 20px/58px "微软雅黑"; background: #FFBE00;  border-radius: 5px; color: #ae2505; outline: none; cursor: pointer; margin:10px 270px 0;}
.m-small-font{ width: 18px; height: 20px; margin: 6px 0 0 -1px; float: right; font: 12px/20px "微软雅黑"; color: #ffab00; text-align: center;}




.left{ float: left; display: inline;}
.right{ float: right; display: inline;}
.hui{ background: #A7A5A5; color: #333333;}






















