/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
body{ background:#fff;font-family:"微软雅黑";color:#333;}
img{border:none; display: inline-block;vertical-align: middle}
ul{list-style-type:none;padding: 0;margin:0;}
ul li{list-style-type:none;padding: 0;margin:0;}
input{padding:0;}
a{text-decoration: none; cursor:pointer; color:#666666;}
a:hover{text-decoration: none;}
.clear{ clear: both;}
.left{ float: left; display: inline;}
.right{ float: right; display: inline;}
.hui{ background: #A7A5A5; color: #333333;}
/*-------初始化end--------*/


/*-------头部start--------*/
.indextop{float:left;width:100%;background: #4C3F37;font-size: 12px;}
.indextopone{width:1000px;margin:0 auto;}
.indextopone ul{float:left;width:100%;}
.indextoplione{float:left;height:33px;line-height: 33px;color: #ccc;width:50%;}
.indextoplitwo{color: #FF7700; font-weight:bold; margin-left:25px;}
.indextoplithree{float:right;height:33px;line-height: 33px;color: #ccc;width:50%;text-align: right;}
.indextoplifour{background: url(../images/indexphone.jpg) no-repeat 0 50%;padding-left:20px;margin-right: 15px;color:#ccc;}
.indextoplifive{padding-left: 10px;padding-right: 10px;border-right: 1px solid #ccc;color: #ccc;}
.indextoplisix{padding-left: 10px;color: #ccc;}
.indexhead{width:100%;background: #fff;border-bottom: 2.5px solid #AB6D20;padding-top:30px;padding-bottom: 30px;height:60px;}
.indexheadone{width:1000px;margin:0 auto;padding-top: 20px;}
.indexheadone ul{float:left;width:100%;}
.indexheadlione{float:left;width:40%;}
.indexheadpicone{float:left;background: url(../images/indexlogo.jpg) no-repeat;width:132px;height:50px;}
.indexheadpictwo{float:left;background: url(../images/indexad.jpg) no-repeat 10px 50%;width:204px;height:35px;border-left: 2px solid #ccc;margin-left:10px;margin-top:10px;}
.indexheadlitwo{float:left;width:60%;margin-top:8px;height:35px;line-height: 35px;}
.indexheadlinkone{color:#AB6D20;float:left;font-size: 18px;margin-left:54px;}
.indexheadlinktwo{float:left;font-size: 18px;margin-left:30px;color:#AB6D20;}

/*-------头部end--------*/



/*-------尾部start--------*/
.indexfooter{float:left; width:100%; background: #4C3F37;padding-bottom: 18px;}
.footercontent{width:1000px;margin:0 auto;}
.footercontentone{float:left;width:100%;margin-top:39px;}
.footerlinkmenu{float:left;width:480px;margin-left:20px;}
.footerlinkmenu li{float:left;width:100%;height:26px;line-height: 26px;}
.footerlinkmenu li a{float:left;width:21%;background: url(../images/fotIcon.jpg) no-repeat 0 50%;padding-left: 17px;color: #8A8A8A;font-size: 14px;}
.footerguanzhu{float:left;width:122px;margin-left:26px;}
.footerguanzhu li{float:left;width:100%;height:26px;line-height: 26px;font-size: 14px;color:#8A8A8A;}
.footerguanzhu li a{float:left;width:117px;height:35px;background:url(../images/shejiao_03.png) no-repeat;margin-top:10px;}
.footerguanzhu li a:hover{background:url(../images/shejiao_03.png) no-repeat 0px -36px;}
.footerkefu{float:left;width:260px;margin-left:73px;}
.footerkefupic{float:left;width:79px;height:80px;background: url(../images/erWeiMa.png) no-repeat;}
.footerkefuword{float:left;margin-left:23px;width:145px;}
.footerkefuone{float:left;width:145px;font-size: 14px;color: #8A8A8A;}
.footerkefutwo{float:left;width:145px;font-size: 18px;color: #8A8A8A;height:29px;line-height: 29px;font-weight: bold;}
.footerkefuthree{float:left;width:128px;height:23px;background: url(../images/footerhezuo.png) no-repeat;}
.footerkefufour{float:left;width:145px;font-size: 12px;color: #8A8A8A;height:21px;line-height: 21px;margin-top:8px;}
.footercontenttwo{float:left;width:100%;margin-top:30px;border-top: 1px solid #8a8a8a;}
.footercontenttwo ul{float:left;margin-top:26px;width:100%;}
.footercontenttwo ul li{float:left;width:100%;}
.footertwopicone{float:left;width:51%;height:42px;background: url(../images/rengZheng01.jpg) no-repeat 97% 0;}
.footertwopictwo{float:left;width:112px;height:42px;background: url(../images/rengZheng02.jpg) no-repeat;margin-left: 8px;}
.footertwopictwo ul{float:left;width:100%;}
.footertwopictwo ul li{float:left;width:100%;}
.footertwoword{font-size: 12px;color: #8A8A8A;text-align: center;margin-top: 20px;}

/*-------尾部end--------*/


