.sand .white {
    color: #fff;
}
.grow {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.page-a {
    width: 100%;
    height: 749px;
    background: url(../images/page-a.jpg) no-repeat;
}
.tet-a {
    width: 466px;
    height: 312px;
    margin: 100px auto 75px;
}
.next {
    width: 204px;
    height: 61px;
    margin: 0 auto;
}
.nub {
    width: 131px;
    height: 134px;
    margin: 140px auto 0;
}
.page-b {
    width: 100%;
    height: 739px;
    background: #F4FCFE url(../images/page-b.jpg) no-repeat;;
}
.sand h1 {
    font: 36px/36px "微软雅黑";
    color: #2b8eca;
    text-align: center;
    color: #333;
    font-weight: bold;
    margin: 100px 0 25px;
    letter-spacing: 2px;
}
.sand h1 span {
    font-weight: normal;
    color: #7a7a7a;
}
.sand h2 {
    font: 15px/30px "微软雅黑";
    color: #828181;
    text-align: center;
    letter-spacing: 3px;
}
.hjb-bd {
    width: 700px;
    margin: 70px auto 0;
}
.hjb-nav {
    width: 690px;
    float: left;
    display: inline;
    margin: 0 auto;
}
.hjb-nav li {
    width: 200px;
    float: left;
    display: inline;
}
.hjb-nav li h1 {
    font: 18px/36px "微软雅黑";
    text-align: center;
    margin: 15px 0 0px;
    color: #323232;
    letter-spacing: 0;
}
.hjb-nav li p {
    font: 14px/25px "微软雅黑";
    text-align: center;
    color: #767676;
}
.hjb-int {
    position: relative;
    width: 105px;
    height: 35px;
    margin: 20px auto 0;
    font: 16px/35px "微软雅黑";
    text-align: center;
    border: 1px solid #000;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.hjb-int a {
    position: absolute;
    left: 0;
    right: 0;
    margin: -12px auto 0;
    padding-top: 12px;
    color: #333;
    background: url(../images/jiantou.png) 50% top no-repeat;
    z-index: 9999;
}
.hjb-int a:hover {
    width: 105px;
    height: 35px;
}
.hjb-pic {
    width: 220px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}
.page-c {
    width: 100%;
    height: 740px;
    background: url(../images/page-c.jpg) no-repeat;;
}
.money-nav {
    margin: 10px auto 0;
}
.money-nav li {
    position: relative;
    width: 442px;
    float: left;
    display: inline;
}
.money-nav li:nth-child(3) {
    margin-right: 0;
}
.money-pic {
    width: 560px;
    height: 475px;
}
.money-red {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 105px;
    width: 105px;
    height: 105px;
    margin: 0 0 0 237px;
    color: #fff;
    font: 15px/35px "微软雅黑";
    text-align: center;
    line-height: 105px;
    background: url(../images/yellow_yuan.png) 50% 50% no-repeat;
}
.money-int {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 105px;
    width: 105px;
    height: 105px;
    margin: 0 0 0 165px;
    color: #fff;
    font: 15px/35px "微软雅黑";
    text-align: center;
    line-height: 105px;
    background: url(../images/yellow_yuan.png) 50% 50% no-repeat;
}
.money-int a {
    display: block;
    color: #59bffd;
}
.money-int a:hover {
    width: 120px;
    height: 35px;
}
.page-d {
    width: 100%;
    height: 738px;
    background: #FDFEFF;
}
.zgb {
    width: 1000px;
    height: 347px;
    margin: 20px auto 0;
}
.page-e {
    width: 100%;
    height: 708px;
    background: url(../images/page-e.jpg) no-repeat;
}
.code-bd {
    width: 770px;
    margin: 80px auto 0;
}
.code-box {
    width: 383px;
}
.code-pic {
    width: 383px;
    height: 249px;
}
.code-font {
    width: 253px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 0;
    margin-left: 5px;
}
.code-font p {
    font: 14px/26px "微软雅黑";
    color: #000;
    text-align: center;
}

/*css3*/
.p1-c1 {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.yun1 {
    width: 146px;
    height: 83px;
    position: absolute;
    top: 160px;
    left: -90px;
    animation: move 3s infinite linear alternate;
}
.yun2 {
    width: 64px;
    height: 44px;
    position: absolute;
    top: 415px;
    left: -200px;
    animation: move 4s infinite linear alternate;
}
.yun3 {
    width: 69px;
    height: 55px;
    position: absolute;
    top: 345px;
    left: 115px;
    animation: move 5s infinite linear alternate;
}
.yun4 {
    width: 134px;
    height: 91px;
    position: absolute;
    top: 320px;
    right: 170px;
    animation: move 3.5s infinite linear alternate;
}
.yun5 {
    width: 46px;
    height: 32px;
    position: absolute;
    top: 270px;
    right: 118px;
    animation: move 4.2s infinite linear alternate;
}
.yun6 {
    width: 134px;
    height: 91px;
    position: absolute;
    top: 387px;
    right: -163px;
    animation: move 3s infinite linear alternate;
}
.gral1 {
    width: 72px;
    height: 50px;
    position: absolute;
    top: 255px;
    left: -125px;
    animation: move 4.5s infinite linear alternate;
}
.gral2 {
    width: 45px;
    height: 31px;
    position: absolute;
    top: 525px;
    left: 10px;
    animation: move 3s infinite linear alternate;
}
.gral3 {
    width: 65px;
    height: 45px;
    position: absolute;
    top: 370px;
    right: -30px;
    animation: move 3.8s infinite linear alternate;
}
.gral4 {
    width: 134px;
    height: 93px;
    position: absolute;
    top: 580px;
    right: -210px;
    animation: move 3.5s infinite linear alternate;
}
.tran1 {
    width: 87px;
    height: 87px;
    position: absolute;
    top: 150px;
    left: -140px;
    animation: tran 3s infinite linear alternate;
}
.tran2 {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 515px;
    left: -160px;
    animation: tran 3.5s infinite linear alternate;
}
.tran3 {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 500px;
    left: 200px;
    animation: tran 3s infinite linear alternate;
}
.tran4 {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 400px;
    right: 20px;
    animation: tran 4s infinite linear alternate;
}
.tran5 {
    width: 69px;
    height: 69px;
    position: absolute;
    top: 295px;
    right: -174px;
    animation: tran 4.2s infinite linear alternate;
}
.fk1 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 245px;
    left: -75px;
    animation: tran 1s infinite linear alternate;
}
.fk2 {
    width: 37px;
    height: 37px;
    position: absolute;
    top: 257px;
    left: -368px;
    animation: tran 3.5s infinite linear alternate;
}
.fk3 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 560px;
    left: -200px;
    animation: tran 2.7s infinite linear alternate;
}
.fk4 {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 590px;
    left: 320px;
    animation: tran 4s infinite linear alternate;
}
.fk5 {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 380px;
    right: -190px;
    animation: tran 2.5s infinite linear alternate;
}
.fk6 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 587px;
    right: -230px;
    animation: tran 3s infinite linear alternate;
}
@keyframes move {
    50% {
        transform: translate(0, -20px);
    }
    100% {
        transform: translate(0, 20px);
    }
}
@keyframes moved {
    50% {
        transform: translate(100, 0);
    }
    100% {
        transform: translate(-100, 0);
    }
}
@keyframes tran {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width:500px) {
    .p1-c1 {
        display: none;
    }
}