.carnival {
    width: 1000px;
    margin: 0 auto;
}
.fix {
    position: fixed;
    right: 12%;
    top: 300px;
    width: 110px;
    height: 240px;
    background: url(../images/fix.png) 0 0 no-repeat;
    z-index: 1000;
}
@media screen and (max-width:1400px){  
     .fix {
        position: fixed;
        right: 0%;
        top: 300px;
        width: 110px;
        height: 240px;
        background: url(../images/fix.png) 0 0 no-repeat;
        z-index: 9999;
    }
}  
.banner-activity {
    position: relative;
    width: 100%;
    height: 1515px;
    background: url(../images/shendan.jpg) 52% 0 no-repeat;
}
.tit {
    width: 578px;
    height: 350px;
    margin: 0 auto;
    background: url(../images/shendantime.png) 50% 0 no-repeat;
}


/*轻浮动*/
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }


/*change*/
.open-gift {
    display: block;
    width: 285px;
    height: 250px;
    margin: 175px auto 0;
}

.content-acti .share {
    float: left;
    width: 430px;
    height: 450px;
    margin: -100px 20px 0 15%;
    background: url(../images/share.png) 50% 0 no-repeat;
}
@media screen and (max-width: 1200px){
    .content-acti .share {
        float: left;
        width: 430px;
        height: 450px;
        margin: -100px 20px 0 9%;
        background: url(../images/share.png) 50% 0 no-repeat;
    }
}
.content-acti .share-first {
    width: 275px;
    height: 25px;
    padding: 175px 0 0 140px;
    font-size: 13px;
    color: #3c3c3c;
}
.content-acti .share-sec {
    width: 275px;
    height: 25px;
    padding: 0px 0 0 140px;
    font-size: 13px;
    color: #3c3c3c;
}
.content-acti .share-four {
    width: 275px;
    height: 25px;
    padding: 5px 0 0 148px;
    font-size: 13px;
    color: #3c3c3c;
}

.share .share-we {
    display: block;
    width: 275px;
    height: 25px;
    padding: 42px 0 0 148px;
    font-size: 15px;
    color: #fff;
}
.share .share-infor {
    width: 400px;
    height: 25px;
    padding: 5px 0 0 20px;
    font-size: 13px;
    text-align: center;
    color: #f85246;
}
.content-acti .list-name {
    float: left;
    width: 415px;
    height: 260px;
    margin-top: 70px;
    padding-top: 20px;
    background: url(../images/list.png) 50% 0 no-repeat;
}

.list-name-con {
    width: 390px;
    height: 190px;
    padding-top: 50px;
    padding-left: 25px;
}
.list-name-con li {
    overflow: hidden;
    width: 90%;
    height: 30px;
    line-height: 30px;
}
.list-name-con .first-sn {
    width: 130px;
    height: 30px;
    margin-right: 4px;
}
.list-name-con .sec-sn {
    width: 82px;
    height: 30px;
}
.list-name-con li span {
    float: left;
    line-height: 30px;
    font-size: 13px;
    color: #000;
    text-align: left;
    font-weight: normal;
}
.content-acti .my-infor {
    float: left;
    width: 430px;
    height: 435px;
    margin: -80px 0px 0px 17px;
    background: url(../images/infor.png) 50% 0 no-repeat;
}
.content-acti .my-infor a {
    display: block;
    width: 150px;
    height: 35px;
    padding: 60px 0 0 250px;
    font-size: 15px;
    color: #f85246;
    text-decoration: underline;
}
.content-acti .my-infor h3 {
    width: 110px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-size: 22px;
    color: #000;
}
.my-infor .gift {
    float: left;
    width: 250px;
    text-align: center;
    padding-top: 38px;
    padding-left: 110px;
    color: #fff;
    font-size: 15px;
}
.my-infor span{
    font-size: 18px;
    text-align: center;
}
.my-infor .money {
    float: left;
    width: 250px;
    text-align: center;
    padding-top: 60px;
    padding-left: 105px;
    color: #fff;
    font-size: 15px;
}
.my-infor .money span {
    font-size: 18px;
    text-align: center;
}

.content-acti .my-login {
    float: left;
    width: 430px;
    height: 435px;
    margin: -80px 0px 0px 17px;
    background: url(../images/login-acti.png) 50% 0 no-repeat;
}
.my-login span {
    display: block;
    width: 200px;
    height: 50px;
    padding-top: 230px;
    padding-left: 160px;
    font-size: 22px;
    line-height: 50px;
    color: #fff;
}
.content-acti .my-login p {
    width: 215px;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: #000;
}
.my-login a {
    text-decoration: underline;
    color: #f85246;
    font-size: 15px;
}
.acti-intro {
    width: 380px;
    height: 35px;
    margin: 0 auto;
    background: url(../images/acti-intro.png) 50% 0 no-repeat;
}
.banner-activity .acti-intro-p {
    width: 620px;
    margin: 0 auto 0;
    color: #5b190b;
    text-align: center;
    font-size: 15px;
}

/*计算器*/
.cal {
    overflow: hidden;
    width: 700px;
    margin: 65px auto 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.cal span {
    float: left;
}
.cal input {
    text-align: center;
    font-size: 22px;
    color: #ddd;
}
.banner-activity p {
    width: 700px;
    margin: 15px auto 0;
    color: #fff;
    font-size: 15px;
}
.inputfirst {
    float: left;
    width: 110px;
    height: 35px;
    border: 1px solid #000;
    background: #f7f7f7;
}
.inputsecond {
    float: left;
    width: 170px;
    height: 35px;
    border: 1px solid #000;
    background: #f7f7f7;
}
/*奖品主体*/
.wrap-activity {
    position: relative;
    width: 100%;
    background: url(../images/snow.jpg) 50% 0 no-repeat;
}

.carnival-content {
    width: 998px;
    background: #D9611C;
    border: 1px solid #F27E3A;
    border-top: none;
    overflow: hidden;
    padding-bottom: 25px;
}
.carnival-content-title {
    width: 238px;
    height: 52px;
    margin: 20px auto 30px;
}
.carnival-content p {
    width: 952px;
    margin: 0 auto;
    font: 14px/35px "微软雅黑";
    color: #fff;
}
.content-bg {
    background: url(../images/conter-bg.png) bottom no-repeat;
    padding-bottom: 30px;
}
.carnival-content span {
    margin-left: 85px;
}
.carnival-content b {
    color: #f6ff00;
    font: 18px/35px "微软雅黑";
}
.carnival-content label {
    color: #691575;
}
.price-bd {
    width: 997px;
    height: 56px;
    background: url(../images/price-bg.png) no-repeat;
}
.price-font {
    width: 265px;
    height: 53px;
    font: 18px/56px "微软雅黑";
    color: #fff;
    text-align: center;
    background: #ac5f46;
}
.price-font a {
    color: #fff;
}
.price-font-dl {
    width: 215px;
    height: 53px;
    font: 14px/25px "微软雅黑";
    color: #fff;
    text-align: center;
    background: #E62A17;
    padding-top: 3px;
}
.price-font-dl label {
    color: #fffc00;
    font-size: 18px;
}
.price-center {
    width: 563px;
    height: 56px;
    position: relative;
    margin-left: 2px;
}
.price-lqjp {
    width: 264px;
    height: 67px;
    position: absolute;
    left: 222px;
    bottom: 18px;
}
.price-bot {
    width: 19px;
    height: 17px;
    position: absolute;
    left: 275px;
    top: 65px;
}
.price-nav {
    overflow: hidden;
    width: 1000px;
    height: 2685px;
    margin: 0 auto;
}

.nub {
    overflow: hidden;
    width: 265px;
    height: 231px;
    float: left;
    display: inline;
    position: relative;
}
.nub p {
    font: 16px/28px "微软雅黑";
    position: absolute;
    left: 43px;
    bottom: 30px;
    color: #5b190b;
    text-align: center;
    letter-spacing: 1px;
}
.nub p label {
    font-size: 18px;
    color: #e62a17;
}
.list {
    float: left;
    width: 242px;
    height: 231px;
    overflow: hidden;
    margin-left: 1px;
} 
.list-intro {
    width: 240px;
    margin-top: -15px;
    color: #4f9e70;
    text-align: center;
    font-size: 15px;
    background: #fff;
}
.list-intro span {
    display: block;
    width: 100%;
    height: 15px;
    text-align: center;
    line-height: 15px;
}
/* 提交 */
.list-bottom {
    color: #fff;
    padding-top:4px;
    width: 240px;
    height: 34px;
    background: #a86241;
    font: 15px 微软雅黑;
    text-align: center;
    color: #fff;
}
/* 灰色 */
.list-bottom-hui {
    color:#fff;
    padding-top:4px;
    width: 240px;
    height: 34px;
    background: #777 !important;
    font: 15px 微软雅黑;
    text-align: center;
}
.list-bottom a,.list-bottom-hui a {
    color: rgb(255, 255, 255);
    line-height: 27px;
}
.price {
    width: 259px;
    height: 173px;
    float: left;
    display: inline;
    margin-right: 1px;
}
.price-top {
    width: 259px;
    height: 140px;
    background: #7CC4B6;
}
.price-img {
    float: left;
   width: 259px;
    height: 140px;
    margin: 20px 20px 0 40px;
}
.price-top p {
    font: 14px/25px "微软雅黑";
    color: #fff;
    margin-top: 50px;
    float: left;
    display: inline;
}
.price-top p label {
    color: #e62a17;
    font-size: 16px;
}
.price-bottom {
    width: 259px;
    height: 33px;
    background: #E62A17;
    font: 14px/33px "微软雅黑";
    text-align: center;
    color: #fff;
}
.price-bottom-hui {
    width: 259px;
    height: 33px;
    background: #777;
    font: 14px/33px "微软雅黑";
    text-align: center;
    color: #fff;
}
/*活动须知*/
.news {
    width: 1024px;
    height: 400px;
    padding-top: 90px;
    margin: 0 auto;
    background: url(../images/news.png) 0 0 no-repeat;
}
.news p {
    color: #76321b;
    font-size: 15px;
    padding-left: 100px;
    margin-bottom: 10px;
}
.rule-bd {
    position: relative;
    width: 100%;
    background: url(../images/foot_yuandan.jpg) 50% 50% no-repeat;
}
.rule-title {
    width: 238px;
    height: 51px;
    margin: 38px auto;
}
.rule-font {
    width: 1000px;
    background: #893102;
    padding: 15px 0 10px;
}
.rule-font p {
    width: 965px;
    margin: 0 auto 15px;
    font: 14px/30px "微软雅黑";
    color: #ff904f;
}

/*登录窗口*/
.fade {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: fixed;
    z-index: 100;
    display: none;
}
.shade {
    width: 540px;
    height: 333px;
    background: #fff;
    border: 5px solid #823D15;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    border-radius: 5px;
}
.shade-top {
    width: 540px;
    height: 33px;
    background: #E4B07D;
}
.shade-top h1 {
    color: #3b3a3a;
    font: 14px/33px "微软雅黑";
    float: left;
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}
.xx {
    width: 12px;
    height: 12px;
    float: right;
    display: inline;
    margin: 5px 10px;
}
.login {
    width: 310px;
    margin: 45px auto 0;
}
.login-bd {
    width: 310px;
    height: 40px;
    border: 1px solid #C6C6C6;
    margin-bottom: 20px;
}
.login-name {
    width: 47px;
    height: 40px;
    border-right: 1px solid #C6C6C6;
    background: #E9E9E9 url(../images/dl.png) center 7px no-repeat;
    float: left;
    display: inline;
}
.login-paw {
    width: 47px;
    height: 40px;
    border-right: 1px solid #C6C6C6;
    background: #E9E9E9 url(../images/dl.png) center -53px no-repeat;
    float: left;
    display: inline;
}
.login-int {
    width: 252px;
    height: 40px;
    background: #fff;
    font-size: 14px;
    float: left;
    display: inline;
    padding-left: 10px;
    outline: none;
}
.login-but {
    width: 310px;
    height: 40px;
    background: #E86012;
    text-align: center;
    font: 16px/40px "微软雅黑";
    color: #fff;
    outline: none;
    letter-spacing: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.login-font {
    width: 310px;
}
.login-font h1 {
    font: 14px/40px "微软雅黑";
    color: #0080d2;
    float: left;
    display: inline;
}
.login-font h1 a {
    color: #0080d2;
}
.login-font h2 {
    font: 14px/40px "微软雅黑";
    color: #ff0000;
    float: right;
    display: inline;
}
.login-font h2 a {
    color: #ff0000;
}

/*兑换信息*/
.dh {
    width: 515px;
    margin: 0 auto;
    border-bottom: 1px solid #D7D7D7;
}
.dh p {
    font: 14px/65px "微软雅黑";
    color: #3b3a3a;
    text-align: center;
}
.dh p label {
    color: #ff0000;
}
.dh-box {
    width: 515px;
    margin: 25px auto 0;
}
.dh-bd {
    width: 515px;
    margin-bottom: 10px;
}
.dh-title {
    width: 123px;
    float: left;
    display: inline;
    font: 14px/32px "微软雅黑";
    color: #3b3a3a;
    text-align: right;
}
.dh-int {
    width: 255px;
    height: 32px;
    float: left;
    display: inline;
    background: #D5D5D5;
    padding-left: 5px;
    outline: none;
    margin: 0 5px;
}
.dh-bd label {
    color: #FF0000;
    line-height: 32px;
}
.dh-txt {
    width: 360px;
    height: 70px;
    float: left;
    display: inline;
    background: #D5D5D5;
    padding-left: 5px;
    outline: none;
    margin: 0 5px;
}
.dh-but {
    width: 260px;
    height: 38px;
    background: #F07304;
    text-align: center;
    font: 14px/38px "微软雅黑";
    color: #fff;
    outline: none;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 10px 0 0 128px;
}

/*提示*/
.prompt {
    width: 375px;
    margin: 50px auto 40px;
}
.prompt p {
    font: 24px/45px "微软雅黑";
    text-align: center;
    color: #3b3a3a;
    letter-spacing: 2px;
}
.prompt-but {
    width: 310px;
    height: 40px;
    background: #E86012;
    text-align: center;
    font: 16px/40px "微软雅黑";
    color: #fff;
    outline: none;
    letter-spacing: 4px;
    cursor: pointer;
    margin: 10px auto 0;
}
.prompt-but a {
    color: #fff;
    display: block;
}

.prompt-but a:hover {
    width: 310px;
    height: 40px;
}

/*弹出层*/
.infor {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -257px;
    margin-top: -177px;
    width: 515px;
    height: 264px;
    padding-top: 162px;
    background: url(../images/tishi.png) 0 0 no-repeat;
}

.mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.infor p,.infor-two p {
    font-size: 18px;
    color: #e62a17;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
}

.infor span,.infor-two span,.infor-three span {
    display: block;
    width: 218px;
    height: 40px;
    margin: 20px auto 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    background: #e62a17;
}

.infor em,.infor-two em,.infor-three em,.infor-four em,.infor-five em {
    position: absolute;
    top: 0;
    right: -17px;
    width: 63px;
    height: 50px;
    background: url(../images/cha.png) 0 0 no-repeat;
    cursor: pointer;
}

.infor-two {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -257px;
    margin-top: -177px;
    width: 515px;
    height: 264px;
    padding-top: 162px;
    background: url(../images/tishi2.png) 0 0 no-repeat;
}

.infor-three {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -257px;
    margin-top: -177px;
    width: 515px;
    height: 264px;
    padding-top: 162px;
    background: url(../images/duihuan.png) 0 0 no-repeat;
}

.infor-three p {
    text-align: center;
    font-size: 18px;
    line-height: 80px;
    font-weight: bold;
    color: #333;
}

.infor-three p strong {
    color: #e62a17;
}

.infor-four {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -257px;
    margin-top: -177px;
    width: 515px;
    height: 264px;
    padding-top: 95px;
    background: url(../images/login.png) 0 0 no-repeat;
}

.infor-form div,.infor-form button,.as {
    width: 296px;
    height: 45px;
    margin: 0 auto 23px;
}

.infor-form div {
    border: 1px solid #e62a17;
}

.infor-form div label {
    float: left;
    width: 58px;
    height: 45px;
}

.infor-form div input {
    float: left;
    width: 228px;
    height: 45px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    line-height: 45px;
}

.infor-form button {
    display: block;
    width: 296px;
    height: 45px;
    margin: 0 auto;
    color: #fff;
    outline: none;
    border: none;
    font-size: 15px;
    background: #e62a17;
}

.name label {
    background: #e62a17 url("../images/login_01_03.png") 0 0 no-repeat;
}

.psd label {
    background: #e62a17 url("../images/login_02_06.png") 0 0 no-repeat;
}

.as {
    width: 286px;
}

.as-one {
    float: left;
    font-size: 15px;
    line-height: 30px;
    color: #838383;
}

.as-two {
    float: right;
    font-size: 15px;
    color: #e62a17;
    line-height: 32px;
    text-decoration: underline;
}

.infor-five {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -257px;
    margin-top: -177px;
    width: 515px;
    height: 361px;
    padding-top: 65px;
    background: url(../images/infor_five.png) 0 0 no-repeat;
}

.infor-five p {
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.infor-five p strong {
    color: #e62a17;
}

.five-form div {
    width: 362px;
    height: 21px;
    margin: 0 auto 10px;
}

.five-form div label {
    float: left;
    width: 96px;
    margin-right: 10px;
    text-align: right;
}

.five-form {
    width: 400px;
    margin: 0 0 0 32px;
}

.five-form div input {
    float: left;
    width: 227px;
    height: 21px;
    background: #d5d5d5;
    border: none;
    outline: none;
}

.five-form .add-text {
    width: 362px;
    height: 53px;
}

.five-form .add-text textarea {
    width: 227px;
    height: 53px;
    background: #d5d5d5;
}

.five-form sup {
    float: right;
    margin-right: 10px;
    color: #e62a17;
}

.infor-five .sbmitBtn {
    display: block;
    width: 227px;
    height: 36px;
    margin: 10px 0 0 122px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    background: #e62a17;
}


/*弹窗*/
.mask-acti {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8ffffff,endColorstr=#c8ffffff);
    z-index: 9999;
}
.mask-acti .share {
    position: relative;
    width: 975px;
    margin: 100px auto 20px;
}
.mask-acti .share .del {
    position: absolute;
    right: 0px;
    top: 140px;
    width: 141px;
    height: 141px;
    background: url(../images/share_del.png) 50% 0 no-repeat;
    z-index: 999;
}


.none-chou {
    position: relative;
    width: 640px;
    height: 538px;
    margin: 120px auto 0;
    padding-top: 400px;
    background: url(../images/meiyou.png) 50% 0 no-repeat;
    background-size: 100%;
}
.none-chou .chou-share {
    display: block;
    width: 280px;
    height: 48px;
    margin: 0 auto 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    background: #f85246;
    border-radius: 10px;
}
.none-chou .del {
    position: absolute;
    right: 20px;
    top: 0;
    width: 65px;
    height: 50px;
    background: url(../images/cha.png) 50% 0 no-repeat;
    background-size: 100%;
}

.again-chou {
    position: relative;
    width: 638px;
    height: 538px;
    margin: 120px auto 0;
    padding-top: 480px;
    background: url(../images/again.png) 50% 0 no-repeat;
    background-size: 100%;
}
.again-chou .chou-share {
    display: block;
    width: 300px;
    height: 48px;
    margin: 0 auto 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    background: #f85246;
    border-radius: 10px;
}
.again-chou .jppic {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 120px;
    height: 260px;
    z-index: -999;
}
.jppic img {
    display: block;
    width: 300px;
    margin: 0 auto;
}
.again-chou p {
    text-align: center;
    height: 40px;
    font-size: 30px;
    color: #f8594e;
    line-height: 40px;
    margin-bottom: 20px;
} 
.again-chou .del {
    position: absolute;
    right: 2%;
    top: 0;
    width: 65px;
    height: 55px;
    background: url(../images/cha.png) 50% 0 no-repeat;
    background-size: 100%;
}
