/*-------³õÊ¼»¯start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*È¥³ýinputÄ¬ÈÏÑùÊ½*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}

/*音乐*/
.btn_music{display:inline-block;width:35px;height:35px;background:url(../images/play.png) no-repeat center center;background-size:100% auto;position:absolute;z-index:100;right:15px;top:20px;}
.btn_music.on{background-image:url(../images/stop.png);}


#fade{ width:100%; height:100%; background-color: rgba(0,0,0,.6); opacity:1; position:fixed; left:0; top:0;z-index: 100; display:none;}
.qx-page{ width: 100%; height: 100%;}

.qx-page-one{width: 100%; height: 100%; background:#FB5D98 url(../images/qx-page1.jpg) no-repeat center top; background-size:100%; overflow: hidden;}
.qx-qxhx{ width:80%; margin: 50px auto 0;}
.qx-page-two{width: 100%; height: 100%; background:#F3F3F3 url(../images/qx-page2.jpg) no-repeat center top; background-size:100%; overflow: hidden;}
.qx-page-open{ width: 80%; margin:138% auto 0;}
.qx-fx{ width:340px; position: absolute; left: 0; top:0; right: 0; bottom: 0; margin: auto; z-index: 100;}
.qx-page-three{width: 100%; height: 100%; background:#000 url(../images/qx-page3.jpg) no-repeat center top; background-size:100%; overflow: hidden;}
.qx-page-four{width: 100%; height: 100%; background:#000 url(../images/qx-page4.jpg) no-repeat center top; background-size:100%; overflow: hidden;}

.qx-gx{  width: 330px; height: 330px; background: url(../images/qx-gx.png) no-repeat; margin: auto; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 999; background-size: 100%; display: none;}
.qx-dl{ width: 150px; float: left; display: inline; margin-left: 10px; margin-top: 180px;}










