/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF; background: #000;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}
.battle-red{ color: #cc1616;}



.banner{ width: 100%; position: relative;}
.ljtb{ width: 183px; height: 43px; position: absolute; left: 50%; margin-left: -25%; bottom: 0;}

.db-box-j{ width: 95%; margin: 10% auto 0;}
.db-box-j p{font: 14px/30px "微软雅黑"; text-align: left; margin-bottom: 20px; background: url(../images/font-bg.png) top left no-repeat; background-size: 70px;}
.db-box-j i{ font-style: normal;}
.db-box-j p span{ margin:0 30px 0 15px; color: #000;}

.activity-sm{ width: 245px; height: 80px; margin:15% auto;}

.db-box-f{ width: 95%; margin: 10% auto 0; padding-bottom: 10%;}
.db-box-f p{width: 95%; font: 14px/30px 微软雅黑; color: #b8b8b8; background: url(../images/font-title.png) 0px 4px no-repeat; background-size: 20px; position: relative; padding-left: 30px; margin-bottom: 20px;}
.db-box-f p span { margin-left: 10px;position: absolute; left: -5px;color: #b8b8b8; }


