body {
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #7f7f7f;
}

.row {
	margin: 0;
}

ul,li,i,em {
	margin: 0;
	padding: 0;
	list-style: none;
	font-style: normal;
	font-weight: normal;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
}

cite {
	font-style: normal
}

a,input {
	outline: none;
	blr: expression(this.onFocus=this.blur());
}

/*=======Common容部分=======*/
.div {
	height: 1px;
}

.padd-20 {
	margin-top: 20px;
}

.inputD {
	border: none;
	margin: 0;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
}

.btnD {
	padding: 10px 0;
	font-size: 16px;
	border-radius: 10px;
}

input::-webkit-input-placeholder {
	color: #ccc !important
}

input:-moz-placeholder {
	color: #ccc !important
}

input::-moz-placeholder {
	color: #ccc !important
}

input:-ms-input-placeholder {
	color: #ccc !important
}

@font-face {
	font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot);src:url(../fonts/fontawesome-webfont.eot)format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff)format('woff'),url(../fonts/fontawesome-webfont.ttf)format('truetype'),url(../fonts/fontawesome-webfont.svg)format('svg');font-weight:400;font-style:normal
}

.form-group {
	border-bottom: 1px dashed #e9e9e9;
	padding: 8px 0px;
	/*margin: 0 10px;*/
	margin-bottom: 0
}

.form_aside {
	background: #fff;
	border-radius: 10px;
}
.form-msg{font-size:12px; padding:15px 5px 10px;}
.form-msg a{color:#c00}
.input-span-black {
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	padding: 0 4px;
	font-size: 12px;
}

.input-span-orange {
	background-color: #fff;
	border: 1px solid #ff8509;
	border-radius: 10px;
	padding: 0 4px;
	color: #ff8509;
	font-size: 12px;
}

.input-span-white {
	border: 0;
	background: 0;
	padding: 0;
	font-size: 14px;
}

.noborder {
	border: 0
}

.formact {
	border: 1px solid #ff8000;
	border-radius: 5px;
	padding: 5px 8px;
	background: #fff;
	margin: 0;
}

.font-danger {
	color: #d82b2c
}

.font-warning {
	color: #ff8000
}

.formact input {
	color: #fe9225
}

.f14 {
	font-size: 14px;
}

.f12 {
	font-size: 12px;
}

.f80 {
	color: #ff8000;
}

.f7f {
	color: #7f7f7f;
}

.fd8 {
	color: #d82b2c;
}

.bg-f8 {
	background: #ff8000;
}

.bg-d3 {
	background: #db311b;
}

.bg-f9 {
	background: #ffecd9;
}

.bg-e5 {
	background: #e5e5e5;
}

.fe5 {
	color: #e5e5e5
}

h3, .h3 {
	font-size: 14px;
}


/*=======Layout容部分=======*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
}

.wrapbox {
	padding: 15px 10px;
}

.container {
	background: #f7f7f7;
	padding: 0;
	position: relative;
	margin: 0 auto
}

body > #container {
	height: auto;
	min-height: 100%;
}

#container {
	padding-bottom: 40px;
}

#container2 {
	padding-bottom: 83px;
}

#container3 {
	padding-bottom: 180px;
}

#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 9;
	background: #fff;
	display: block
}


/*=======头部内容部分=======*/

#site-header {
	padding: 20px 0;
	background: #ff8000;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
}

.top_back {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
}

.top_right {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
}

#site-header img {
	height: 30px;
}

#site-header h3 {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	text-align: center;
}

#site-header h3 {
	text-align: center;
	height: 38px;
	line-height: 38px;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 16px;
}

#site-header .col-md-c {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	text-align: center;
	padding: 0 15px;
}

.col-md-d {
	padding: 0 50px 10px;
	background: #ff8000;
}


/*=======底部内容部分=======*/

#footer {
	color: white;
	font-size: 80%;
	text-align: center;
	border-top: 1px solid #cdcdcd;
}

.foot_nav li {
	float: left;
	width: 20%;
	padding: 5px 0;
}

.foot_nav li a {
	color: #717171;
	display: block;
}

.foot_nav li.cur a {
	color: #ff8000;
}

.foot_nav li span {
	display: block;
	height: 32px;
	line-height: 32px;
}

.foot_nav li i {
	display: block;
	height: 40px;
	line-height: 50px;
	font-size: 30px;
}

.ico {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\f000";
}

.icon-info:before {
	content: "\f001";
}

.icon-safety:before {
	content: "\f002";
}

.icon-story:before {
	content: "\f003";
}

.icon-problem:before {
	content: "\f004";
}

/*=======产品内容部分=======*/

/**1***/
.pvi_od {
	height: 40px;
	width: 100%;
	border-radius: 5px;
	border: 1px #ffdebd solid;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
}

.pvi_od div {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	line-height: 40px;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}

.pvi_od .cur {
	background: #ffdebd;
}

.pvi_od p {
	color: #ffdebd;
	font-size: 15px;
}

.pvi_di {
	background: #ff8000;
	padding: 10px 0;
}

.pvi_di_od {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
}

.pvi_di_od p {
	color: #fff;
	font-size: 14px;
}

.pvi_di_di {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
}

.pvi_di_di p {
	color: #fff;
	font-size: 34px;
}

.pvi_di_di span {
	font-size: 16px;
}

/**2**/
.pvi_th {
	padding: 0 10px 50px 10px;
}

.pvi_th_od {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	margin: 20px 0 0 0;
}

.pvi_th_odo {
	text-align: right;
	background: #fe5252;
	height: 20px;
	border-radius: 20px 20px 0 0;
	padding: 0 20px;
}

.pvi_th_odo p {
	color: #fff;
}

.pvi_th_di {
	height: 50px;
	border-radius: 5px;
	background: #fff;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	box-shadow: 0 5px 0 0 #e5e5e5;
}

.pvi_th_dio {
	padding: 10px 5px
}

.pvi_th_dio img {
	padding: 0 25px;
	width: 25px;
}

.pvi_th_dio p {
	color: #ff8000;
	font-size: 16px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.pvi_th_io {
	position: relative;
	left: 90px;
	top: -40px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #fff;
	border-bottom: 10px solid transparent;
}

.pvi_th_diodi {
	padding: 10px 5px;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}

.pvi_th_diodio {
	height: 30px;
	line-height: 30px;
}

.pvi_th_diodio p {
	font-size: 16px;
}

.pvi_th_diodoi {
	height: 30px;
	line-height: 30px;
	border-top: 1px #93aaa3 dashed;
}

.pvi_th_diodoi p {
	font-size: 14px;
}

.pvi_th_diodoi span {
	color: #d3a12a;
	font-size: 14px;
}

.aised_w_td {
	width: 40px;
}

.aised_w_td img {
	width: 20px;
	padding-top: 20px;
}

.aised_dis {
	border-top: 1px #e5e5e5 dashed;
	box-shadow: 0 5px 0 0 #deddda;
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 5px 0 5px 10px;
	display: none;
}

.aised_dis li,.aised_dis p {
	line-height: 25px;
	color: #888888;
}

.aised_dis p {
	line-height: 25px;
	color: #fe5252;
	display: inline;
}
/**3**/
.pvi_fo {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #ff8000;
	padding: 12px 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	z-index: 99;
}

.col-lg-a {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}

.col-lg-b {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
}

.pvi_fo a {
	color: #fff;
	font-size: 14px;
}

.pvi_fo span {
	border-radius: 10px;
	padding: 5px 15px;
	border: 1px solid #874400;
	color: #874400;
}

.pvi_fo span.cur {
	background: #ffdebd;
	color: #ff8000;
	border: 1px solid #ffdebd;
}

.pvi_fo_buy {
	text-align: center;
	-webkit-box-align: center;
	font-size: 16px
}

.pvi_fo_b {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #ff8000;
	padding: 12px 10px;
	z-index: 99;
}

.pvi_fo_b  a {
	color: #fff;
	font-size: 16px;
}
/**info**/
.ddinfo {
	padding: 10px 20px 0;
	display: -webkit-box;
}

.didion {
	background: #fff;
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: center;
	height: 50px;
	border-bottom: 1px #e5e5e5 dashed;
}

.ddinfo img {
	width: 25px;
}

.ddinfo p {
	color: #a1a1a1;
	font-size: 14px;
	padding-left: 5px
}

.ddinfo span {
	display: -webkit-box;
	-webkit-box-flex: 1;
	color: #a1a1a1;
	padding: 0 0 0 3px;
	font-size: 14px;
}

/**detail**/
.sec_ce {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	padding: 15px 0 30px;
	position: relative;
	background: #fff;
	font-size: 14px;
	color: #333
}

.sec_mg {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	height: 310px;
	position: relative;
	background: #fff;
}

.sec_ce_id {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 145px;
	color: #fff;
	font-weight: bold
}

.sec_ce_pc {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 160px;
	color: #fff;
	font-size: 32px;
}

.sec_ce_b {
	font-size: 16px;
}

.sec_ce_pt {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 225px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.sec_ce_py {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 245px;
	color: #fff;
	font-size: 18px;
}

.sec_ce_pg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 265px;
	color: #fff;
	font-size: 18px;
}

.dio_ce {
	padding: 20px 0 0 0;
}

/*.dio_ce img {
	width: 34px;
}*/

.dio_ce div {
	width: 0;
	height: 0;
	border-bottom: 8px solid #d82b2c;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.dione {
	padding: 0 60px;
}

.dione_t {
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.dione_t p {
	color: #fff;
	font-size: 14px;
	background: #d82b2c;
	border-radius: 8px;
	padding: 5px 10px;
}

.asideTab {
 /*background:url(../img/bg2.png) center bottom no-repeat;*/
}


/***buy**/
.buybox {
	padding: 0 8px
}

.shif_th {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	background: #fff;
	box-shadow: 0 5px 0 0 #ebeae7;
	border-radius: 10px;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}

.shif_th_od {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	height: 50px
}

.shif_th_odv {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1
}

.shif_th_odv p {
	line-height: 50px;
	padding: 0 0 0 10px;
	font-size: 14px
}

.shif_th_tdv {
	width: 30px;
	padding: 16px 0 0 0
}

.shif_th_info {
	padding: 18px 0 0 0
}

.shif_th_tdv img {
	width: 10px
}

.shif_fo {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	border-top: 1px #ebeae7 solid
}

.shif_fo p {
	width: 50px;
}

.shif_fi {
	padding: 20px 50px
}

.shif_fo p {
	line-height: 50px;
	padding: 0 10px;
	font-size: 14px;
	display: inline
}

.shif_fo input {
	border: 0;
	font-size: 14px;
	width: 70%
}

.shif_fo .shif_fo_input {
	border: 0;
	font-size: 14px
}

.divoi {
	padding: 30px 0 0 0
}

.divoi p {
	color: #888;
	font-size: 12px;
}

.divoi_odi {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	padding: 10px 0 20px 0
}


/**2**/
.shifo_t {
	margin: 0 0 20px 0;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 5px 0 0 #ebeae7;
	padding-left: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box
}

.ac {
	color: #ff8000;
	background: #ffecd9;
	box-shadow: 0 5px 0 0 #f2e4d7
}

.shifo_to {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1
}

.shifo_to p {
	line-height: 40px;
	font-size: 14px;
	margin-bottom: 0
}

.shifo_to span {
	font-size: 16px
}

.shifo_di {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	width: 70px;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box
}

.shifo_di img {
	width: 70px
}

/*=======遮罩容部分=======*/

.shif_zhezhao {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.4;
	display: none;
	z-index: 99;
}

.shif_showDiv {
	position: absolute;
	top: 100px;
	left: 0;
	height: 100px;
	width: 100%;
	display: none;
	z-index: 99;
}

.shif_top {
	right: 50px;
	top: -30px;
	background: #e9e6df;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	position: absolute;
}

.shif_top img {
	width: 16px;
}

.shif_zhe {
	margin: 0 20px;
	background: #fff;
	display: none;
	border-radius: 5px;
}

.shif_head {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	border-bottom: 1px #ccc solid;
	height: 50px;
}

.shif_head div:first-child {
	box-shadow: 0 16px 0 0 #e9e6df inset;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	border-radius: 5px 5px 0 0;
}

.shif_zhe div:first-child h1 {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	height: 40px;
	font-size: 16px;
}

.box {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -o-box;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}

.datalist {
	position: relative;
	height: 360px;
	overflow: hidden;
}

.shif_zhe aside>div li>div {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	height: 50px;
	border-bottom: 1px #ccc solid;
	padding: 0 10px;
}

.shif_zhe aside>div:first-child li>div {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
}

.shif_zhe aside>div li>div div:first-child {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	width: 30px;
}

.shif_zhe aside>div li>div div:first-child img {
	width: 32px;
}

.shif_zhe aside>div li>div div:nth-child(2) {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	width: 120px;
}

.shif_zhe aside>div li>div div:nth-child(2) p {
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
}

.shif_zhe aside>div li>div div:nth-child(3) {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	-o-box-flex: 10;
	box-flex: 10;
	-webkit-box-pack: end;
	-moz-box-pack: end;
	-o-box-pack: end;
	box-pack: end;
}

.shif_zhe aside>div li>div div:nth-child(3)>div {
	background: url(../img/xuanzhong.png) no-repeat 20px;
	background-size: 20px 20px;
	height: 20px;
	display: none;
}

.shif_zhe aside>div li>div div:nth-child(3) img {
	width: 20px;
}

.bg {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	padding: 0 20px;
}

.zhezhao {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.4;
	display: none;
	z-index: 99
}

.showDiv {
	position: absolute;
	top: 130px;
	left: 0;
	width: 100%;
	display: none;
	z-index: 99
}

.zhe {
	margin: 0 20px;
	background: #fff;
	border-radius: 10px;
	/*box-shadow: 0 5px 0 0 #666;*/
}

.zhe_title {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;	
	margin: 0 15px;
	padding:8px 2px;
	border-bottom:1px solid #ccc
	
}

.zhe_title p {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	color: #ff8000;
	font-weight: bold;
	font-size: 15px;
	
	
}

.zhe_title img {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	width: 20px;
	height: 20px
}

.zhe_to {
	padding-top: 10px;
}

.zhe_p {
	display: -webkit-box;
	-webkit-box-pack: center;
	color: #999999;
	line-height: 40px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding-bottom:8px;
}
.zhe_p p{text-align: center;}

.zheok {
	display: -webkit-box;
	-webkit-box-pack: center;
	height: 30px;
}

.zhe_p span {
	color: #ff8000;
	padding: 0 2px;
}

.zheok img {
	width: 25px;
	
}

.zhe_bt {
	display: -webkit-box;
	-webkit-box-pack: center;
	background: #ff8000;
	border-radius: 0 0px 10px 10px;
	box-shadow: 0 5px 0 0 #666;
	padding: 10px 0;
}

.zhe_bt a {
	color: #fff
}

.dou_btn {
	display: -webkit-box;
	-webkit-box-pack: center;
	padding: 10px 0;
}

.dou_btn span ,.dou_btn input{
	display: block;
	width: 100px;
	height: 32px;
	line-height: 32px;
	margin: 0 10px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #ff8000;
}

.span_bt_white {
	background: #fff;
	color: #ff8000
}

.span_bt_orange {
	background: #ff8000;
	color: #fff
}

.load {
	position: absolute;
	top: 50%;
	left: 0;
	height: 100px;
	width: 100%;
	margin-top: ：-50px;
	display: none;
	text-align: center;
	z-index: 999;
}

.load p {
	background: #454545;
	padding: 10px;
	border-radius: 5px;
	display: inline;
	color: #fff;
} 
/*=======index部分=======*/

.box-vertical {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}

.box-default {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
}

.box-lr {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
}

.box-center {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}

.box-center2 {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	box-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}

#div_odio {
	width: 100%;
	background: #ff8000;
	padding: 20px;
}

#div_odio2 {
	width: 100%;
	z-index: 9;
	background: #ff8000;
	padding: 10px 20px;
}

#div_odio3 {
	width: 100%;
	z-index: 9;
	background: #fff;
	padding: 10px 20px;
}

#div_odio2 span {
	font-size: 14px;
}

.odio_tx img {
	width: 40px;
}

.odio_btn a {
	color: #fff;
	font-size: 14px;
}

.odio_to {
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
}

.odio_to p {
	line-height: 30px;
	margin-bottom: 0;
	font-size: 14px;
}

#div_odio3 .odio_to {
	color: #7f7f7f;
}

#div_odio3 span {
	font-size: 12px;
}

#div_odio3 cite {
	color: #ff8102
}

.top_banner {
	text-align: center;
	width: 100%;
}

.top_banner img {
	width: 100%;
}

.pro_list {
	padding: 20px;
}

.pro_list aside {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	box-shadow: 0 5px 0 0 #e5e5e5;
	border-radius: 10px;
	margin-bottom: 15px;
}

.pro_info {
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.pro_img img {
	border-right: 1px #ccc  dashed;
	width: 90px;
	padding: 32px 10px 32px 0;
}

.info_eo img {
	width: 60px;
}

.info_to {
	padding-top: 20px;
}

.info_to img {
	width: 80px;
}

.info_to p {
	color: #acacac;
	line-height: 2em;
	padding-top: 10px;
	font-size: 14px;
}

.info_bottom {
	font-size: 14px;
	color: #acacac;
	line-height: 30px;
	overflow: hidden
}

.inn_shy {
	color: #ff8b00;
}

.inn_shy span {
	font-size: 16px;
	padding-right: 5px;
}

.inn_per span {
	color: #c12529;
	padding-left: 2px;
}

.info_more {
	text-align: right
}

/*=======个人中心=======*/

#userTOP {
	background: #ff8000;
	padding-bottom: 5px;
}

.user_top {
	margin: 10px;
	border-top: 1px dashed #f46400;
}

.user_top2 {
	padding: 5px 0;
	background: #ff8000;
}

.user_fo {
	/*background: #fe5252;
	border-radius: 10px;
	padding: 10px 15px;
	margin: 10px 60px 0;*/
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.user_fo p {
	background: #d82b2c;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 10px 0 0;
}

.user_th {
	margin-bottom: 0px;
}

.user_th div {
	width: 0;
	height: 0;
	border-top: 8px solid #d82b2c;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.user_hl {
	color: #fff;
	font-size: 26px;
}

.user_hl  cite {
	padding-left: 2px;
	font-size: 14px;
}

.totle_db {
	background: #ffecd9;
	padding: 10px 20px;
}

.totle_db p {
	color: #ff8000;
}

.nav_th {
	padding: 15px 0px 10px;
	margin: 0 5px;
	border-bottom: 1px dashed #e4e4e4;
}

.nav_th a {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #666;
}

.nav_th img {
	padding-bottom: 5px;
	width: 50px
}

.shouyi_th {
	padding: 0 20px;
}

.shouyi_th aside {
	box-shadow: 0 5px 0 0 #e5e5e5;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 10px 5px;
}

.shouyi_fo {
	color: #7f7f7f;
	font-size: 14px;
	padding-right: 10px;
}

.shouyi_fo span {
	color: #ff8000;
}

.shouyi_bo a {
	color: #ff8000;
	padding: 5px 0px;
	width: 60px;
	text-align: center;
	border: 1px solid #ff8000;
	border-radius: 10px;
	display: block
}

.bar_fo {
	padding: 5px 0;
	font-size: 14px;
}

.progress {
	margin: 5px 10px 0 5px;
	box-shadow: none;
	border-radius: 0;
}

.progress-bar {
	float: left;
	width: 0;
	height: 15px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background: #d82b2c;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}


/*=======大白好友=======*/
#friendB {
	margin: 0 20px;
	border-top: 1px #eaeaea dashed;
}

.friend_th {
	color: #ff8000;
	font-size: 16px;
	line-height: 26px;
}

.friend_th p {
	padding: 5px 0;
}

p.pborder {
	border-left: 1px #eaeaea dashed;
	padding-left: 15px;
}

.friend_th span {
	color: #838383;
	font-size: 14px;
}

.friend_th cite {
	color: #ff8000;
}

.shareBtn a {
	border-radius: 10px;
	padding: 12px 0;
	font-size: 14px;
}

.shareB a {
	background: #ff8000;
}

.shareB a {
	color: #fff;
	font-size: 16px;
}

.shareK a {
	background: #f7f7f7;
	border: 1px solid #ccc;
}

.shareK a {
	color: #838383;
	font-size: 14px;
}

.shareF a {
	background: #fff;
	color: #ff8000;
}

.friend_li {
	padding: 30px 10px 0;
	text-align: center;
}

.friend_li aside {
	margin-bottom: 30px;
}

.fri_le p {
	color: #838383;
	font-size: 14px;
}

.fri_le span {
	color: #ff8000;
	font-size: 16px;
}

.fri_amo img {
	width: 10px;
}

.award-container {
	position: relative;
	padding-top: 4px;
	margin-bottom: 32px;
}

/*.award-list {
	height: 258px;
	overflow: hidden
}*/

.award-container:first-child:before {
	border-top-width: 1px;
}

.award-container:before {
	content: "";
	display: block;
	position: absolute;
	left: 5px;
	top: 0;
	bottom: 0;
	background-color: #e5e5e5;
	width: 2px;
}

.award-container aside {
	padding-top: 20px;
}

.award-label {
	margin-top: 14px;
	width: 12px;
	height: 12px;
	background: #ff8000;
	border-radius: 50%;
	text-align: center;
	position: relative;
	border: 1px solid #f8eadc;
}

.award-img {
	padding-left: 8px;
}

.award-img img {
	width: 50px;
	padding-right: 4px;
}

.award-center {
	color: #ff8000;
	text-align: center;
}

.award-center span {
	color: #838383;
}

.award-center cite {
	font-size: 14px;
}

.award-btn {
	padding-top: 0;
}

.award-btn a {
	font-size: 14px;
}

#loader {
	opacity: 0;
	margin: 0 auto;
}

#loader img {
	width: 20px;
}

.award-msg {
	text-align: center;
	font-size: 14px;
	color: #9d9d9d;
}

.award-msg img {
	width: 30px;
	padding-bottom: 5px;
}

.prie_odi {
	background: #ff8000;
	padding: 10px;
}

.prie_vi {
	text-align: center;
	color: #fff
}

.prie_vi span {
	font-size: 36px;
}

.prie_vi p {
	color: #ffdebd;
}

.prie_odi img {
	width: 30px;
	padding-top: 90px;
}

.prie_jd {
	padding-top: 36px;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 160px 83px;
}

.prie_jd span {
	height: 47px;
}

/*=======大白特权=======*/
.priv_th aside {
	margin: 10px;
}

.priv_th_od {
	background: #fff;
	padding: 6px 6px;
}

.priv_th_oh {
	padding: 5px 6px;
}

.priv_od1,.priv_oh1 {
	width: 60px;
}

.priv_od1 img {
	width: 42px;
}

.priv_od3 span {
	font-size: 20px;
}

.priv_od2 {
	font-size: 14px;
}
 
 /*=======提现=======*/
 
.fivd_th {
	background: #ff8000;
	padding: 10px 0 0 10px;
	color: #ffdebd;
	border-top: 1px solid #ff8912;
}

.fivd_th cite {
	color: #fff;
	font-size: 20px;
	padding: 5px 0 6px;
	display: block
}

.fivd_th span {
	font-size: 14px;
	/*color: #FAF4F4;*/
}

.fivd_th  img {
	width: 155px
}

.fivd_od {
	padding: 20px 10px;
}

.fivd_od_h {
	background: #e5e5e5;
	padding: 12px 8px;
	border-radius: 5px;
	margin: 20px 0;
}

.fivd_od_h span {
	color: #ff8000;
	font-size: 14px;
	display: block;
	height: 18px;
}

.fivd_od_h p {
}

.fivd_od_h aside {
	padding: 5px 0 5px 5px;
}

.fivd_od_h aside li,..fivd_od_h aside p {
	line-height: 25px;
	color: #888888;
}

.fivd_od_h aside p {
	line-height: 25px;
	color: #fe5252;
	display: inline;
}

/*=======我的理财======*/
.menb_th {
	border-top: 1px #ed5300 dashed;
	padding: 10px 0;
	margin: 0 10px;
}

.menb_th cite {
	background: #d82b2c;
	border-radius: 5px;
	padding: 2px 5px;
	color: #fff;
}

.menb_th span {
	color: #fff;
	padding-left: 2px;
}

.menb_list {
	padding: 20px 10px;
	font-size: 14px;
}

.menb_list aside {
	margin-bottom: 3px;
	padding: 0 5px;
}

.menb_more {
	-webkit-box-pack: end;
	text-align: right
}

.menb_fb {
}

.menb_am {
	padding: 4px 0 8px;
}

.menb_am span {
	font-size: 24px;
	padding-right: 3px;
}

.menb_fp {
	font-size: 14px;
}

.menb_fp span {
	color: #dc321c;
	padding: 1px;
}

.menb_ft {
	margin: 10px 0;
	padding: 5px 5px;
	color: #fff;
}

.menb_ft span {
	padding: 0 2px;
}

.menb_info {
}

.menb_in_th {
	padding: 10px 0;
}

.menb_in_tv {
	padding: 10px 0;
	border-top: 1px #e6e6e6 dashed;
	margin-top: 10px;
}

.menb_in_tv img {
	width: 22px;
}

.menb_in_tv span {
	color: #dc321c;
	padding: 0 1px;
}

.menb_info .div2 {
	padding: 8px 10px;
	border-radius: 5px;
}

.menb_info .btn-a {
	background: #ffffff;
	border: 1px solid #ff8000;
}

.menb_info .btn-b {
	background: #ff8000;
	border: 1px solid #ff8000;
	margin: 0 8px;
}

.menb_info .btn-c {
	background: #d82b2c;
	border: 1px solid #d82b2c;
}

.menb_info .btn-a a {
	color: #ff8000;
}

.menb_info .btn-b a {
	color: #fff;
}

.menb_info .btn-c a {
	color: #fff;
}

/*=======投资详情=======*/
#manage-detail {
	font-size: 14px;
	padding: 0 10px;
	color: #7f7f7f;
}

.detail-th p,.detail-wrap p {
	line-height: 30px;
}

.detail-th {
	padding: 15px 8px;
}

.detail-wrap aside {
	padding: 8px;
	background: #e5e5e5;
	margin-bottom: 15px;
	border-radius: 3px;
}

.detail-wrap img {
	height: 20px;
}

.detail-th span {
	font-size: 16px;
}

.my-sm {
	padding-top: 20px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.my-sm img {
	width: 220px;
}

/*用户设置*/
.setting-th {
	font-size: 14px;
	padding: 12px 10px;
}

.setting-th img {
	height: 30px;
}

.setting-th span {
	margin-left: 8px;
	color: #ccc;
}

.setting-th cite {
	margin-right: 15px;
}

.setting-th .fd8 {
	color: #d82b2c
}

.setting-th .bg-d8 {
	background: #d82b2c;
	border-radius: 5px;
	color: #fff;
	padding: 2px 8px;
}

.setting-th .f7f {
	color: #7f7f7f
}

/*=======我的消息容部分=======*/
.messg-th {
	padding: 0 5px;
	line-height: 20px;
	margin-bottom: 18px;
}

.messg-th img {
	width: 14px
}

.messg-th-bg1 {
	background: #ff8000;
	width: 5px;
	border-radius: 5px 0 0 5px;
}

.messg-th-bg2 {
	background: #cccccc;
	width: 5px;
	border-radius: 5px 0 0 5px;
}

.messg-od {
	padding: 8px 2px;
	border-bottom: 1px dashed #eaeaea;
}

.messg-od cite {
	font-size: 16px;
	color: #9b9b9b;
}

.messg-od span {
	font-size: 12px;
	color: #9b9b9b;
}

.messg-po {
	padding: 8px 2px;
	color: #b2b2b2
}

.msg-sucess {
	text-align: center
}

.msg-sucess span {
	padding: 5px 0 15px;
	display: block
}

.msg-sucess h4 {
	font-size: 16px;
}

.msg-sucess p {
	border-top: 1px dashed #d8d8d8;
	padding: 15px 0 50px;
	font-size: 14px;
}

/*=======资金流水容部分=======*/
.fund-th {
	padding: 0 10px;
}

.fund-th aside {
	margin: 22px 0px;
}

.fund-type {
	font-size: 14px;
}

.fund-num {
	font-size: 14px;
}

.fund-tab {
	padding: 10px 0;
}

.fund-tab p {
	color: #808080;
	font-size: 14px;
}

.fund-tab div {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	box-pack: center;
	height: 40px;
	line-height: 37px;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	border-bottom: 3px solid #fff
}

.fund-tab div.cur {
	border-bottom: 3px solid #ff8000
}

.fund-tab div.cur p {
	color: #ff8000;
}
/*=======media容部分=======*/


@media (min-width:320px) {
	#site-header {
		padding: 20px 20px;
		background: #ff8000;
	}

	.nav_th img {
		padding-bottom: 5px;
		width: 55px
	}

	.prie_jd {
		padding-top: 67px;
		background-size: 220px 114px;
	}

	.fivd_th  img {
		width: 160px;
	}

	.fivd_th cite {
		font-size: 26px;
		padding: 8px 0 10px;
	}
}