.carnival{ width: 1000px; margin: 0 auto;}
.banner{ width: 100%; height: 532px; background: url(../images/banner.jpg) 50% 0 no-repeat;}

.carnival-content{ width: 998px; background: #D9611C; border: 1px solid #F27E3A; border-top:none; overflow: hidden; padding-bottom: 25px;}
.carnival-content-title{ width: 238px; height: 52px; margin: 20px auto 30px;}
.carnival-content p{ width: 952px; margin: 0 auto ; font: 14px/35px "微软雅黑"; color: #fff; }
.content-bg{ background: url(../images/conter-bg.png) bottom no-repeat; padding-bottom: 30px;}
.carnival-content span{ margin-left: 85px;}
.carnival-content b{ color: #f6ff00; font: 18px/35px "微软雅黑";}
.carnival-content label{ color: #691575;}

.price-bd{ width: 997px; height: 56px; background: url(../images/price-bg.png) no-repeat; margin: 100px auto 50px;}
.price-font{ width:215px; height: 56px; font: 18px/56px "微软雅黑"; color: #fff; text-align: center; background: #E62A17;}
.price-font a{ color: #fff;}
.price-font-dl{ width:215px; height: 53px; font: 14px/25px "微软雅黑"; color: #fff; text-align: center; background: #E62A17; padding-top: 3px;}
.price-font-dl label{ color: #fffc00; font-size: 18px;}
.price-center{ width: 563px; height: 56px; position: relative; margin-left: 2px;}
.price-lqjp{ width: 233px; height: 47px; position: absolute; left: 164px; bottom: 23px;}
.price-bot{ width: 19px; height: 17px; position: absolute; left: 275px; top: 65px;}

.price-nav{ width: 1000px; margin:0 auto;}
.price-nav li{ width: 1000px; height: 173px; margin-bottom: 30px;}
.nub{ width: 218px; height: 173px; float: left; display: inline; position: relative;}
.nub p{ font: 16px/28px "微软雅黑"; position: absolute; left: 43px; bottom: 20px; color: #fff; text-align: center; letter-spacing: 1px;}
.nub p label{ font-size: 18px; color: #fff000;}
.price{ width: 259px; height: 173px; float: left; display: inline; margin-right: 1px;}
.price-top{ width: 259px; height: 140px; background: #7CC4B6;}
.price-img{ float: left; display: inline; margin: 20px 20px 0 40px;}
.price-top p{font: 14px/25px "微软雅黑"; color: #fff; margin-top: 50px;float: left; display: inline;}
.price-top p label{ color:#e62a17; font-size: 16px;}

.price-bottom{ width: 259px; height: 33px; background: #E62A17;font: 14px/33px "微软雅黑"; text-align: center; color: #fff;}
.price-bottom-hui{ width: 259px; height: 33px; background: #777;font: 14px/33px "微软雅黑"; text-align: center; color: #fff;}
.price-bottom a,.price-bottom-hui a{ color: #fff; display: block;}
.price-bottom a:hover{ width: 259px; height: 33px;}

.price-too{ width: 390px;}
.price-bottom-too{ width: 390px; height: 33px; background: #E62A17;font: 14px/33px "微软雅黑"; text-align: center; color: #fff;}
.price-bottom-too-hui{ width: 390px; height: 33px; background: #777;font: 14px/33px "微软雅黑"; text-align: center; color: #fff;}
.price-bottom-too a,.price-bottom-too-hui a{ color: #fff; display: block;}
.price-bottom-too a:hover{ width: 390px; height: 33px;}

.price-big{ width: 781px; height: 173px; float: left; display: inline;}
.price-big-top{ width: 781px; height: 140px; background: #F4CB0E;}
.price-big-bottom{ width: 781px; height: 33px; background: #E62A17;font: 14px/33px "微软雅黑"; text-align: center; color: #fff;}
.price-big-bottom-hui{ width: 781px; height: 33px; background: #777;font: 14px/33px "微软雅黑"; text-align: center; color: #fff;}
.price-big-bottom a,.price-big-bottom-hui a{ color: #fff; display: block;}
.price-big-bottom a:hover{ width: 781px; height: 33px;}

.rule-bd{ width: 100%; margin-top: 80px; background: #9E3A03; padding-bottom: 60px;}
.rule-title{ width: 238px; height: 51px; margin: 38px auto;}
.rule-font{ width: 1000px; background: #893102; padding: 15px 0 10px;}
.rule-font p{ width: 965px; margin: 0 auto 15px; font: 14px/30px "微软雅黑"; color: #ff904f;}


/*登录窗口*/
.fade{ width: 100%; height: 100%; background: #000; opacity: 0.7; position: fixed; z-index: 100; display: none;}
.shade{ width: 540px; height: 333px; background: #fff; border: 5px solid #823D15; position: fixed; left: 0; top: 0; right: 0; bottom: 0; margin: auto; z-index: 1000; border-radius: 5px;}
.shade-top{ width: 540px; height: 33px; background: #E4B07D;}
.shade-top h1{ color: #3b3a3a; font: 14px/33px "微软雅黑"; float: left; display: inline; margin-left: 10px; font-weight: bold;}
.xx{ width: 12px; height: 12px; float: right; display: inline; margin: 5px 10px;}
.login{ width: 310px; margin: 45px auto 0;}
.login-bd{ width: 310px; height: 40px; border: 1px solid #C6C6C6; margin-bottom: 20px;}
.login-name{ width: 47px; height: 40px; border-right: 1px solid #C6C6C6; background: #E9E9E9 url(../images/dl.png) center 7px no-repeat; float: left; display: inline;}
.login-paw{ width: 47px; height: 40px; border-right: 1px solid #C6C6C6; background: #E9E9E9 url(../images/dl.png) center -53px no-repeat; float: left; display: inline;}
.login-int{ width: 252px; height: 40px; background: #fff; font-size: 14px; float: left; display: inline; padding-left: 10px; outline: none;}
.login-but{ width: 310px; height: 40px; background: #E86012; text-align: center; font: 16px/40px "微软雅黑"; color: #fff; outline: none; letter-spacing: 4px; cursor: pointer; margin-top: 10px;}
.login-font{ width: 310px;}
.login-font h1{ font: 14px/40px "微软雅黑"; color: #0080d2; float: left; display: inline;}
.login-font h1 a{color: #0080d2;}
.login-font h2{ font: 14px/40px "微软雅黑"; color: #ff0000; float: right; display: inline;}
.login-font h2 a{color: #ff0000;}


/*兑换信息*/
.dh{ width: 515px; margin: 0 auto; border-bottom: 1px solid #D7D7D7;}
.dh p{ font: 14px/65px "微软雅黑"; color: #3b3a3a; text-align: center;}
.dh p label{ color: #ff0000;}

.dh-box{ width: 515px; margin: 25px auto 0;}
.dh-bd{ width: 515px; margin-bottom: 10px;}
.dh-title{ width: 123px; float: left; display: inline;  font: 14px/32px "微软雅黑"; color: #3b3a3a; text-align: right;}
.dh-int{ width: 255px; height: 32px; float: left; display: inline; background: #D5D5D5; padding-left: 5px; outline: none; margin: 0 5px;}
.dh-bd label{ color: #FF0000; line-height: 32px;}
.dh-txt{ width: 360px; height: 70px; float: left; display: inline; background: #D5D5D5; padding-left: 5px; outline: none; margin: 0 5px;}
.dh-but{ width: 260px; height: 38px; background: #F07304; text-align: center; font: 14px/38px "微软雅黑"; color: #fff; outline: none; letter-spacing: 2px; cursor: pointer; margin: 10px 0 0 128px;}


/*提示*/
.prompt{ width: 375px; margin: 50px auto 40px;}
.prompt p{ font: 24px/45px "微软雅黑"; text-align: center; color: #3b3a3a; letter-spacing: 2px;}
.prompt-but{ width: 310px; height: 40px; background: #E86012; text-align: center; font: 16px/40px "微软雅黑"; color: #fff; outline: none; letter-spacing: 4px; cursor: pointer; margin: 10px auto 0;}
.prompt-but a{color: #fff; display: block;}
.prompt-but a:hover{width: 310px; height: 40px;}

