@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#FFF;font-family:Arial,'Microsoft YaHei';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#666666; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}



/*页面样式*/

html {
    background: #fff;
}
body {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    background: #f85246;
}
/*页面头部样式*/
.wx-change header {
    position: relative;
    width: 100%;
    height: 11.63rem;
    background: url(../image/banner_dui.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-cal {
    position: absolute;
    top: 7.2rem;
    overflow: hidden;
    width: 100%;
    color: #222;
    line-height: 1.5rem;
    font-size: 0.63rem;
    font-weight: bold;
}
.wx-cal span {
    float: left;
}
.wx-cal input {
    text-align: center;
    font-size: 0.5rem;
    font-weight: normal;
    color: #8d8d8d;
}
.wx-cal .inputfirst {
    float: left;
    width: 17%;
    height: 1.38rem;
    border: 1px solid #000;
    background: #f7f7f7;
}
.wx-cal .inputsecond {
    float: left;
    width: 27%;
    height: 1.38rem;
    border: 1px solid #000;
    background: #f7f7f7;
}
.wx-change header p {
    position: absolute;
    top: 9rem;
    width: 100%;
    color: #9d9d9d;
    text-align: center;
    font-size: 0.4rem;
}

/*页面兑换组件样式*/
.wx-change .wx-dui {
    width: 95%;
    margin: -0.8rem auto 0;

}
.wx-dui h1 {
    position: relative;
    width: 100%;
    height: 1.25rem;
    margin-bottom: 0.1rem;
    background: url(../image/wx_ljp.png) 50% 50% no-repeat;
    background-size: 100%;
    z-index: 99;
}
.wx-change  .wx-list {
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}
.wx-list h3 {
    width: 78%;
    height: 0.88rem;
    font-size: 0.45rem;
    color: #fff;
    padding-left: 22%;
    margin-bottom: 2px;
    line-height: 0.88rem;
    background: url(../image/list_1.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list h3 span {
    color: #e62a17;
}
.wx-listname {
    float: left;
    width: 33%;
    margin-right: 0.5%;
}
.wx-listname dt {
    float: left;
    overflow: hidden;
    width: 57%;
    height: 3.25rem;
    background: #fff;
}
.wx-listname dt img {
    width: 100%;
}
.wx-listname .left-dd {
    float: left;
    width: 40%;
    padding-left: 3%;
    height: 2rem;
    padding-top: 1.25rem;
    background: #fff;
    font-size: 0.5rem;
    color: #4f9e70;
}
.wx-listname .bottom-dd {
    float: left;
    width: 100%;
    height: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    background: #4f9e70;
    font-size: 0.5rem;
    color: #fff;
}
.wx-list .list-two {
    background: url(../image/list_2.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .jp-pic {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 2rem;
    background: #fff;
}
.wx-listname .jp-pic img {
    height: 100%;
}
.wx-listname .first-dd {
    float: left;
    width: 100%;
    height: 1.75rem;
    text-align: center;
    background: #fff;
    font-size: 0.5rem;
    color: #4f9e70;
}
.wx-listname .first-dd span {
    display: block;
    line-height: 0.2rem;
}
.wx-list .list-three {
    background: url(../image/list_3.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-four {
    background: url(../image/list_4.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-five {
    background: url(../image/list_5.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-six {
    background: url(../image/list_6.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-seven {
    background: url(../image/list_7.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-eight {
    background: url(../image/list_8.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-nine {
    background: url(../image/list_9.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-ten {
    background: url(../image/list_10.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-list .list-eleven {
    background: url(../image/list_11.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
/*底部样式*/
.wx-change footer {
    position: relative;
    width: 100%;
    height: 4.13rem;
    background: url(../image/wx_foot.jpg) 50% 50% no-repeat;
    background-size: 100%;
}
.wx-change .wx-foot {
    position: absolute;
    top: 1rem;
    width: 100%;
}
.wx-change .wx-foot a {
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    height: 2rem;
    margin: 0 auto;
    background: url(../image/wx_return.png) 50% 50% no-repeat;
    background-size: 90%;
}
.wx-foot .left {
    position: absolute;
    bottom: -1.5rem;
    left: 15%;
    width: 13%;
    height: 1.5rem;
    background: url(../image/left-shou.png) 50% 0 no-repeat;
    background-size: 100%;
    animation: myfirst 0.6s linear  infinite alternate;
    -webkit-animation: myfirst 0.6s linear  infinite alternate;
    -o-animation: myfirst 0.6s linear  infinite alternate;
    -ms-animation: myfirst 0.6s linear  infinite alternate;
    -moz-animation: myfirst 0.6s linear  infinite alternate;
}
@-moz-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@-ms-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@-o-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@-webkit-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
.wx-foot .right {
    position: absolute;
    bottom: -1.5rem;
    right: 15%;
    width: 13%;
    height: 1.5rem;
    background: url(../image/right-shou.png) 50% 0 no-repeat;
    background-size: 100%;
    animation: mysecond 0.6s linear infinite alternate;
    -webkit-animation: mysecond 0.6s linear  infinite alternate;
    -o-animation: mysecond 0.6s linear  infinite alternate;
    -ms-animation: mysecond 0.6s linear  infinite alternate;
    -moz-animation: mysecond 0.6s linear  infinite alternate;
}
@-moz-keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@-ms-keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@-o-keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@-webkit-keyframes mysecond{
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}



/*兑换弹窗*/
.wx-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(38, 38, 35, 0.9);
    z-index: 999;
}
.infor-wx {
    position: fixed;
    left: 0;
    right: 0;
    margin: 2rem auto 0;
    width: 100%;
    height: 11.55rem;
    padding-top: 6.7rem;
    background: url(../image/wx_infor.png) 50% 50% no-repeat; 
    background-size: 100%;  
} 
.infor-wx p {
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 1rem;
}
.infor-wx p strong {
    color: #e62a17;
}
.wx-form div {
    width: 90%;
    height: 1.25rem;
    margin: 0 auto 0.5rem;
}
.wx-form div label {
    float:left;
    width: 21%;
    font-size: 0.63rem;
    line-height: 1.25rem;
    color: #333;
    letter-spacing: 0.2rem;
}
.wx-form {
    width: 90%;
    margin: 0  0 0 7%;
}
.wx-form div input {
    float:left;
    width: 68%;
    padding-left: 5%;
    height: 1.25rem;
    text-align: left;
    background: #d5d5d5;
    border: none;
    outline: none;
} 
.wx-form .add-text {
    height: 2rem;
}
.wx-form .add-text label {
    letter-spacing: 0;
}
.wx-form .add-text textarea {
    width: 68%;
    padding-left: 5%;
    height: 2rem;
    border: none;
    outline: none;
    background: #d5d5d5;
}
.wx-form sup {
    float: right;
    margin-right: 2%;
    color: #e62a17;
}
.infor-wx span {
    display: block;
    width: 34%;
    height: 2rem;
    margin:  0.5rem auto;
    text-align: center;
    line-height: 2rem;
    background: url(../image/wx_btn.png) 50% 50% no-repeat;
    background-size: 100%;
}
.infor-wx .del {
    position: absolute;
    right: 6%;
    top: 0;
    width: 8%;
    height: 1.3rem;
    background: url(../image/xxx.png) 50% 50% no-repeat;
    background-size: 100%;
}




