﻿@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#FFF;font-family:Arial,'Microsoft YaHei';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#666666; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}







/*活动页面样式*/
html {
    background: #fff;
}
body {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    background: #934325;
}
.wechat {
    width: 100%;
}

.wechat .pic img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.giving {
    position: relative;
    width: 88%;
    height: 11.25rem;
    padding-top: 4.9rem;
    padding-left: 12%;
    margin: 0px auto 0;
    text-align: center;
    background: url(../images/gift.jpg) 50% 50% no-repeat;
    background-size: 100%;
    z-index: 100;
}
.giving i {
    display: block;
    width: 60%;
    height: 6.5rem;
    margin: 0 auto 0;
     cursor: pointer;
}
.giving a {
    position: absolute;
    padding: 5px 10px;
}
.my-gift {
   bottom: 0rem;
   left: 7%;
   width: 28%;
   height: 2.7rem;
   background: url(../images/my_gift.png) 50% 0 no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.more-gift {
   bottom: 0rem;
   right: 7%;
   width: 28%;
   height: 2.7rem;
   background: url(../images/more_gift_tan.png) 50% 0 no-repeat;
    background-size: 100%;
    cursor: pointer;
}
 /*gift-name*/
.gift-name {
    width: 100%;
    height: 2.25rem;
    font-size: 0.55rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 2.25rem;
    background: url(../images/pidai.png) 50% 0 no-repeat;
     background-size: 100%;
}
.gift-list {
    overflow: hidden;
    width: 90%;
    margin: 0px auto 0 !important;
    background: #fff;
    border: 0.05rem solid #b90a25;
}
.gift-list li {
    overflow: hidden;
    width: 100%;
    height: 25px !important;
    border-bottom: 1px solid #f00;
    background: #934325;
}
.gift-list .gift-tit {
    background: #e5d7cc;
}
.gift-tit {
    width: 90%;
    margin: 0px auto 0;
    height: 0.8rem;
    border: 0.05rem solid #b90a25;
    background: #b90a25;
}
.gift-tit span {
    float: left;
    width: 33%;
    border-right: 0.05rem solid #b90a25;
    font-size: 0.42rem;
    color: #ff3636;
    line-height: 0.8rem;
    text-align: center;
}
.gift-list span {
    float: left;
    width: 33%;
    border-right: 0.05rem solid #b90a25;
    font-size: 0.42rem;
    color: #fff;
    line-height: 25px;
    text-align: center;
}
.gift-list .three-fon {
    font-size: 0.38rem;
}
.infor-we {
    width: 100%;
    height: 1rem;
    font-size: 0.38rem;
    color: #fff;
    line-height: 1rem;
    text-align: center;
}
 /*活动介绍样式*/
.chat-acti {
    position: relative;
    width: 100%;
    /*height: 9rem;*/
    padding-bottom: 0.5rem;
    margin: 0 auto 0;
     cursor: pointer;
}
.chat-acti .jigao {
    font-size: 0.38rem;
}
.chat-acti h3 {
    width: 100%;
    height: 1.8rem;
    background: #fff url(../images/acti-we.jpg) 50% 0 no-repeat;
    background-size: 100%;
}
.chat-acti p {
    font-size: 0.42rem;
    color: #fff;
    padding-bottom: 0.2rem;
    text-align: center;
}
.chat-acti p span {
    font-weight: bold;
}
.chat-acti .left {
    position: absolute;
    bottom: 1rem;
    left: 15%;
    width: 13%;
    height: 1.5rem;
    background: url(../images/left-shou.png) 50% 0 no-repeat;
    background-size: 100%;
    animation: myfirst 0.6s linear  infinite alternate;
    -webkit-animation: myfirst 0.6s linear  infinite alternate;
    -o-animation: myfirst 0.6s linear  infinite alternate;
    -ms-animation: myfirst 0.6s linear  infinite alternate;
    -moz-animation: myfirst 0.6s linear  infinite alternate;
}
@-moz-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@-ms-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@-o-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@-webkit-keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}
@keyframes myfirst{
    0%   {left:15%;}
    50%  {left:17%;}
    100% {left:15%;}
}

.chat-acti .right {
    position: absolute;
    bottom: 1rem;
    right: 15%;
    width: 13%;
    height: 1.5rem;
    background: url(../images/right-shou.png) 50% 0 no-repeat;
    background-size: 100%;
    animation: mysecond 0.6s linear infinite alternate;
    -webkit-animation: mysecond 0.6s linear  infinite alternate;
    -o-animation: mysecond 0.6s linear  infinite alternate;
    -ms-animation: mysecond 0.6s linear  infinite alternate;
    -moz-animation: mysecond 0.6s linear  infinite alternate;
}
@-moz-keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@-ms-keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@-o-keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@-webkit-keyframes mysecond{
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
@keyframes mysecond {
    0%   {right:15%;}
    50%  {right:17%;}
    100% {right:15%;}
}
.more-acti {
    display: block;
    width: 34%;
    height: 2.5rem;
    margin: 0rem auto 0;
    text-align: center;
    text-decoration: none;
    background: url(../images/more_acti.png) 50% 0 no-repeat;
    background-size: 100%;
}
.wyd-intro {
    width: 100%;
    height: 12rem;
    background: url(../images/wyd_intro.png) 50% 0 no-repeat;
    background-size: 100%;
}



/*弹窗样式*/
.mask-we {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(35, 35, 38, 0.8);
    z-index: 19999;
}
/*抽奖奖品*/
.list-data {
    position: relative;
    width: 98%;
    height: 16rem;
    margin: 0 auto 0;
    padding-top: 6.75rem;
    background: url(../images/list-data.png) 50% 0 no-repeat;
    background-size: 100%;
}
.list-data h2 {
    width: 40%;
    height: 2.25rem;
    margin: 0 auto;
    line-height: 2.25rem;
    font-size: 0.55rem;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.acti-jp {
    width: 90%;
    margin: 0 auto;
}
.acti-jp li {
    width: 100%;
    height: 0.75rem;
    border-bottom: 1px solid #f85246;
    border-left: 1px solid #f85246;
    border-right: 1px solid #f85246;
}
.acti-jp .first-num {
    float: left;
    width: 10%;
    height: 0.75rem;
    font-size: 0.42rem;
    line-height: 0.75rem;
    text-align: center;
    border-right: 2px dotted #f85246;
}
.acti-jp .sec-name {
    float: left;
    width: 27%;
    height: 0.75rem;
    font-size: 0.4rem;
    line-height: 0.75rem;
    text-align: center;
    border-right: 2px dotted #f85246;
}
.acti-jp .third-jp {
    float: left;
    width: 32%;
    height: 0.75rem;
    font-size: 0.4rem;
    line-height: 0.75rem;
    text-align: center;
    border-right: 2px dotted #f85246;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}
.acti-jp .four-time {
    float: left;
    width: 29%;
    height: 0.75rem;
    font-size: 0.38rem;
    line-height: 0.75rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}
.list-data-con {
    width: 90%;
    height: 1.6rem;
    padding-top: 0.28rem;
    margin: 10px auto 0;
    font-size: 0.4rem;
    line-height: 0.58rem;
    border: 2px solid #f85246;
}
.list-data-share {
    display: block;
    width: 33%;
    height: 1.5rem;
    padding: 0 0.4rem;
    margin: 25px auto 0;
    background: url(../images/click_wx.png) 50% 50% no-repeat;
    background-size: 100%;
}
.list-data .del {
    position: absolute;
    right: 3%;
    top: 3rem;
    width: 8%;
    height: 1.25rem;
    background: url(../images/xxx.png) 50% 0 no-repeat;
    background-size: 100%;
}
/*没有抽奖次数*/
.none-chou {
    position: relative;
    width: 100%;
    height: 13.45rem;
    margin: 3rem auto 0;
    padding-top: 10rem;
    background: url(../images/meiyou.png) 50% 0 no-repeat;
    background-size: 100%;
}
.none-chou .chou-share {
    display: block;
    width: 50%;
    height: 1.2rem;
    margin: 0 auto 0;
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
    background: #f85246;
    border-radius: 10px;
}
.none-chou .del {
    position: absolute;
    right: 2%;
    top: 0;
    width: 8%;
    height: 1.25rem;
    background: url(../images/xxx.png) 50% 0 no-repeat;
    background-size: 100%;
}
/*再接再厉 还有次数*/
.again-chou {
    position: relative;
    width: 100%;
    height: 13.45rem;
    margin: 3rem auto 0;
    padding-top: 12rem;
    background: url(../images/again.png) 50% 0 no-repeat;
    background-size: 100%;
}
.again-chou .chou-share {
    display: block;
    width: 50%;
    height: 1.2rem;
    margin: 0 auto 0;
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
    background: #f85246;
    border-radius: 10px;
}
.again-chou .jppic {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3rem;
    height: 6.5rem;
    z-index: -999;
}
.jppic img {
    display: block;
    width: 40%;
    margin: 0 auto;
}
.again-chou p {
    text-align: center;
    height: 1rem;
    font-size: 0.75rem;
    color: #f8594e;
    line-height: 1rem;
    margin-bottom: 0.5rem;
} 
.again-chou .del {
    position: absolute;
    right: 2%;
    top: 0;
    width: 8%;
    height: 1.25rem;
    background: url(../images/xxx.png) 50% 0 no-repeat;
    background-size: 100%;
}
/*登录*/
.login-acti-we {
    width: 90%;
    height: 10rem;
    margin: 2rem auto 0;
    padding-top: 6.75rem;
    background: url(../images/login-tan.png) 50% 0 no-repeat;
    background-size: 100%;
}
.data-shuru {
    position: relative;
    width: 83%;
    margin: 0 auto;
}
.tel-sp {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 1.6rem;
    line-height: 1.5rem;
    font-size: 0.55rem;
    color: #fff;
    text-align: center;
    background: #b90a25;
}
.login-acti-we .tel {
    display: block;
    width: 75%;
    padding-left: 25%;
    height: 1.5rem;
    color: #333;
    font-size: 0.55rem;
    line-height: 1.5rem;
    text-align: center;  
}
.tel-pass {
    position: absolute;
    left: 0;
    top: 2.1rem;
    width: 25%;
    height: 1.6rem;
    line-height: 1.5rem;
    font-size: 0.55rem;
    color: #fff;
    text-align: center;
    background: #b90a25;
}
.login-acti-we .pass {
    display: block;
    width: 75%;
    margin-top: 0.5rem;
    padding-left: 25%;
    height: 1.5rem;
    color: #333;
    font-size: 0.55rem;
    line-height: 1.5rem;
    text-align: center;   
}
.login-acti-we .we-sub {
    display: block;
    width: 100%;
    margin-top: 0.7rem;
    height: 1.5rem;
    color: #fff;
    background: #b90a25;
    font-size: 0.55rem;
    line-height: 1.5rem;
    text-align: center;
}
.login-acti-we .del {
    position: absolute;
    right: -10%;
    top: -3rem;
    width: 10%;
    height: 1.25rem;
    background: url(../images/xxx.png) 50% 0 no-repeat;
    background-size: 100%;
}
.over-input {
     margin-top: 0.5rem;
}
.tel-yanzhe {
    position: absolute;
    right: 0rem;
    top: 2.1rem;
    width: 53%;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: 0.55rem;
    color: #fff;
    text-align: center;
    background: #b90a25;
}
/*灰色状态*/
.tel-yanzhe-hui {
    position: absolute;
    right: -0.1rem;
    top: 2.1rem;
    width: 53%;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: 0.55rem;
    color: #fff;
    text-align: center;
    background: #b2b2b2;
}
.login-acti-we .yanzhe {
    display: block;
    width: 47%;
    padding-right: 53%;
    height: 1.5rem;
    color: #333;
    font-size: 0.4rem;
    line-height: 1.5rem;
    text-align: center;   
}


