/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}

.banner{ width: 100%;}
.page-a{ width: 95%; margin: 10% auto 0;}
.page-a-font{ width: 80%; height: 140px; margin: 0 auto; border-left:1px dashed #7A1F1B; border-right:1px dashed #7A1F1B;}
.page-a-font p{ font: 14px/110px "微软雅黑"; color: #730700; text-align: center;}
.page-b{ width: 95%; margin: -10% auto 0;}
.page-d{ width: 79%; margin: 0 auto 0;}
.page-int{ width: 45%; margin: -20px auto 0; padding-bottom: 15%}




















