/*初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
body{ color:#333; font-family:"微软雅黑"; background: #FFF2D5;}
a{ text-decoration:none; color:#333;}
a:hover{ color:#333; text-decoration:none;}
ul,li{ list-style:none;}
.left{ float:left;}.right{ float:right;}
.box{ width: 1000px; margin: 0 auto;}
.red{ color:#ff4800;}
.banner{ width: 100%; margin: 0 auto;}
.bonus{ width: 915px; height: 341px; margin:65px auto;}
.iphone{ width: 880px; height: 337px; margin: 0 auto 65px;}
.font-bd{ width: 880px; margin: 0 auto; padding-bottom: 70px;}
.font-bd h1{ font: 16px/25px "微软雅黑"; color: #ff4800; font-weight: bold;}
.font-bd p{ font: 14px/25px "微软雅黑"; color: #333; margin-top: 25px;}





































