.f-ban-bd{ width: 100%; height: 370px; background: #313131;}
.f-ban{ width:100%; height: 370px; margin: 0 auto;}
.f-center-bd{ width: 100%; background: #d5f6e9; padding: 50px 0 35px;}
.f-cneter{ width: 1000px; height:780px; margin:0 auto; background: #7ce0d2;}
.f-tit-nav{ width: 1000px; height: 55px; background: #81dccf; box-shadow:0px 2px  2px #6FC9BD;}
.f-tit-nav li{ width: 250px; font: 24px/55px "微软雅黑"; border-right: 1px solid #38c3b0; box-sizing: border-box; text-align: center; color: #fff; float: left; display: inline; font-weight: bold; cursor:pointer;}
.f-tit-nav .tit-bg{ width: 250px; height: 55px; background:#38c3b0;}

.f-tab{ width: 1000px; float:left; display:inline; display:none;}
.f-tab td{ font-size:16px; font-family:"微软雅黑"; color:#106d60;  border-bottom:1px dashed #34B4A3;}
.f-tab .tabbd{ width:23px; height:60px; color:#7CE0D2; background:url(../images/f-tile.png) 38px 12px  no-repeat; font:11px/60px "微软雅黑"}

.f-page{ width:1000px; height:40px;}
.f-page-nav{ width:490px; height:22px; margin:0 auto; margin-top:15px}
.f-page-nav li{ width:22px; height:22px; float:left; display:inline; margin:0 12px; text-align:center; font:14px/22px "微软雅黑"; color:#106d60; cursor:pointer;}
.f-page-nav .f-page-bg{  width:22px; height:22px; background:#219f8e; color: #7ce0d2; text-align:center; font:14px/22px "微软雅黑"; border-radius:3px;}
.prv{ width:55px; height:22px; float:left; display:inline; text-align:center; font:14px/22px "微软雅黑"; color:#106d60; margin-right: 5px;}
.next{ width:55px; height:22px; float:right; display:inline; text-align:center; font:14px/22px "微软雅黑"; color:#106d60;}
.prv a,.next a{ color:#106d60}

.f-submit-bd{ width:1000px; height:40px; margin:20px auto 5px;}
.f-text{ width:870px; height:40px; background:#7CE0D2; border-radius:3px; float:left; display:inline; padding-left:10px; color:#106d60; outline:none; }
.f-but{ width:105px; height:40px; float:right; border-radius:3px; display:inline; background:#34b4a3; text-align:center; font:14px/40px "微软雅黑"; cursor:pointer; color:#C2FAF2; outline:none;}
::-webkit-input-placeholder{color: #106d60;}
::-moz-placeholder{color: #106d60;}

::-ms-input-placeholder{color: #106d60;}

.f-rule-bd{ width: 1000px; height: 125px; margin: 0 auto;}
.f-rule-bd h5{ font: 12px/25px "微软雅黑"; float: right; display: inline; margin-right: 120px; color: #34B4A3;}

.f-rule{ width: 1000px; margin-top: 10px; padding-bottom:20px;float: left; display: inline;}
.f-rule h1{ font: 14px/25px "微软雅黑"; float: left; display: inline; color: #34B4A3; margin-left: 10px;}
.f-rule-nav{ width:990px; float: left; display: inline; margin-left: 10px;}
.f-rule-nav li{ width:495px; height: 30px; float: left; display: inline; font: 14px/30px "微软雅黑"; color: #34B4A3; }

.f-time-bd{ width: 100%; padding-bottom: 120px; background: #fcf2f1;}
.f-time-cent{ width: 1000px;  margin: 0 auto; padding-top: 60px;}

.f-time{ width: 1000px; margin: 0 auto;}
.f-time h1{ width:500px; font:46px/50px "微软雅黑"; color: #bb6c68; text-align:center; margin:0px auto;}
.colockbox{width:610px;height:120px;margin:20px auto; background:url(../images/colockbg.png) no-repeat;}
.colockbox span{float:left;display:block;width:58px;height:48px;line-height:48px; text-align:center;color:#bb6c68;margin:0 17px 0 0;}
.colockbox span.second{margin:0;}
.colockbox .day{ width:125px; height:100px; text-align:center; font:60px/118px Arial, Helvetica, sans-serif;}
.colockbox .hour{ width:135px; height:100px; text-align:center; font:60px/115px Arial, Helvetica, sans-serif; margin-left: 20px;}
.colockbox .minute{ width:130px; height:100px; text-align:center; font:60px/115px Arial, Helvetica, sans-serif; margin-left: 5px;}
.colockbox .second{  width:135px; height:100px; text-align:center; font:60px/115px Arial, Helvetica, sans-serif; margin-left: 10px;}

.lotty-bd{ width:1000px; margin: 50px auto 0;}
.lotty-bd h1{ font: 15px/30px "微软雅黑"; color: #bb6c68;}
.lotty-nav{ width: 1000px; }
.lotty-nav li{ width:1000px; height: 30px; font: 15px/30px "微软雅黑";color: #bb6c68;}

.Remark-nav{ width: 1000px; margin-top: 30px;}
.Remark-nav li{ width:1000px; height: 30px; font: 15px/30px "微软雅黑";color: #bb6c68;}
.Remark-nav li:nth-child(2),.Remark-nav li:nth-child(3){ margin-left: 30px;}

.set-bd{width: 1000px; margin-top: 30px;}
.set-bd h1{ font: 15px/30px "微软雅黑"; color: #bb6c68;}
.set-tab{ width:1000px; height:110px; margin-top:10px;}
.set-tab td{ border:1px solid #bb6c68; font: 15px/30px "微软雅黑"; color: #bb6c68; text-align:center}
.priceTable { border-collapse:collapse}


/*抽奖页面*/
.l-lottery-bd{ width: 1000px; height: 540px; margin: 0 auto;}
#lottery{width:640px;height:500px; float: left; display: inline; background: #fef4ea; }
#lottery td{ border: 1px solid #FBDDBD; text-align: center;}
#lottery table td.active{background-color:#f65950;}

.lottery-bg{ width: 340px; height: 494px; float: right; display: inline; background: url(../images/lotry-bg.png);}
.l-nav{ width: 280px; height: 310px;margin: 155px 0 0 31px;}
.l-nav li{ width: 280px; height: 32px; font: 13px/32px "微软雅黑"; color: #fff;}
.l-nub,.l-prd{height: 32px; float: left; display: inline; text-align:center;}
.l-nub{ width: 120px; padding-right: 20px;}.l-prd{ width: 140px;}


/*模态窗口1*/
#fade{ width:100%; height:100%; background:#000; opacity:0.8; position:fixed; left:0; top:0; z-index:10; display:none;}
.m-proud,.m-proud-too{ width: 415px; height: 350px; margin: 0 auto 0; background: #fff; border-radius: 5px; display:none; position:fixed; top:200px; left: 50%; margin-left: -200px; z-index: 9999; }
.m-flow{ width: 256px; height: 95px; position: absolute; z-index: 8888; left: 18%; top: 20%;}
.m-prd{ width: 189px; height: 187px; position: absolute; z-index: 100; left: 27%; top: 10%;}
.m-xx{ width: 17px; height: 18px; position: absolute; right: 10px; top: 10px; cursor: pointer;}
.m-foter{ width: 200px; margin:220px 110px 18px; float: left; display: inline;}
.m-foter p{ font: 15px/25px "微软雅黑"; color: #f6584f; font-weight: bold; text-align: center;}
.m-but{ width: 175px; height: 40px;font: 15px/40px "微软雅黑"; background: #f6584f; border-radius: 5px; margin-left:120px; color: #fff; outline: none; cursor: pointer; box-shadow: 0px 5px 1px #c63d36;}

/*模态窗口2*/
.m-flow-too{ width: 276px; height: 192px; position: absolute; z-index: 8888; left: 18%; top: 6%; background: url(../images/hb.png) no-repeat; }
.m-flow-too p{ font: 60px/192px "微软雅黑"; color: #fff; text-align: center;}








