/*---------我的账户start----------------*/
.myaccountbg{ background: url(../images/myaccountbg.jpg) no-repeat;height: 428px;position: absolute;width: 100%;z-index: -1;*top:0;*left:0;}
.myaccount{float:left;width:100%;font-size: 14px;}
.myaccountbig{width:1000px;margin:0 auto;}
.myaccounttop{float:left;width:100%;margin-top:17px;}
.myaccountleft{float:left;width:195px;border: 1px solid #DADADA;background: #fff;margin-top:15px;padding-bottom: 98px;}
.myaccountright{float:left;width:782px;border: 1px solid #DADADA;margin-left:17px;background: #fff;margin-top:15px;padding-bottom: 68px;}
.myaccounttopone{float:left;color: #AB6D20;font-size: 13px;}
.myaccounttoptwo{float:left;color: #666;font-size: 13px;}
.myaccountwdzh{float:left;width:150px;padding-left:45px;font-size: 16px;color: #444443;background: url(../images/myaccountzh.jpg) no-repeat 8px 54%;height:40px;line-height: 40px;}
.myaccountwdzhlist{float:left;width:149px;padding-left: 46px;color: #666;font-size: 14px;height:40px;line-height: 40px;}
.myaccountwdzhlist:hover{background: #EBEBEB;}
.myaccountlist{background: #DADADA;}
.myaccountwdzhlist a{float:left;width:100%;}
.myaccountwdzhlist a:hover{float:left;width:100%;background: url(../images/myaccountjt.png) no-repeat 120px 50%;}
.myaccountlist a{background: url(../images/myaccountjt.png) no-repeat 120px 50%;}
.myaccountline{float:left;width:195px;border-top: 1px solid #DADADA;margin-top:3px;}
.myaccountwdtz{float:left;width:150px;padding-left:45px;font-size: 16px;color: #444443;background: url(../images/myaccounttz.jpg) no-repeat 10px 54%;height:40px;line-height: 40px;}
.myaccountzjgl{float:left;width:150px;padding-left:45px;font-size: 16px;color: #444443;background: url(../images/myaccountgl.jpg) no-repeat 10px 54%;height:40px;line-height: 40px;}
.myaccounttgyj{float:left;width:150px;padding-left:45px;font-size: 16px;color: #444443;background: url(../images/myaccountyj.jpg) no-repeat 10px 54%;height:40px;line-height: 40px;}


/*-------我的银宝箱------*/
.chest-nub{ width: 22px; height: 22px; background: #FC8E0B; font: 12px/22px "微软雅黑"; color: #fff; text-align: center; position: absolute; right: 35px; top: 10px; border-radius: 5px;}
.chest-title-nav{ width:744px; height:60px; margin-left:19px; border-bottom: 1px solid #E3E3E3; float: left; display: inline;}
.chest-title-nav li{float:left;width:175px;text-align: center;color: #7F7F7F;font-size: 16px;line-height: 56px;cursor: pointer;}
.chest-title-nav .chest-title-pur{border-bottom: 3px solid #FC8E0B;color: #FC8E0B; font-weight: bold;}

.chest-tab{ width: 744px; float: left; display: inline; margin: 30px 0 0 19px; display: none;}
/*---实物奖励活动---*/
.chest-table-bd{ width: 744px; border: 1px solid #E3E3E3; border-bottom: none; border-radius: 3px; overflow: hidden;}
.chest-check{ width: 700px; height: 35px; margin:20px 0 30px 20px;}
.chest-check h1{ font: 14px/35px "微软雅黑"; float: left; display: inline;}
.chest-select{ width: 127px; height: 27px; float: left; display: inline; outline: none; margin-top: 5px; border-radius: 3px;}
.chest-date{ width: 130px; height: 25px; float: left; display: inline; outline: none; margin-top: 5px; border: 1px solid #A9A9A9; border-radius: 3px;}
.chest-search{ width: 45px; height: 25px; float: left; display: inline; background: #FC8E0B; font: 14px/25px "微软雅黑"; text-align: center; color: #fff; border-radius: 3px; margin: 5px 0 0 10px; cursor: pointer; outline: none;}

.chest-table{ width:745px;}
#ch-table-title{ background: #F2F2F2; height: 38px;}
#ch-table-title tr{ height: 28px;}
#ch-table-title td{ border: none; font-size: 14px; font-weight: bold;}
.chest-table tr{ height: 45px;}
.chest-table td{ border: 1px solid #E3E3E3; text-align: center; font-size: 12px; color: #333; border-left: none;}
.ch-tab{ border-collapse: collapse;}


/*---金额奖励活动---*/
.chest-goldjli{float:left;width:744px;}
.chest-goldjli li{float:left;width:744px; border: 1px solid #E3E3E3; padding: 20px 0; margin-bottom: 20px;}
.chest-goldjlipic{float:left; margin-left: 50px; background-size: 70px;}
.chest-goldjlijinb{float:left;width:140px;padding-left: 28px;border-left: 2px solid #F5F5F5;margin-left:107px;margin-top:15px;}
.chest-goldjlijbone{float:left;width:200px;font-size: 12px;color: #6A6A69;}
.chest-goldjlijbtwo{float:left;width:140px;font-size: 24px;color: #FC8E0B;}























