.summer-camp-banner{ height:369px; background: #2CDDC1;}
.summer-camp-bd{ width: 1000px; height: 1700px; margin: 0 auto; background: url(../images/activity-bg.jpg) no-repeat; position: relative;}
.summer-activity-one{ width: 451px; height: 452px; position: absolute; background: url(../images/activity-xrbdj.jpg) no-repeat; top:55px; -webkit-animation: movefromleft-one 1.5s ease-in-out both; animation: movefromleft-one 1.5s ease-in-out both; overflow: hidden;}
@keyframes movefromleft-one {
 from{ -webkit-transform: translateX(-220%); transform: translateX(-220%);}
}
@-webkit-keyframes movefromleft-one {
    from { -webkit-transform: translateX(-220%); }
}

.summer-activity-two{ width: 451px; height: 452px; position: absolute; background: url(../images/activity-tbxfj.jpg) no-repeat; top:205px; right: 10px; -webkit-animation: movefromright-two 2s ease-in-out both; animation: movefromright-two 2s ease-in-out both; overflow: hidden;}
@keyframes movefromright-two {
    from{ -webkit-transform: translateX(220%); transform: translateX(220%);}
}
@-webkit-keyframes movefromright-two {
    from { -webkit-transform: translateX(220%); }
}

.summer-activity-three{ width: 451px; height: 452px; position: absolute; background: url(../images/activity-mbzsj.jpg) no-repeat; top:655px; left: 10px; -webkit-animation: movefromleft-three 2.5s ease-in-out both; animation: movefromleft-three 2.5s ease-in-out both; overflow: hidden;}


@keyframes movefromleft-three {
    from{ -webkit-transform: translateX(-220%); transform: translateX(-220%);}
}
@-webkit-keyframes movefromleft-three {
    from { -webkit-transform: translateX(-220%); }
}

.summer-activity-four{ width: 454px; height: 484px; position: absolute; background: url(../images/activity-zjzsj.png) no-repeat; top:750px; right: 10px; -webkit-animation: movefromright-four 3s ease-in-out both; animation: movefromright-four 3s ease-in-out both; overflow: hidden;}
@keyframes movefromright-four {
    from{ -webkit-transform: translateX(220%); transform: translateX(220%);}
}
@-webkit-keyframes movefromright-four {
    from { -webkit-transform: translateX(220%); }
}

.summer-activity-five{ width: 1000px; height: 417px; position: absolute; background: url(../images/activity-dmgj.jpg) no-repeat; bottom: 25px; -webkit-animation: movefrombottom-five 3.5s ease-in-out both; animation: movefrombottom-five 3.5s ease-in-out both; overflow: hidden;}
@keyframes movefrombottom-five {
    from{ -webkit-transform: translateY(220%); transform: translateY(220%);}
}
@-webkit-keyframes movefrombottom-five {
    from { -webkit-transform: translateY(220%); }
}

.summer-font-one{ width: 375px; margin:70px 0 0 20px;}
.summer-font-one h1{ font: 12px/30px "微软雅黑"; color: #024028; font-weight: bold;}
.summer-font-one h2{ font: 12px/30px "微软雅黑"; color: #024028; font-weight: bold;}
.summer-font-one p{ font: 12px/30px "微软雅黑"; color: #024028;}

.summer-font-two{ width: 375px; margin:70px 0 0 70px;}
.summer-font-two h1{ font: 12px/30px "微软雅黑"; color: #024028; font-weight: bold;}
.summer-font-two h2{ font: 12px/30px "微软雅黑"; color: #024028; font-weight: bold;}
.summer-font-two p{ font: 12px/28px "微软雅黑"; color: #024028;}

.summer-font-five{ width: 970px; margin: 90px 0 0 25px;}
.summer-font-five h1{ font: 14px/30px "微软雅黑"; color: #024028; font-weight: bold;}
.summer-font-five h2{ font: 14px/30px "微软雅黑"; color: #024028; font-weight: bold;}
.summer-font-five p{ font: 14px/28px "微软雅黑"; color: #024028;}
.summer-font-five label{ font: 14px/28px "微软雅黑"; color: #d31b07;}

.dangling{ width: 150px; height: 150px; position: fixed; z-index: 9999; top:350px; right: 50px;}
.close{ width: 13px; height: 13px; position: absolute; right: 5px; top: 0px; cursor: pointer;}






