/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF;}
html, body{height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}


.page{width: 100%; height: 100%;}
.wx-text-a{ width: 100%; height: 100%; overflow: hidden; background: #DEDEDE; position:absolute; z-index: 999;}
.wx-dsj{ width: 70%; margin: 15% auto 0;}
.wx-dsj img{ width: 100%;}
.wx-qq{ width: 50px; height: 50px; position: absolute; bottom: 10px; background: url(../images/wx-qq.png) no-repeat;z-index: 9999; background-size: 50px; left: 50%; margin-left: -25px;}
.wx-qq img{ width: 23px; height: 15px;  margin: 15px 0 0 14px; animation: movefromup ease 1.5s both infinite;}

.wx-wyd{ width: 40%; margin: 10px auto;}
.wx-wyd img{ width: 100%;}
.wx-wyd-font{ width: 85%; margin: 10px auto 30px;}
.wx-wyd-font img{ width: 100%;}
.wx-wyd-font-too{ width: 85%; margin: 0 auto;}
.wx-wyd-font-too img{ width: 100%;}

.textbox{ width: 100%; height: 100%; position: absolute; z-index: 9999;}
.wx-font-nav{ width: 95%; height: 75%; margin: 12% auto 0;background-image: -webkit-gradient(linear,  left top,  left bottom, color-stop(0, #DEDEDE), color-stop(0.5, #fff), color-stop(1, #DEDEDE)); filter: alpha(opacity=100,finishopacity=1,style=2); overflow: hidden;}
.wx-font-nav li{ width: 100%; height: 50px; margin: 20px 0; font: 12px/25px "微软雅黑"; color: #000; text-align: center;}



@-webkit-keyframes movefromup {
    0% { -webkit-transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes movefromup {
    0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}




















