.abouttop{float:left;width:100%;height:346px;background: url(../images/aboutbanner.png) no-repeat 50% 50%;}
.aboutmenu{float:left;width:100%;background: #EDDFCE;}
.aboutmenulist{display: block;width:1000px;margin:0 auto;}
.aboutmenulist ul{float:left;width:100%;}
.aboutmenuword{float:left;width:143px;height:50px;line-height: 50px;text-align: center;color: #AB6D20;font-size:15px;cursor: pointer;}
.aboutmenuxuan{background: #AB6D20;color: #fff;}
.aboutmenujian{position: absolute;width:143px;height:7px;background: url(../images/aboutjian.png) no-repeat 50% 0;margin-top:50px; display: none;}
.aboutline{float:left;width:100%;}
.aboutcont{float:left;width:100%;margin-top:28px;padding-bottom: 50px;}
.aboutcen{margin:0 auto;width:1000px;display: block;}
.aboutcenul{float:left;width:1000px;}
.aboutline div{margin:0 auto;width:1000px;display: block;height:43px;background: url(../images/aboutbar1.png) no-repeat;margin-top:30px;}
.aboutcentitle{float:left;width:1000px;text-align: center;color: #AB6D20;font-size: 26px;}

.dasj-bd{ width: 1000px; margin:80px auto 0;}
.dasj-bd p{ font: 14px/30px "微软雅黑"; color: #ad6000; text-indent: 28px;}
.dasj-bg{ width: 1000px; height: 1809px; margin: 0 auto; background: url(../images/dasj.jpg) no-repeat; position: relative;}
.dasj-bg p{ font-size: 14px; font-family: 微软雅黑; position: absolute; color: #ab6d20;}














