.reward-banner{ margin: 0 auto;}
.reward-one-bd{ width: 1100px; height: 460px; margin: 0 auto; position: relative;}
.reward-one-title{ width: 372px; height: 76px; position: absolute; top: -50px; left: 50px;}
.reward-one-bg{ width: 1100px; height: 360px; background: url(../images/reward-one-bg.jpg) no-repeat; position: absolute; top: 70px; left: 50px;}
.reward-tzyh{ width: 220px; height: 100px; border: 1px solid #28BA8D; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; position: absolute; top: 150px;}
.reward-tzyh p{ font: 34px/40px "微软雅黑";   margin-top: 10px; text-align: center; color: #28ba8d; font-weight: bold;}
.re-tzje-nav{ width: 245px; height: 115px; position: absolute; left: 283px; top: 142px;}
.re-tzje-nav li{ width: 245px; height: 38px; font: 15px/38px "微软雅黑"; text-align: center; color: #693505; font-weight: bold;}
.reward-one-bg .re-org{ color: #EA4426;}
.re-tzjl-nav{ width: 384px; height: 115px; position: absolute; left: 597px; top: 142px;}
.re-tzjl-nav li{ width: 384px; height: 38px; font: 15px/38px "微软雅黑"; text-align: center; color: #693505; font-weight: bold;}
.re-rules{ width: 850px; position: absolute; top: 300px; font: 15px/30px "微软雅黑"; color: #108360; font-weight: bold;}
.re-recommend{ width: 120px; height: 30px; font: 13px/30px "微软雅黑"; color: #fff; font-weight: bold; position: absolute; top: 300px; left: 860px; text-align: right; padding-right: 10px;}
.re-recommend a{ display: block; color: #fff;}
.re-recommend a:hover{ width: 120px; height: 30px;}



.reward-two-box{ width: 100%; height: 380px; background: #F2F7FF;}
.reward-two-bd{ width: 1100px; height: 350px; margin: 0 auto;}
.reward-two-jl{ width:610px; height: 340px; float: left; margin-left: 50px;}
.reward-two-font{ width: 370px; height: 165px; border: 1px solid #FF602F; border-radius: 5px; float: left; margin-left: 20px; margin-top: 170px;}
.reward-two-font p{ font: 16px/33px "微软雅黑";  margin-top: 5px; text-align: left; color: #ea4426; padding: 10px;}



.reward-percentage{ width: 100%; height: 670px; }
.reward-percentage-bd{ width: 1100px; height: 660px; background: url(../images/reward-percentage.jpg) -20px 0 no-repeat; margin: 0 auto; position: relative;}
.reward-percentage-a{ width: 315px; height: 95px; position: absolute; top: 222px; left: 355px; color: #ff602f;}
.reward-percentage-b{ width: 400px; height: 95px; position: absolute; top: 335px; left: 415px; color: #ff602f;}
.reward-percentage-c{ width: 560px; height: 95px; position: absolute; top: 435px; left: 455px; color: #ff602f; text-align: center; line-height: 35px;}
.reward-percentage-c .re-blur{ color:#10ae7d; font-size: 15px;}
.reward-exampl{ width: 940px; height: 75px; position: absolute; top: 560px; left: 60px;}
.reward-exampl-box{ width: 100px; height: 50px; border: 1px solid #ea4426; border-radius: 6px; font: 16px/50px "微软雅黑"; text-align: center; color: #ea4426; font-weight: bold; float: left; display: inline;}
.reward-exampl-font{ width: 810px; float: left;font: 15px/27px "微软雅黑"; margin-left: 20px; color: #ea4426;}

.reward-lifetime-bd{ width: 100%; height: 960px; background: #F2F7FF;}
.reward-lifetime{ width: 1100px; height: 530px; background: url(../images/lifetime.jpg) 55px 0 no-repeat; margin: 0 auto; position: relative;}
.reward-lifetime-font{ width: 543px; height: 100px; border: 1px solid #ea4426; border-radius: 5px; position: absolute; top:150px; left: 80px;}
.reward-lifetime-font p{ font: 16px/35px "微软雅黑"; color: #ea4426; padding: 15px 0 0 15px}

.reward-banner-bd{ width:1100px; height: 325px; margin: 0 auto;  position: relative;}
.reward-banner-nav{ width: 1000px; height: 325px; margin-left: 100px; overflow: hidden;}
.reward-banner-nav li{ width: 1000px; height: 325px;}
/*----banner1---*/
.reward-ban-a{ width: 376px; height: 290px; float: left; display: inline; margin-left: 20px;}
.reward-way-one{ width: 500px; height: 265px; float: left; display: inline; background: #d7f3f2; margin: 60px 0 0 15px; border-radius: 5px;}
.reward-way-title{ width: 500px; height: 60px; background: #28ba8d; text-align: center; font: 28px/60px "微软雅黑"; border-radius: 5px; color: #fff;}
.reward-recommend{ width: 500px; margin-top: 30px;}
.reward-recommend h1{ text-align: center; font: 16px/25px "微软雅黑"; color: #333;}
.reward-recommend h2{ text-align: center; font: 18px/30px "微软雅黑"; margin-top: 15px; color: #515050;}
.reward-recommend h2 a{ color: #ff602f;}
.reward-copy{ width: 150px; height: 40px; background: #ff602f; color: #fff; font: 16px/40px "微软雅黑"; text-align: center; border-radius: 5px; margin-left: 180px; margin-top: 40px; outline: none; cursor: pointer;}
.reward-way-one-int{ width: 200px; height: 32px; background: #a9cecd; border-radius: 5px; margin-top: 15px; margin-left: 150px; outline:none; text-align: center;}

/*----banner2---*/
.reward-way-two{ width: 435px; margin-top: 85px; margin-left: 30px; float: left;}
.reward-way-two-top{ width: 435px; float: left;}
.reward-way-two-top h1{ font: 14px/35px "微软雅黑"; float: left; display: inline;}
.reward-way-two-int{ width: 215px; height: 35px; background: #fff; border-radius: 5px; margin: 0 10px; color: #333; padding-left: 10px; outline: none; float: left; display: inline; font: 14px/35px "微软雅黑";}
.reward-way-two-but{width: 100px; height: 35px; font: 16px/35px "微软雅黑"; background: #ff602f; border-radius: 5px; color: #fff;  outline: none; text-align: center; cursor: pointer; float: left; display: inline;}
.reward-way-two h2{ float: left; font: 16px/30px "微软雅黑"; margin-top: 25px; margin-left: 10px; color: #515050;}
.reward-way-two h2 a{ color: #ff602f;}

/*----banner3---*/
.reward-way-three{ width: 430px; margin-top: 20px; margin-left: 23px; float: left;}
.reward-way-ewm-bd{ width: 200px; height: 175px; float: left;}
.reward-way-ewm{ width: 142px; height: 142px; margin-left: 25px; margin-bottom: 5px;}
.reward-way-ewm-bd p{ width: 200px; font: 12px/25px "微软雅黑"; color: #000; text-align: center;}
.reward-way-ewm-font{ width: 215px; float: left; display: inline; margin-top: 45px; }
.reward-way-ewm-font h2{ font: 14px/30px "微软雅黑"; margin-left: 10px; color: #515050; text-align: center;}
.reward-way-ewm-font h2 a{ color: #ff602f;}


.slideBox .hd{ height: 15px; overflow: hidden; position: absolute; left: 280px; bottom: 5px; z-index: 1; }
.slideBox .hd ul { overflow: hidden; zoom: 1;}
.slideBox .hd ul li{ float: left;margin-right: 8px; width: 10px; height: 10px; line-height: 14px; border-radius: 100px; text-align: center; background: #848483; cursor: pointer;}
.slideBox .hd ul li.on{ background: #ff602f;}
.prev{ width: 29px; height: 56px; position: absolute; left:100px; top: 180px; background: url(../images/reward-lt.png) no-repeat;}
.prev a{width: 29px; height: 56px; display: block; text-indent: -9999px;}
.prev a:hover{ width: 29px; height: 56px; background: url(../images/reward-lt-hover.png) no-repeat;}
.next{ width: 29px; height: 56px; position: absolute; right:0px; top: 180px; background: url(../images/reward-rt.png) no-repeat;}
.next a{width: 29px; height: 56px; display: block; text-indent: -9999px;}
.next a:hover{ width: 29px; height: 56px; background: url(../images/reward-rt-hover.png) no-repeat;}





