body,p,div,span,ul,li,table,th,td{ padding: 0; margin: 0; bottom: 0;}
ul li{list-style: none;}




.contentfive{width:1000px;margin:0 auto;background: #fff;height:440px;box-shadow: 3px 3px 10px #ccc;}
.fiveulone{float:left;width:95%;padding-bottom: 9px;margin-top:11px;border-bottom: 1px dotted #f2f2f2;margin-left:26px;}



.fivetable{float:left;width:100%;margin:0;padding:0;}
.fivetable thead{float:left;width:100%;margin:0;padding:0;}
.fivetabletr{float:left;width:100%;height:60px;border-bottom: 1px dotted #EEEFF3;}
.fivetable tr:hover{background: #FBEDC0;}
.fivetabletdone{float:left;padding-left:24px;width:193px;width:191px\9;}
.fivespanone{float: left;font-size: 18px;font-weight: bold;height: 30px;line-height: 30px;text-align: center;width: 30px;margin-top:15px;}
.fivespantwo{float:left;height:60px;line-height: 60px;font-size: 14px;margin-left:10px;color:#000;}
.fivetabletdtwo{float:left;width:112px;height:60px;width:111px\9;}
.fivespandan{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_01.png) no-repeat 50% 50%;display: block;}
.fivespanya{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_02.png) no-repeat 50% 50%;display: block;}
.fivespanxin{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_03.png) no-repeat 50% 50%;display: block;}
.fivespanshi{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_04.png) no-repeat 50% 50%;display: block;}
.fivespanjing{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_05.png) no-repeat 50% 50%;display: block;}
.fivespanrang{float:left;margin-left:2px;width:24px;height:60px;background: url(../images/BD_06.png) no-repeat 50% 50%;display: block;}
.fivetabletdthree{float:left;width:121px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:119px\9;}
.fivetabletdfour{float:left;width:103px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:99px\9;}
.fivespanfive{font-size: 18px;color: #ab6d20;}
.fivetabletdfive{float:left;width:116px;height:60px;line-height:60px;color: #fe8800;font-size: 18px;text-align: center;}
.fivetabletdsix{float:left;width:86px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:84px\9;}
.fivetabletdseven{float:left;height:60px;}
.fivespansix{float:left;width:50px;height:60px;line-height:60px;background:url(../images/jinduyuanbao.png) no-repeat 23% 50%;padding-left:75px;font-size: 14px;color: #ab6d20;}
.fivetabletdeight{float:left;height:60px;width:120px;width:116px\9;}
.fivespanseven{float:left;margin-left:20px;height:60px;background: url(../images/buyLeft.jpg) no-repeat 0 50%;width:3px;margin-left:18px\9;}
.fivespaneight{float:left;height:60px;background: url(../images/buyRight.jpg) no-repeat 0 50%;width:4px;}
.fivetablelink{float:left;margin-left:10px;width:75px; font-size: 14px; background: url(../images/buyMid.png) no-repeat 0 50%;height:60px;line-height: 60px;color: #fff;text-align: center;}
.fivetdone{float:left;padding-left:24px;width:193px;width:191px\9;}
.fivetdtwo{float:left;width:112px;height:60px;width:111px\9;text-align: center;}
.fivetdtwoimg{margin-top:17px;margin-left:2px;}
.fivetdthree{float:left;width:121px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:119px\9;}
.fivetdfour{float:left;width:103px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:99px\9;}
.fivetdsix{float:left;width:86px;height:60px;line-height:60px;color: #000;font-size: 14px;text-align: center;width:84px;}
.fivetdseven{float:left;height:60px;}
.fivetdeight{float:left;height:60px;width:120px;width:116px;}
.fivetdone img{float:left;margin-top:15px;}




.fivetdfive{float:left;width:116px;font-size: 18px;text-align: center;height:60px;line-height:60px;color: #ab6d20; position: relative;}
.nianhuajiang{width:38px;height:38px;background: url(../images/jx.png) center no-repeat; background-size: 100%; position: absolute; right: -10px; top: 0px; font: 24px/38px "微软雅黑"; color: #fff; text-indent: -2px;}


















