/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}

/*音乐*/
.btn_music{display:inline-block;width:35px;height:35px;background:url(../images/play.png) no-repeat center center;background-size:100% auto;position:absolute;z-index:100;right:15px;top:20px;}
.btn_music.on{background-image:url(../images/stop.png);}


.wyd-activity-page{ width: 100%; height: 100%;}
/*------第一页------*/
.wyd-activity-page-one{ background:transparent url(../images/act-bg-a.png) no-repeat center top; background-size: 100% 100%; overflow: hidden;}
.wyd-page-one-logo{ width:50%; margin:40px auto 0; position: relative;}
.wyd-page-one-logo img{ width: 100%;}
.wyd-page-one-hb{ width:45%; margin:0 auto;}
.wyd-page-one-hb img{ width: 100%;}
.wyd-page-one-font{ width:60%; margin:15% auto 0;}
.wyd-page-one-font img{ width: 100%;}


/*------第二页------*/
.wyd-activity-page-two{ background:transparent url(../images/act-bg-b.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-two-cl{ width:200px; height: 175px; margin:20px auto 0; position: relative;}
.img-a{ width: 50%; position: absolute; margin-top: 30px; -webkit-animation-name:slide1;-webkit-animation-duration:10s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-name:slide1;-moz-animation-duration:10s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;}.img-a img{ width: 100%}
@-webkit-keyframes slide1{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes slide1{
    0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(180deg);}
    100%{-moz-transform:rotate(360deg);}
}

.img-b{ width: 40%; position: absolute; margin-left: 43%; margin-top:45%; -webkit-animation-name:slide2;-webkit-animation-duration:10s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-name:slide2;-moz-animation-duration:10s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;}.img-b img{ width: 100%}
@-webkit-keyframes slide2{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(-180deg);}
    100%{-webkit-transform:rotate(-360deg);}
}
@-moz-keyframes slide2{
    0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(-180deg);}
    100%{-moz-transform:rotate(-360deg);}
}

.img-c{ width: 30%; position: absolute; margin-left: 48%; margin-top: 8%;-webkit-animation-name:slide3;-webkit-animation-duration:10s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-name:slide2;-moz-animation-duration:10s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;}.img-c img{ width: 100%}
@-webkit-keyframes slide3{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(-180deg);}
    100%{-webkit-transform:rotate(-360deg);}
}
@-moz-keyframes slide3{
    0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(-180deg);}
    100%{-moz-transform:rotate(-360deg);}
}

.wyd-page-two-hb{ width:45%; margin:45px auto 0;}
.wyd-page-two-hb img{ width: 100%;}



.wyd-jt{ width: 50px; height: 50px; position: absolute; bottom: 10px;z-index: 9999; background-size: 50px; left: 50%; margin-left: -25px;}
.wyd-jt img{ width: 23px; height: 15px;  margin: 15px 0 0 14px; animation: slide4 ease 1.5s both infinite; -webkit-animation: slide4 ease 1.5s both infinite;}
@-webkit-keyframes slide4 {
    0% { -webkit-transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes slide4 {
    0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
    50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
    100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}



/*------第三页------*/
.wyd-activity-page-three{ background:transparent url(../images/act-bg-c.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-three-date{ width:48%; margin:0 auto; padding-top: 120px;}
.wyd-page-three-date img{ width: 100%;}
.wyd-page-three-font{ width:60%; margin:150px auto 0;}
.wyd-page-three-font img{ width: 100%;}


/*------第四页------*/
.wyd-activity-page-four{ background:transparent url(../images/act-bg-d.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-four-zp{ width:70%; margin:0 auto; padding-top:50px;}
.wyd-page-four-zp img{ width: 100%;}



.wyd-page-four-hb{ width:40%; margin:30px auto 0;}
.wyd-page-four-hb img{ width: 100%;}
.wyd-page-four-font{ width:50%; margin:40px auto 0;}
.wyd-page-four-font img{ width: 100%;}


/*------第五页------*/
.wyd-activity-page-five{ background:transparent url(../images/act-bg-e.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-five-mk{ width:40%; margin:0 auto; padding-top: 80px;}
.wyd-page-five-mk img{ width: 100%;}
.wyd-page-five-hb{ width:40%; margin:-75px auto 0;}
.wyd-page-five-hb img{ width: 100%;}
.wyd-page-five-font{ width:40%; margin:35px auto 0;}
.wyd-page-five-font img{ width: 100%;}


/*------第六页------*/
.wyd-activity-page-six{ background:transparent url(../images/act-bg-f.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-six-yu{ width:40%; margin:0 auto; padding-top: 70px;}
.wyd-page-six-yu img{ width: 100%;}
.wyd-page-six-hb{ width:40%; margin:-75px auto 0;}
.wyd-page-six-hb img{ width: 100%;}
.wyd-page-six-font{ width:60%; margin:35px auto 0;}
.wyd-page-six-font img{ width: 100%;}


/*------第七页------*/
.wyd-activity-page-seven{ background:transparent url(../images/act-bg-g.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-seven-jfw{ width:40%; margin:0 auto; padding-top: 70px;}
.wyd-page-seven-jfw img{ width: 100%;}
.wyd-page-seven-hb{ width:40%; margin:55px auto 0;}
.wyd-page-seven-hb img{ width: 100%;}
.wyd-page-seven-sut{ width:40%; margin:-40px auto 0;}
.wyd-page-seven-sut img{ width: 100%;}
.wyd-page-seven-font{ width:60%; margin:35px auto 0;}
.wyd-page-seven-font img{ width: 100%;}


/*------第八页------*/
.wyd-activity-page-eight{ background:transparent url(../images/act-bg-h.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-eight-tx{ width:60%; margin:0 auto; padding-top: 70px;}
.wyd-page-eight-tx img{ width: 100%;}
.wyd-page-eight-hb{ width:50%; margin:45px auto 0;}
.wyd-page-eight-hb img{ width: 100%;}
.wyd-page-eight-font{ width:40%; margin:35px auto 0;}
.wyd-page-eight-font img{ width: 100%;}


/*------第九页------*/
.wyd-activity-page-nine{ background:transparent url(../images/act-bg-i.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-nine-bd{ width: 200px; height: 200px; margin: 0 auto; position: relative; top: 30px;}
.wyd-page-nine-tx{ width:70%; margin:0 auto; padding-top: 30px;}
.wyd-page-nine-tx img{ width: 100%;}
.wyd-page-nine-h{ width:83%; margin:-153px auto 0;-webkit-animation-name:slide6;-webkit-animation-duration:10s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-name:slide1;-moz-animation-duration:10s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;}  .wyd-page-nine-h img{ width: 100%;}

@-webkit-keyframes slide6{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(-180deg);}
    100%{-webkit-transform:rotate(-360deg);}
}
@-moz-keyframes slide6{
    0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(-180deg);}
    100%{-moz-transform:rotate(-360deg);}
}

.wyd-page-nine-hb{ width:40%; margin:50px auto 0;}
.wyd-page-nine-hb img{ width: 100%;}
.wyd-page-nine-font{ width:65%; margin:35px auto 0;}
.wyd-page-nine-font img{ width: 100%;}



/*------第十页------*/
.wyd-activity-page-ten{ background:transparent url(../images/act-bg-j.png) no-repeat center top; background-size: 100% 100%; }
.wyd-page-ten-tx{ width:45%; margin:0 auto; padding-top: 40px;}
.wyd-page-ten-tx img{ width: 100%;}
.wyd-page-ten-hb{ width:40%; margin:-85px auto 0;}
.wyd-page-ten-hb img{ width: 100%;}
.wyd-page-ten-font{ width:40%; margin:10px auto 0;}
.wyd-page-ten-font img{ width: 100%;}
#fade{ width:100%; height:100%; background-color: rgba(0,0,0,.6); opacity:1; position:fixed; left:0; top:0; z-index:888;}
.wyd-jxcx{ width: 290px; height: 395px; position: absolute; left: 0; top: -100px; right: 0; bottom: 0; margin: auto; z-index: 9999;}
.wyd-xx{ width: 69px; height: 69px; position: absolute; top: 0; right: 0;}
.wyd-xs{ width: 200px; top: 250px; left: 45px; position: absolute;}
.wyd-yh{ width: 200px; top: 330px; left: 45px; position: absolute;}

/*------登录页------*/
.login-lg{ width: 50%; margin:0 auto; padding-top: 10%;}
.login-lg img{ width: 100%;}
.login-bd{ width: 90%; margin:50px auto 0;}
.login-name{ width: 98%; height: 50px; font: 14px/50px "微软雅黑"; border: 1px solid #d5d5d5; outline: none; padding-left: 2%; margin-bottom: 20px; border-radius: 5px;}
.login-name-a{ background: url(../images/login-peop.png) 98% center no-repeat; background-size: 7%;}
.login-name-b{ background: url(../images/login-suo.png) 98% center no-repeat; background-size: 7%;}
.login-log{ width: 100%; height: 50px; font: 20px/50px "微软雅黑"; outline: none; text-align: center; color: #fff; border-radius: 5px; background: #e99a11;}
.login-font{ width: 100%; font: 16px/50px "微软雅黑"; text-align: right; color: #000;}
.login-font a{ color: #000;}
.login-font-red{ color: #e82727;}


/*------账户总额------*/
.account-top{ width: 100%; height: 17%;}
.account-title{ width: 95%; height: 100%; margin: 0 auto; border-bottom: 1px solid #ddd;}
.acc-pic{ width: 20%; float: left; display: inline; margin-top: 7%;}
.acc-pic img{ width: 80%;}
.acc-bd{ width: 80%; height: 90px; float: left; display: inline; margin-top: 7%;}
.acc-bd h1{ font: 14px/25px "微软雅黑"; color: #666; margin-top: 5px;}
.acc-bd h2{ font: 12px/25px "微软雅黑"; color: #666;}
.acc-monet{ width: 100%; height: 22%;}
.acc-monet p{ font: 24px/40px "微软雅黑"; text-align: center; color: #565656; padding-top: 7%; }
.acc-monet p span{ color: #e99a11; font-weight: normal; font-size: 26px;}
.acc-ye{ width: 95%; background: #fff; margin: 0 auto; padding-bottom: 30px;}
.acc-ye-bd{ width: 100%;}
.acc-ye-lt{ width: 45%; float: left; padding-left: 5%; box-sizing: border-box; margin-top: 5%;}
.acc-ye-lt p{ width: 100%; font: 17px/35px "微软雅黑"; color: #999;}
.acc-ye-lt p span{ color: #000; font-size: 20px;}

.acc-nav{ width: 100%; height: 80px; background: #fff; border-top: 1px solid #DDD; position: fixed; bottom: 60px; margin-top: 50px;}
.acc-nav li{ width: 25%; height: 80px; float: left; font: 14px/120px "微软雅黑"; color: #000; text-align: center;}
.acc-nav li:nth-child(1){ background: url(../images/m-wx.png) center 15px no-repeat; background-size:40%;}
.acc-nav li:nth-child(2){ background: url(../images/m-zh.png) center 12px no-repeat; background-size:40%;}
.acc-nav li:nth-child(3){ background: url(../images/m-jl.png) center 8px no-repeat; background-size:40%;}
.acc-nav li:nth-child(4){ background: url(../images/m-ybx.png) center 15px no-repeat; background-size:40%;}
.acc-nav li a{color: #000; display: block;}
.acc-nav li a:hover{ width: 100%; height: 80px;}
.acc-bottom{ width: 100%; height: 60px; background: #E99A11; position: fixed; bottom: 0;}
.acc-bottom p{ text-align: center; font: 16px/60px "微软雅黑"; color: #fff;}
.acc-bottom p a{ display: block;color: #fff;}
.acc-bottom p a:hover{ width: 100%; height: 60px;}


/*------注册成功------*/
.reg-box{ width:70%; margin: 0 auto;}
.reg-logo{ width: 100%; padding: 15% 0;}
.reg-gx{ width: 100%;}
.reg-more{ width: 100%;padding: 15% 0;}
.reg-more a{ width: 100%; display:block;}


/*------抽奖页面------*/
.draw-bd{ width: 100%; margin:0 auto;}
.draw{ width: 270px; height: 250px; margin: 60px auto 0; background: url(../images/wyd-hb.png) no-repeat; background-size: 100%;}
.draw-font{ width: 200px; height: 45px; margin: 0 auto; padding-top: 133px; font: 18px/45px "微软雅黑"; text-align: center; color:#d90000;}
.draw-fxjx{ width: 200px; margin: 100px auto 0;}
.draw-fxjx a{ width: 100%; display: block;}


/*------抽奖机会------*/
.lucky-bd{ width: 80%; margin: 0 auto;}
.lucky-bd h1{ width: 100%; font: 18px/30px "微软雅黑"; text-align: center;  color: #000; padding: 120px 0;}
.lucky-bd h1 span{ font-size: 25px; color: #FFA200;}
.lucky-shjx{ width: 80%; margin-left: 10%; height: 40px; text-align: center; background: #E99A11; border-radius: 5px; font: 16px/40px "微软雅黑"; color: #fff; cursor: pointer; outline: none;}
.lucky-bd h2{ width: 100%; font: 16px/25px "微软雅黑"; text-align: center;  color: #000; padding: 100px 0 100px;}
.lucky-bd h2 span{ font-size: 14px; color: #6f6f6f;}










/*@media screen and (max-device-width: 320px){/!* 兼容iphone4/4s *!/*/
    /*/!*------第一页------*!/*/
    /*.wyd-page-one-logo{ width:130px; margin:30px auto 0;}*/
    /*.wyd-page-one-hb{ width:120px; margin:10px auto 0;}*/
    /*.wyd-page-one-font{ width:200px; margin:30px auto 0;}*/
    /*/!*------第二页------*!/*/
    /*.wyd-page-two-cl{ width:200px; margin:50px auto 0;}*/
    /*.wyd-page-two-hb{ width:145px; margin:25px auto 0;}*/

/*}*/

/*@media screen and (max-device-width: 480px){/!* 兼容iphone5 *!/*/
    /*/!*------第一页------*!/*/
    /*.wyd-page-one-logo{ width:140px; margin:30px auto 0;}*/
    /*.wyd-page-one-hb{ width:155px; margin:10px auto 0;}*/
    /*.wyd-page-one-font{ width:200px; margin:30px auto 0;}*/
    /*/!*------第二页------*!/*/
    /*.wyd-page-two-cl{ width:200px; margin:50px auto 0;}*/
    /*.wyd-page-two-hb{ width:145px; margin:30px auto 0;}*/

/*}*/

/*@media screen and ( min-width: 375px){/!* 兼容iphone6*!/*/
    /*/!*------第一页------*!/*/
    /*.wyd-page-one-logo{ width:170px; margin:50px auto 0;}*/
    /*.wyd-page-one-hb{ width:170px; margin:2% auto 0;}*/
    /*.wyd-page-one-font{ width:230px; margin:10% auto 0;}*/

    /*/!*------第二页------*!/*/
    /*.wyd-page-two-cl{ width:230px; margin:80px auto 0;}*/
    /*.wyd-page-two-hb{ width:165px; margin:25px auto 0;}*/
/*}*/


/*@media screen and ( min-width: 414px){/!* 兼容iphone6 plus *!/*/
    /*/!*------第一页------*!/*/
    /*.wyd-page-one-logo{ width:210px; margin:30px auto 0;}*/
    /*.wyd-page-one-hb{ width:190px; margin:10px auto 0;}*/
    /*.wyd-page-one-font{ width:260px; margin:30px auto 0;}*/
    /*/!*------第二页------*!/*/
    /*.wyd-page-two-cl{ width:250px; margin:90px auto 0;}*/
    /*.wyd-page-two-hb{ width:180px; margin:30px auto 0;}*/
/*}*/

























