.dangling {width: 150px; height: 150px; position: fixed; z-index: 9999; top: 350px; right: 50px;}
.close{ width: 13px; height: 13px; position: absolute; right: 5px; top: 0px; cursor: pointer;}
.summer-camp-banner{ height:369px; background: #2CDDC1;}
.summer-camp-bd{ width: 1000px; margin: 0 auto; padding: 30px 0; }

/*------新人报到奖-------*/
.summer-xrbdj-bd{ width: 945px;}
.summer-xrbdj-title-bg{ width: 945px; height: 125px; background: url(../images/activity-bdj.png) no-repeat;}
.summer-xrbdj-title{ width: 885px; height: 53px; padding-top: 31px; float: right; display: inline; cursor: pointer;}
.summer-xrbdj-title-right{ width: 30px; height: 20px; margin: 18px 38px 0 0; float: right; display: inline; background: url(../images/bdj-pic.jpg) no-repeat;}
.s-title-right{ width: 30px; height: 25px; margin: 17px 38px 0 0; float: right; display: inline; background: url(../images/bdj-pic.jpg) -2px -24px no-repeat;  }
.summer-xrbdj-font{ width: 893px; border: 1px solid #2CDDC1; margin:-40px 0 0 43px; padding: 20px 0;}
.summer-xrbdj-font p{ font: 13px/35px "微软雅黑"; color: #024028; padding-left: 20px;}
.summer-xrbdj-font p label{ font: 13px/35px "微软雅黑"; padding-left: 20px; color: #ab2010;}


/*------投标先锋奖-------*/
.summer-tbxfj-bd{ width: 978px;}
.summer-tbxfj-title-bg{ width: 978px; height: 125px; background: url(../images/activity-xfj.png) no-repeat; margin-top: 20px;}
.summer-tbxfj-title{ width: 885px; height: 53px; padding-top: 31px; float: right; display: inline; cursor: pointer;}
.summer-tbxfj-title-right{ width: 30px; height: 25px; margin: 18px 71px 0 0; float: right; display: inline; background:url(../images/dmgj-pic.jpg) -2px 26px;}
.tbxfj-title-right{ width: 30px; height: 25px; margin: 17px 71px 0 0; float: right; display: inline; background: url(../images/dmgj-pic.jpg) -1px 1px no-repeat;  }
.summer-tbxfj-font{ width: 892px; border: 1px solid #12c2ee; margin:-40px 0 0 43px; padding: 20px 0;}
.summer-tbxfj-font p{ font: 13px/35px "微软雅黑"; color: #024028; padding-left: 20px;}
.summer-tbxfj-font p label{ font: 13px/35px "微软雅黑"; padding-left: 20px; color: #ab2010;}


/*------满标战士奖-------*/
.summer-mbzsj-bd{ width: 964px;}
.summer-mbzsj-title-bg{ width: 964px; height: 111px; background: url(../images/activity-mbzsj.png) no-repeat; margin-top: 20px; margin-left: 10px;}
.summer-mbzsj-title{ width: 885px; height: 53px; padding-top: 31px; float: right; display: inline; cursor: pointer;}
.summer-mbzsj-title-right{ width: 30px; height: 25px; margin: 9px 66px 0 0; float: right; display: inline; background:url(../images/mbzsj-pic.jpg) -2px 26px;}
.mbzsj-title-right{ width: 30px; height: 25px; margin: 9px 68px 0 0; float: right; display: inline; background: url(../images/mbzsj-pic.jpg) -1px 1px no-repeat;  }
.summer-mbzsj-font{ width: 892px; border: 1px solid #f27668; margin:-35px 0 0 43px; padding: 28px 0;}
.summer-mbzsj-font p{ font: 13px/35px "微软雅黑"; color: #024028; padding-left: 20px;}
.summer-mbzsj-font p label{ font: 13px/35px "微软雅黑"; padding-left: 20px; color: #ab2010;}



/*------最佳战士奖-------*/
.summer-zjzsj-bd{ width: 968px;}
.summer-zjzsj-title-bg{ width: 968px; height: 111px; background: url(../images/activity-zjzsj.png) no-repeat; margin-top: 20px; margin-left: 10px;}
.summer-zjzsj-title{ width: 885px; height: 53px; padding-top: 31px; float: right; display: inline; cursor: pointer;}
.summer-zjzsj-title-right{ width: 30px; height: 25px; margin: 23px 68px 0 0; float: right; display: inline; background:url(../images/bdj-pic.jpg) -2px 26px;}
.zjzsj-title-right{ width: 30px; height: 25px; margin: 23px 68px 0 0; float: right; display: inline; background: url(../images/bdj-pic.jpg) -2px 1px no-repeat;  }
.summer-zjzsj-font{ width: 892px; border: 1px solid #2cddc1; margin:-20px 0 0 45px; padding: 28px 0;}
.summer-zjzsj-font p{ font: 13px/35px "微软雅黑"; color: #024028; padding-left: 20px;}
.summer-zjzsj-font p label{ font: 13px/35px "微软雅黑"; padding-left: 20px; color: #ab2010;}


/*------大满贯奖-------*/
.summer-dmgj-bd{ width: 979px;}
.summer-dmgj-title-bg{ width: 979px; height: 111px; background: url(../images/activity-dmgj.png) -8px 0px no-repeat; margin-top: 45px; margin-left: 10px;}
.summer-dmgj-title{ width: 885px; height: 53px; padding-top: 31px; float: right; display: inline; cursor: pointer;}
.summer-dmgj-title-right{ width: 30px; height: 25px; margin: 11px 78px 0 0; float: right; display: inline; background:url(../images/dmgj-pic.jpg) -2px 26px;}
.dmgj-title-right{ width: 30px; height: 25px; margin: 11px 78px 0 0; float: right; display: inline; background: url(../images/dmgj-pic.jpg) -2px 1px no-repeat;  }
.summer-dmgj-font{ width: 892px; border: 1px solid #12c2ee; margin:-33px 0 0 46px; padding: 28px 0;}
.summer-dmgj-font p{ font: 13px/35px "微软雅黑"; color: #024028; padding-left: 20px;}
.summer-dmgj-font p label{ font: 13px/30px "微软雅黑"; padding-left: 20px; color: #ab2010;}
















