/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#333; background: #FFF2D5;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}
.red{color: #ff4800;}

.banner{ width: 100%;}
.bonus{ width: 95%; margin: 10% auto;}
.text-bd{ width: 90%; margin: 0 auto; padding-bottom: 10%;}
.text-bd h1{ font: 18px/30px "微软雅黑"; color: #ff4800; font-weight: bold;}
.text-bd p{ font: 16px/30px "微软雅黑"; color: #333; margin-top: 5%}
.text-bd h2{ font: 16px/30px "微软雅黑"; color: #ff8000; margin-top: 5%}






































