.banner{ width: 100%; overflow: hidden;}
.page-a{ width: 100%; height: 540px; background: #08A27C;}
.page-b{ width: 100%; height: 540px; background: #F3A326;}
.page-c{ width: 100%; height: 355px; background: #D9473A;}
.page-d{ width: 100%; height: 415px; background: #B84319;}

.box-bd{ width: 1000px; margin: 0 auto; overflow: hidden;}
.box-bd h1{ font: 38px/40px "微软雅黑"; margin: 65px auto 0px; color: #fff; text-align: center; letter-spacing: 6px;}
.font{ width: 790px; margin: 55px auto 0;}
.font p{ font: 15px/30px "微软雅黑"; margin-bottom: 30px; color: #fff; }
.nub{ width: 930px; height: 163px; margin: 85px auto 0;}
.int-lq{ width: 189px; height: 67px; margin: 40px auto 0; }

.tz-pic{ width: 890px; height: 347px; background: url(../images/tz-pic.png) no-repeat; margin: 30px auto 0;}
.tz-box{ width: 430px; height: 260px; float: right; display: inline; margin: 68px 165px 0 0;}
.tz-box h3{ font: 28px/25px "微软雅黑"; padding:35px 20px 30px; color: #fff;}
.tz-box h3 label{ font: 20px/25px "微软雅黑";}
.tz-box h4{ font: 16px/25px "微软雅黑"; color: #fff; padding-left: 20px; margin-bottom: 10px;}
.tz-box h4 span{ margin-left: 28px;}
.ljtz{ width: 132px; height: 46px; padding-left: 20px; margin-top: 20px;}


.price-bd{ width: 850px; margin: 60px auto 0;}
.price{ width: 375px;}
.price-box{ width: 375px; height: 100px; border-radius: 10px; color: #fff; font: 23px/100px "微软雅黑"; text-align: center; border: 1px solid #EA7004; letter-spacing: 2px;}
.price-box label{ color: #FFF000; font-weight: bold; font-size: 28px;}
.price-lq{ width: 375px; height: 35px; background: #EA7004; border-radius: 5px; color: #fff; font: 16px/35px "微软雅黑"; text-align: center; margin-top: 18px; border-bottom: 2px solid #923513;}
.price-lq a{ display: block;color: #fff;}
.price-lq a:hover{width: 375px; height: 35px;}









