/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body{ font-family:helvetica; color:#EFEFEF; background: #E96D25;}
html, body{ height:100%;}
img{ border:none; display: inline-block; vertical-align: middle}
ul{ list-style-type:none; padding: 0; margin:0;}
ul li{ list-style-type:none; padding: 0; margin:0;}
input[type="button"],input[type="date"],input[type="submit"]{ padding:0; -webkit-appearance:none; /*去除input默认样式*/}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a{ text-decoration: none; cursor:pointer; color:#666; -webkit-appearance:none; appearance:none; -moz-appearance:none;}
a:hover{ text-decoration: none;}
.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
::-webkit-scrollbar{ width:0px}

.banner{ width: 100%;}
.warp{ width: 94.5%; margin: 0 auto; }
.activity{ width: 100%; border: 1px solid #F27E3A; border-top:none; background: #D9611C; padding-bottom: 2%; overflow: hidden;}
.activity-title{ width: 50%; margin: 8% auto 0;}
.activity-font{ width: 93%; margin: 0 auto;}
.activity-font p{ font: 14px/28px "微软雅黑"; color: #fff; padding-top: 5%;}
.activity-font p label{ color: #f6ff00;}
.activity-font p span{ color: #691575;}

.account-bd{ width: 100%; margin: 12% auto 0;}
.account-title{ width: 100%; height: 50px; background: #D9611C;}
.account-font{ width: 30%; height: 50px;  background: #E62A17;}
.account-font p{ color: #fff; font: 14px/50px "微软雅黑"; text-align: center; letter-spacing: 2px;}
.account-font p a{ display: block; color: #fff;}
.account-font p a:hover{ width: 100%; height: 50px;}
.account-font label{ color: #f6ff00}
.account-price{ width: 40%; height: 50px; position: relative;}
.account-price-lqjp{ width: 90%; position: absolute; left: 5%; top: -10%; z-index: 1111;}
.account-scrol{ width: 19px; height: 17px; position: absolute; left: 45%; bottom: -50%;}
.price-nav{ width: 100%; margin: 12% auto;}
.price-nav li{ width: 100%; overflow: hidden; margin-bottom: 10%;}
.price-title{ width: 99.8%; height: 45px; background: #154D75; position: relative; margin-top: 5px;}
.nub{ width: 25%; float: left; display: inline; position: absolute; top: -8%; left: 4%;}
.nub-font{ width: 70%; float: right; display: inline; font: 14px/45px "微软雅黑"; color: #fff; text-align: right; margin-right: 2%;}
.nub-font label{ color: #f6ff00;}
.price-bd{ width: 100%;}
.price-box{ width: 33%; float: left; margin-right: 1px;}
.price-top{ width: 100%;}
.price-bot{ width: 100%; height: 28px; font: 12px/28px "微软雅黑"; background: #E62A17; text-align: center; color: #fff;}
.price-bot-hui { width: 100%;height: 28px;background: #777;font: 12px/28px "微软雅黑";text-align: center;color: #fff;}
.price-bot-hui a{ color: #fff;}
.price-bot a{ color: #fff;}

.rule-bd{ width: 100%; background: #9E3A03; overflow: hidden; padding-bottom: 8%;}
.rule-box{ width: 94.5%; margin: 8% auto 0; background: #893102; padding: 5px 0 15px;}
.rule-box p{ font: 14px/25px "微软雅黑"; margin-top: 5%; color: #ff904f; padding:0 10px;}

@media screen and (max-width: 320px){
    .activity-font p{ font: 12px/28px "微软雅黑";}
    .account-font p{font: 12px/50px "微软雅黑";}
    .price-title{ height: 35px;}
    .nub-font{ font: 12px/35px "微软雅黑"; }
    .rule-box p{ font: 12px/25px "微软雅黑";}
}



/*兑换信息*/
.dh{ width: 100%; margin: 0 auto; border-bottom: 1px solid #D7D7D7;}
.dh p{ font: 14px/65px "微软雅黑"; color: #3b3a3a; text-align: center;}
.dh p label{ color: #ff0000;}
.shade-top{ width: 100%; height: 33px; background: #E4B07D;}
.shade-top h1{ color: #3b3a3a; font: 14px/33px "微软雅黑"; float: left; display: inline; margin-left: 10px; font-weight: bold;}
.dh-box{ width: 100%; margin: 25px auto 0;}
.dh-bd{ width: 100%; margin-bottom: 10px;}
.dh-title{ width: 25%; float: left; display: inline;  font: 14px/32px "微软雅黑"; color: #3b3a3a; text-align: right;}
.dh-int{ width: 60%; height: 32px; float: left; display: inline; background: #D5D5D5; padding-left: 5px; outline: none; margin: 0 5px;}
.dh-bd label{ color: #FF0000; line-height: 32px;}
.dh-txt{ width: 60%; height: 70px; float: left; display: inline; background: #D5D5D5; padding-left: 5px; outline: none; margin: 0 5px;}
.dh-but{ width: 62%; height: 38px; background: #F07304; text-align: center; font: 14px/38px "微软雅黑"; color: #fff; outline: none; letter-spacing: 2px; cursor: pointer; margin: 10px 0 0 26%;}


