.battle-red{ color: #cc1616;}
.battle-yellow{ color: #f7ae09;}
.battle-banner{ width: 100%;}
.battle-box{ width: 1000px; margin: 0 auto; padding-bottom: 100px;}
.battle-kyzd{ width: 1000px; height: 462px; background: url(../images/kydb.jpg) no-repeat; position: relative;}
.battle-kyzd p{ width: 885px; font: 14px/30px "微软雅黑"; color: #b8b8b8; padding: 70px 0 0 130px;}
.battle-ljtb{ width: 128px; height: 50px; position: absolute; left: 450px; top: 340px;}
.battle-font-a{ width: 1000px; margin: 20px 0 80px;}
.battle-font-a p{ width: 1000px; font: 14px/30px "微软雅黑"; color: #b8b8b8; background: url(../images/battle-title1.png) 0px 8px no-repeat; position: relative; padding-left: 25px; margin-bottom: 10px;}
.battle-font-a p span{ margin-left: 10px; font-size: 12px; position: absolute; left: -7px; color: #000;}

.battle-jhgj{ width: 1000px; height: 160px; background: url(../images/jhgj.png) no-repeat; }
.battle-jhgj p{ width: 885px; font: 14px/30px "微软雅黑"; color: #b8b8b8; padding: 80px 0 0 85px;}

.battle-font-bd{ width: 1000px; background: #121212; margin-top: 20px; padding-bottom: 30px;}
.battle-font-bd-box{ width: 950px; margin: 0 auto; padding-top: 20px;}
.battle-font-bd-box p{width: 920px; font: 14px/30px "微软雅黑"; color: #b8b8b8; background: url(../images/battle-title2.png) 0px 4px no-repeat; position: relative; padding-left: 35px; margin-bottom: 20px;}
.battle-font-bd-box p span{ margin-left: 10px; position: absolute; left: -5px; color: #b8b8b8;}









