.novice-bg{ height: 1777px; background: url(../images/novice-red.png) center no-repeat;}
.novice-red{ width: 870px; height: 1770px; margin: 0 auto; position: relative;}
.no-receive{ width: 220px; height: 56px; position: absolute; left:333px; top: 385px; text-indent: -9999px;}
.no-receive a{width: 220px; height: 56px; display: block;}
.no-receive a:hover{ width: 220px; height: 56px; }
.no-activity{ width: 185px; height: 165px; position: absolute; right: 15px; top: 965px;}
.no-activity-img{ width:185px; height: 60px; border-radius: 10px; overflow: hidden; margin-bottom: 25px;}
.no-rule{ width: 810px; position: absolute; left: 30px; bottom: 20px;}
.no-rule p{ font: 14px/25px "微软雅黑"; color: #583e03; margin-bottom: 6px;}

.no-index{ width: 199px; height: 136px; position: fixed; right: 10px; bottom: 50px;}







