.abouttop{float:left;width:100%;height:346px;background: url(../images/aboutbanner.png) no-repeat 50% 50%;}
.aboutmenu{float:left;width:100%;background: #EDDFCE;}
.aboutmenulist{display: block;width:1000px;margin:0 auto;}
.aboutmenulist ul{float:left;width:100%;}
.aboutmenuword{float:left;width:143px;height:50px;line-height: 50px;text-align: center;color: #AB6D20;font-size:15px;cursor: pointer;}
.aboutmenuxuan{background: #AB6D20;color: #fff;}
.aboutmenujian{position: absolute;width:143px;height:7px;background: url(../images/aboutjian.png) no-repeat 50% 0;margin-top:50px; display: none;}
.aboutline{float:left;width:100%;}
.aboutcont{float:left;width:100%;margin-top:28px;padding-bottom: 50px;}
.aboutcen{margin:0 auto;width:1000px;display: block;}
.aboutcenul{float:left;width:1000px;}
.aboutline div{margin:0 auto;width:1000px;display: block;height:43px;background: url(../images/aboutbar1.png) no-repeat;margin-top:30px;}
.aboutcentitle{float:left;width:1000px;text-align: center;color: #AB6D20;font-size: 26px;}


.team{ width: 1000px; height: 1258px; background: url(../images/team_bg.jpg) no-repeat; margin-top: 80px; position: relative;}
.team-a,.team-b,.team-c,.team-d,.team-e,.team-f,.team-g,.team-h,.team-i,.team-j{ width: 145px; height: 145px;border: 2px solid #fff;  border-radius: 100%; overflow: hidden; position: absolute;}
.team-a:hover,.team-b:hover,.team-c:hover,.team-d:hover,.team-e:hover,.team-f:hover,.team-g:hover,.team-h:hover,.team-i:hover,.team-j:hover{width: 145px; height: 145px;}
.team .team-boder{border: 2px solid #6dc2f2;}
.team-a{ left: 415px;}
.team-b{ left: 155px; top:170px;}
.team-c{ left: 715px; top:170px;}
.team-d{ left: 155px; top:405px;}
.team-e{ left: 715px; top:405px;}
.team-f{ left: 155px; top:630px;}
.team-g{ left: 715px; top:630px;}
.team-h{ left: 155px; bottom:245px;}
.team-i{ left: 715px; bottom:245px;}
.team-j{ left: 415px; bottom:90px;}

.team-fot-bd{ width: 390px; position: absolute; left: 315px; }
.team-fot-bd h2{ width: 390px; font:18px/35px "微软雅黑"; font-weight: bold; color: #363636; text-align: center;}
.team-fot-bd h2 label{font:14px/35px "微软雅黑"; font-weight: bold; margin-left: 20px;}
.team-fot-bd p{ font: 12px/25px "微软雅黑"; font-weight: bold; text-indent: 24px; color: #555252;}
.team-fot-bd-a{ top: 160px; display: block;}
.team-fot-bd-b{ top: 180px; display: none;}
.team-fot-bd-c{ top: 210px; display: none;}
.team-fot-bd-d{ top: 430px; display: none;}
.team-fot-bd-e{ top: 430px; display: none;}
.team-fot-bd-f{ bottom: 510px; display: none;}
.team-fot-bd-g{ bottom: 510px; display: none;}
.team-fot-bd-h{ bottom: 280px; display: none;}
.team-fot-bd-i{ bottom: 270px; display: none;}
.team-fot-bd-j{ bottom: 250px; display: none;}
















