/*-------初始化start--------*/
body,iframe,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
body{ background:#FCF4E9;font-family:"微软雅黑";color:#333;}
img{border:none; display: inline-block;vertical-align: middle}
ul{list-style-type:none;padding: 0;margin:0;}
ul li{list-style-type:none;padding: 0;margin:0;}
input{padding:0;}
a{text-decoration: none; cursor:pointer; color:#666666;}
a:hover{text-decoration: none;}

/*-------初始化end--------*/





