.anniversary-ban{ width:100%; height: 612px; overflow:hidden; background: url(../images/anniversary-ban.jpg) 50% 0 no-repeat;}
.anniversary-ban-bd{ width:1000px; height: 115px; position: relative; top: 322px; margin: 0 auto;}
.anniversary-ban-font{ width: 167px; height: 79px; position: absolute; text-indent: -9999px; cursor: pointer;}
.anniversary-ban-a{ top:30px; display: block; background: url(../images/anniversary-ban-a.png) no-repeat;}
.anniversary-ban-a:hover{background: url(../images/anniversary-ban-a-hover.png) no-repeat;}
.anniversary-ban-b{ top:8px; left: 180px; background: url(../images/anniversary-ban-b.png) no-repeat;}
.anniversary-ban-b:hover{background: url(../images/anniversary-ban-b-hover.png) no-repeat;}
.anniversary-ban-c{ top:5px; right: 195px; background: url(../images/anniversary-ban-c.png) no-repeat;}
.anniversary-ban-c:hover{background: url(../images/anniversary-ban-c-hover.png) no-repeat;}
.anniversary-ban-d{ top:27px; right: 0; background: url(../images/anniversary-ban-d.png) no-repeat;}
.anniversary-ban-d:hover{background: url(../images/anniversary-ban-d-hover.png) no-repeat;}

.ann-turntable-bg{ width: 100%; height: 930px; background: #ff6f3d;}
.ann-turntable-bd{ width: 1000px; height: 854px; margin: 0 auto; background: url(../images/turntable-bg.jpg) no-repeat; position: relative;}
.ann-int-bd{ width: 115px; height: 27px; float: right;}
.ann-int-log{ width: 40px; height: 27px; background: #FFDD00; font: 14px/27px "微软雅黑"; text-align: center; font-weight: bold; color: #db5403; float: left; display: inline;}
.ann-int-reg{ width: 65px; height: 27px; background: #FFDD00; font: 14px/27px "微软雅黑"; text-align: center; font-weight: bold; color: #db5403; float: right; display: inline;}
.ann-int-bd-hide{ width: 500px; height: 27px; float: right;}
.ann-int-log-hide{ width: 430px; height: 27px; font: 18px/27px "微软雅黑"; text-align: center;  color: #fff; float: right; display: inline;}
.ann-int-reg-hide{ width: 65px; height: 27px; background: #FFDD00; font: 14px/27px "微软雅黑"; text-align: center; font-weight: bold; color: #db5403; float: right; display: inline;}
.ann-int-log-hide span{ font-size: 25px; color: #FFDD00; font-style:italic; font-weight: bold; margin: 0 5px;}



.ann-int-log a{ display: block; color: #db5403;}
.ann-int-log a:hover{ width: 40px ; height: 27px;}
.ann-int-reg a{ display: block; color: #db5403;}
.ann-int-reg a:hover{ width: 65px ; height: 27px;}

.ann-encourage-nav{ width: 380px; height: 425px; position: absolute; top: 155px; left: 28px;}
.ann-encourage-title{ height:40px; font: 14px/40px '微软雅黑'; font-weight: bold; color: #FF602F;}
.ann-encourage-nav li{ width: 380px; height: 38px; font: 13px/38px "微软雅黑"; color: #FF602F;}
.ann-encourage-name{ width: 115px; float: left; display: inline;  text-align: center; }
.ann-encourage-gift{ width: 155px; float: left; display: inline;  text-align: center; }
.ann-encourage-date{ width: 110px; float: left; display: inline;  text-align: center; }

.ann-turntable{ width: 442px; height: 442px; position: absolute; left: 502px; top: 102px;}
.ann-pointer{ width: 166px; height: 216px; position: absolute; left: 640px; top: 190px; cursor: pointer;}

.ann-rules{ width: 950px; position: absolute; top: 620px; left: 32px;}
.ann-rules p{ font: 12px/27px "微软雅黑"; color: #fdfeca;}

.ann-invest-bd{ width: 100%; height: 1235px; background: #FFFFE7;}
.ann-invest{ width: 1000px; height: 1235px; background: url(../images/invest.jpg) no-repeat; margin: 0 auto; position: relative;}

.ann-ljtz-nav{ width: 247px; height: 115px; position: absolute; left: 290px; top: 250px;}
.ann-ljtz-nav li{ width: 237px; height: 39px; font: 15px/40px "微软雅黑"; text-align: left; padding-left: 10px; color: #693505; font-weight: bold;}
.ann-ljtz-nav .ann-org{ color: #EA4426;}
.ann-fhje-nav{ width: 384px; height: 115px; position: absolute; left: 603px; top: 250px;}
.ann-fhje-nav li{ width: 250px; height: 39px; font: 15px/40px "微软雅黑"; text-align: letf; padding-left: 130px; color: #693505; font-weight: bold;}
.ann-fhje-nav .ann-org{ color: #EA4426;}
.back-rules{ width: 720px; position: absolute; top: 450px; left: 10px;}
.back-rules p{ color: #D3400D; font: 12px/27px "微软雅黑";}

.bzb-ljtz-nav{ width: 247px; height: 115px; position: absolute; left: 290px; top: 770px;}
.bzb-ljtz-nav li{ width: 237px; height: 39px; font: 13px/40px "微软雅黑"; text-align: left; padding-left: 4px; color: #693505; font-weight: bold;}
.bzb-ljtz-nav .ann-org{ color: #EA4426;}
.bzb-rules{ width: 720px; position: absolute; top:970px; left: 10px;}
.bzb-rules p{ color: #D3400D; font: 12px/25px "微软雅黑";}

.ann-message-bg{ width: 100%; height: 1500px; background: #FFFFE7;}
.ann-message-bd{ width: 1000px; margin: 0 auto;}
.ann-message-it{ width: 1000px;}
.ann-message-texa{ width: 1000px; height: 125px; border: 1px solid #F6F6DE; background: #fff; outline: none; margin-top: 20px;}
.ann-message-but-bd{ width: 1000px; height: 50px; margin-top: 5px;}
.ann-message-font{ font: 14px/40px "微软雅黑"; float: left; display: inline; color: #999;}
.ann-message-int{ width: 137px; height: 38px; background: #FF6F3D; border-radius: 6px; font: 14px/38px "微软雅黑"; text-align: center; color:#fff; float: right; display: inline; border-bottom: 3px solid #DE4611; outline: none; cursor: pointer;}

.ann-message-nav{ width: 1000px; margin-top: 20px;}
.ann-message-nav li{ width: 1000px; border: 1px solid #F6F6DE; background: #fff; margin-bottom: 15px; float: left;}
.ann-message-tx{ width: 88px; height: 88px; float: left; display: inline; margin: 15px 20px 15px 15px;}
.ann-message-fot{ width: 865px; float: left; display: inline; margin-top: 10px;}
.ann-message-sub-nav{ width: 700px; height: 32px;}
.ann-message-sub-nav li{ width:60px; height: 32px; font: 14px/32px "微软雅黑"; border: none; margin-bottom: 0; padding-left: 23px; float: left; display: inline;}
.ann-message-sub-nav li a{ color: #7f7f7f;}
.ann-message-sub-nav li .ann-org{ color: #EA4426;}
.ann-message-sub-nav li:nth-child(1){ background: url(../images/ann-name.png) left center no-repeat;}
.ann-message-sub-nav li:nth-child(2){ background: url(../images/ann-zf.png) left center no-repeat; padding-left: 27px;}
.ann-message-sub-nav li:nth-child(3){ background: url(../images/ann-fx.png) left center no-repeat;}
.ann-message-sub-nav li:nth-child(4){ background: url(../images/ann-date.png) left center no-repeat;}
.ann-message-sub-font{ width: 865px; margin-top: 5px;}
.ann-message-sub-font p{ font: 14px/27px "微软雅黑"; color: #403e39;}

.ann-message-page-nav{ width: 500px; height: 35px; float: right; display: inline; text-align: right;}
.ann-message-page-nav li{ width: 33px; height: 28px; border:1px solid #EDEDD9; float: right; display: inline; font: 12px/28px "微软雅黑"; text-align: center; color: #999; margin: 0 5px; border-radius: 3px; background: #fff;}
.ann-message-page-nav li a{ display: block;}
.ann-message-page-nav li a:hover{ width: 33px; height: 28px; }
.ann-message-page-prev{ width: 60px; height: 28px; border:1px solid #EDEDD9; float: right; display: inline; font: 12px/28px "微软雅黑"; border-radius: 3px; text-align: center; color: #999; background: #fff;}
.ann-message-page-next{ width: 60px; height: 28px; border:1px solid #EDEDD9; float: right; display: inline; font: 12px/28px "微软雅黑"; border-radius: 3px; text-align: center; color: #999; background: #fff;}
.ann-message-page-prev a,.ann-message-page-next a{ display: block;}
.ann-message-page-prev a:hover,.ann-message-page-next a:hover{ width: 60px; height: 28px;}

.ann-session{ width: 1000px; height:354px; position: relative; margin: 60px auto 0; background: url(../images/ann-session.jpg) no-repeat; float: left; display: inline;}
.ann-session-xl{ width: 445px; position: absolute; top: 90px;}
.ann-session-xl p{ font: 14px/28px "微软雅黑"; color: #f14e15;}
.ann-session-wx{ width: 445px; position: absolute; top: 90px; right: 20px}
.ann-session-wx p{ font: 14px/28px "微软雅黑"; color: #86c610;}
.ann-xl-int{ width: 185px; height:45px; position: absolute; text-indent: -9999px; top: 257px; left: 18px;}
.ann-xl-int a{ display: block; width: 185px; height:45px;}
.ann-xl-int a:hover{width: 185px; height:45px;}
.ann-wx-int{ width: 180px; height:45px; position: absolute; text-indent: -9999px; top: 257px; left: 567px;}
.ann-wx-int a{ display: block; width: 180px; height:45px;}
.ann-wx-int a:hover{width: 180px; height:45px;}

.ann-left{ width: 134px; height: 494px; position: fixed; left: 65px; top: 200px; background: url(../images/ann-left.png) no-repeat;}
.ann-left-nav{ width: 112px; height: 357px; margin: 125px 0 0 10px;}
.ann-left-nav li{ width: 112px; height: 56px; text-indent: -9999px;}
.ann-left-nav li a{ display: block; width: 112px; height: 56px;}
.ann-left-nav li a:hover{ width: 112px; height: 56px;}

/*模态窗口1*/
#fade{ width:100%; height:100%; background:#000; opacity:0.8; position:fixed; left:0; top:0; z-index:10; display:none;}
.m-proud,.m-proud-too,.m-proud-pop,.m-proud-money{ width: 415px; height: 350px; margin:auto; background: #fff; border-radius: 5px; display:none; position:fixed;left: 0; top:0; right: 0; bottom: 0; z-index: 9999; }
.m-flow{ width: 256px; height: 95px; position: absolute; z-index: 8888; left: 18%; top: 20%;}
.m-prd{ width: 189px; height: 187px; position: absolute; z-index: 100; left: 27%; top: 10%;}
.m-xx{ width: 17px; height: 18px; position: absolute; right: 10px; top: 10px; cursor: pointer;}
.m-foter{ width: 415px; margin:220px auto 18px; float: left; display: inline;}
.m-foter p{ font: 15px/25px "微软雅黑"; color: #f6584f; font-weight: bold; text-align: center;}
.m-but{ width: 175px; height: 40px;font: 15px/40px "微软雅黑"; background: #f6584f; border-radius: 5px; margin-left:120px; color: #fff; outline: none; cursor: pointer; box-shadow: 0px 5px 1px #c63d36;}

/*模态窗口2*/
.m-flow-too{ width: 276px; height: 192px; position: absolute; z-index: 8888; left: 18%; top: 6%; background: url(../images/hb.png) no-repeat; }
.m-flow-too p{ font: 60px/192px "微软雅黑"; color: #fff; text-align: center;}

.m-prd-pop{ width: 89px; height: 128px; position: absolute; z-index: 100; left: 40%; top: 18%;}

.m-prd-money{ width: 102px; height: 104px; position: absolute; z-index: 100; left: 40%; top: 25%;}






