/*初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,img,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,span,textarea,p,blockquote,th,td,img {margin:0; padding:0; border:0;}
body{ color:#999999; font-family:"微软雅黑";}
a{ text-decoration:none; color:#585858;}
a:hover{ color:#585858; text-decoration:none;}
ul,li{ list-style:none;}
.left{ float:left;}.right{ float:right;}
.clear{ clear:both;}.red{ color:#F00;}
body .margin20{ margin-left: 20px;}
body .margin-top{ margin-top: 60px;}
body .position{ position: relative;}
body .height620{ height: 620px;}
body .height510{ height: 510px;}
body .visible{overflow: visible;}
.box{ width:1020px; margin:0 auto; overflow: hidden;}
body .orang{color: #ff8000;}

/*头部*/
.header{ width: 100%; height: 100px; background: #FFFBF7;}
.logo{ width: 319px; height: 56px; float: left; display: inline; margin-top: 20px;}
.nav{ width: 310px; height: 28px; float: right; display: inline; margin-top: 35px;}
.nav li{ width: 73px; height: 28px; float: left; display: inline; text-align: center; font: 14px/28px "微软雅黑"; color: #000;  margin-right: 20px; border: 1px solid #FFFBF7;}
.nav .h-nbg{ width: 73px; height: 28px; color: #ff8000; border: 1px solid #ff8000; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;}
.nav li a{ color: #000; display: block;}
.nav li a:hover{ width: 73px; height: 28px;}
.nav .h-nbg a{ color: #ff8000;}
.nav .nav-img{ width: 33px; height: 27px; float: left; display: inline; margin-right: 20px; position: relative;}
.ewm-show{ width: 230px; height: 230px; position: absolute; top: 27px; left: -90px; z-index: 8888; display: none;}
.nub-show{ width: 210px; height:100px; position: absolute; top: 32px; left: -80px; z-index: 8888; background: #fff; display: none;}
.nub-show p{ font: 12px/25px "微软雅黑"; color: #737373; padding-left: 20px; margin: 10px 0 5px;}
.nub-show h1{ font: 20px/25px "微软雅黑"; color: #ff8000; background: url(../images/phone.png) 25px center no-repeat; padding-left: 45px;}
.nub-show h2{ font: 14px/25px "微软雅黑"; color: #737373; background: url(../images/mail.png) 25px center no-repeat; padding-left: 45px; margin-top: 5px;}


/*尾部*/
.foot{ width: 100%; height: 180px; background: #E5E5E5;}
.foot-lt{ width: 350px; float: left; display: inline; margin-right: 20px;}
.foot-lt-nav{ width: 350px; height: 30px; margin: 10px 0 20px;}
.foot-lt-nav li{ width: 90px; height: 30px; font: 14px/30px "微软雅黑"; text-align: center; float: left; display: inline; text-decoration: underline;}
.foot-lt-logo{ width: 175px; height: 56px; }
.foot-lt p{ font: 14px/23px "微软雅黑"; color: #737373; margin-left: 65px;}
.foot-ct{ width: 280px; float: left; display: inline;}
.foot-gzh{ width: 100px; float: left; display: inline; margin: 25px 20px 0;  color: #737373;}
.foot-gzh-img{ width: 100px; height: 100px; text-align: center;}
.foot-gzh h1{ font: 14px/30px "微软雅黑"; text-align: center; font-weight: bold;}
.foot-gzh h2{ font: 12px/15px "微软雅黑"; text-align: center;}
.foot-rt{ width: 300px; float: right; display: inline; margin-top: 50px;}
.foot-rt p{ font: 14px/25px "微软雅黑"; text-align: right; margin-bottom: 10px; color: #737373;}
.foot-rt p:nth-child(2){ background: url(../images/phone.png) 175px  center no-repeat;}
.foot-rt p:nth-child(3){ background: url(../images/mail.png) 140px  center no-repeat;}
