/*banner*/
.banner{ width: 100%; height: 375px;}
.page-yellow{ width: 100%; height: 590px; background: #FFFCF5;}
.page-write{ width: 100%; height: 590px; background: #FFF;}
.page-red{ width: 100%; height: 590px; background: #FFF9F2;}
/*第一屏*/
.readme-title{ width:1020px; height: 140px;}
.readme-title h1{ font: 24px/30px "微软雅黑"; text-align: center; padding: 45px 0 10px; color: #73726F;}
.readme-title h2{ font: 14px/30px "微软雅黑"; text-align: center; color: #73726F;}
.readme-mobie{ width: 326px; height: 435px; margin: 15px auto 0; background: url(../images/mobie.png) no-repeat; overflow: hidden;}
.readme-mobie-ewm{ width: 230px; height: 230px; margin: 100px auto 15px;}
.readme-f-pic{ width: 104px; height: 24px; margin: 0 auto;}
.readme-mobie h1{ font: 16px/25px "微软雅黑"; color: #FF8000; text-align: center; font-weight: bold; margin-top: 10px;}
.readme-lt{ width: 295px; height: 67px; position: absolute; left: 10px;}
.readme-lt img,.readme-rt img{ float: right; display: inline; margin-left: 20px;}
.readme-lt h2,.readme-rt h2{ font: 16px/67px "微软雅黑"; color: #000; float: right; display: inline;}
.readme-a{ top: 210px;}  .readme-b{ top: 340px;}  .readme-c{ top: 460px;}
.readme-rt{ width: 295px; height: 67px; position: absolute; right: 10px;}
.readme-rt img{ float: left; display: inline; margin-right: 20px;}
.readme-rt h2{ font: 16px/67px "微软雅黑"; color: #000; float: left; display: inline;}

/*第二屏*/
.db-nav{ width: 1000px; margin: 80px auto 0;}
.db-nav li{ width: 240px; height: 320px; float: left; display: inline; margin: 0 45px;}
.db-img{ width: 150px; height: 165px; margin: 0 auto;}
.db-nav li h1{ font: 16px/25px "微软雅黑"; color: #737373; text-align: center; margin: 30px 0;}
.db-nav li p{ font: 14px/25px "微软雅黑"; color: #737373; text-align: center;}
.db-nav li span{ color: #ff8000;}

/*第三屏*/
.payoff-bd{ width: 1000px; margin: 30px auto 0;}
.payoff-img{ width: 403px; height: 314px; float: left; display: inline; margin: 0 55px;}
.payoff-table-bd{ width: 420px; float: left; display: inline; margin-top: 110px;}
.payoff-table-bd h1{ font: 14px/25px "微软雅黑"; color: #737373; text-align: center;}
.payoff-table{ width: 420px; height: 110px; margin: 15px auto 10px;}
.payoff-table td{ text-align: center; color: #737373; border: 1px solid #FFEBBC; font: 12px/35px "微软雅黑";}
.payoff-border{ border-collapse: collapse;}
.payoff-table td span{ color: #ff8000; font-weight: bold;}
.payoff-table-bd h2{ font: 12px/25px "微软雅黑"; color: #ff8000; text-align: center;}

/*第四屏*/
.reward-bd{ width: 1000px; margin: 0 auto;}
.reward-ctn{ width: 500px; float: left; display: inline;}
.reward-ctn-img{ width: 164px; height: 128px; margin: 0 auto;}
.reward-ctn h1{ font: 16px/30px "微软雅黑"; color: #737373; text-align: center; margin: 10px 0;}
.reward-ctn p{ width:340px; font: 12px/25px "微软雅黑"; color: #737373; text-align: left; margin: 0 auto;}
.reward-bottom{ width: 1000px; margin: 20px auto 0; border-top: 2px dashed #F4F4F4;}
.reward-bottom h2{ font: 24px/30px "微软雅黑"; color: #737373; text-align: center; margin: 20px 0 10px;}
.reward-bottom-img{ width: 872px; height: 120px; margin: 0 auto;}

/*第五屏*/
.investment-nav,.wind{ width: 1000px; margin: 40px auto 0;}
.investment-nav li{ width: 333px; height: 360px; float: left; display: inline;}
.invest-img{ width: 300px; height: 170px; background: #ff8000; margin: 0 auto; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; overflow: hidden;}
.investment-nav li h1{ font: 16px/25px "微软雅黑"; color: #737373; text-align: center; margin: 20px 0 10px;}
.investment-nav li p{width: 280px; font: 14px/25px "微软雅黑"; color: #737373; text-align: left; margin: 0 auto;}

/*第六屏*/
.safe-img{ width: 85px; height: 77px; margin: 0 auto; }

/*第七屏*/
.wind li p{width: 310px; font: 14px/30px "微软雅黑";}
.wind-img{ width: 120px; height: 120px; margin: 0 auto;}

/*第八屏*/
.finish{ width: 230px; margin: 75px auto 0;}
.finish-ewm{ width: 230px; height: 230px; margin: 0 auto;}
.finish-img{ width: 152px; height: 34px; margin: 15px auto;}
.finish h1{ font: 24px/35px "微软雅黑"; text-align: center; color: #ff8000;}





/*次导航*/
.conter { background-color:#f5f5f5; height:auto; width:100%; padding-bottom:80px;overflow:hidden;}
.ci_nav { background:url(../images/image/Line.gif) repeat-x; width:100%; margin-top:100px;}
.ci_nav_n { width:1000px; margin:0 auto; background:url(../images/image/park.gif) top left no-repeat; height:40px;}
.ci_nav_n ul {width:900px;background:url(../images/image/park.gif) top right no-repeat; padding:0 50px 0 50px;height:40px;}
.ci_nav_n ul li {  margin:0 35px 0 37px; height:40px;  float:left; overflow:hidden;}
.ci_nav_n ul li a {  font:14px/60px "微软雅黑"; height:40px; display:block;}
.ci_nav_n ul li a:hover {background:url(../images/image/After.gif) top repeat-x; color:#ff8000;}
.this a {background:url(../images/image/After.gif) top repeat-x; color:#ff8000;}

/*故事大白*/
.conter_mina { width:1000px; margin:60px auto 0; height:auto; padding-bottom:60px; background-color:#fff;}
.conter_mina h1 { text-align:center; font:28px/100px "微软雅黑";  color:#000; font-weight:normal;}
.conter_mina_nr { width:760px; margin:10px auto 0;}
.conter_mina_nr p { color:#333333; font: 14px/24px "微软雅黑"; text-indent: 24px; margin-bottom: 20px;}

/*事件大白*/
.conter_mina_nr ul { border-top:1px solid #dcdcdc;}
.conter_mina_nr ul li { height:130px; margin-top:24px;border-bottom:1px solid #dcdcdc; padding-bottom:24px;}
.conter_mina_nr ul li a { display:block;}
.conter_mina_nr ul li a h2 {  font:16px/50px "微软雅黑";}
.conter_mina_nr ul li a p { width:460px;  font:12px/25px "微软雅黑"; color:#8d8d8d;}
.shijian_img { width:200px; float:left;}
.shijian_txt { width:540px; float:left; margin-left:20px; background:url(../images/image/jiantou1.png) 490px 50px no-repeat;}

.conter_mina_nr ul li a:hover h2 { color:#ff7e00;}
.conter_mina_nr ul li a:hover p { color:#ffa524;}
.conter_mina_nr ul li a:hover.shijian_txt { background:url(../images/image/jiantou2.png) 490px 50px no-repeat;}

/*事件大白内容页*/
.fbsj {font:12px/25px "微软雅黑"; text-align: center; margin:0 auto;}
.conter_mina_text { width:760px; margin:15px auto 0; font-size:12px; color:#666; border-top:1px solid #CCC; padding-top:30px;}
.conter_mina_text p { font:12px/25px "微软雅黑"; text-indent: 24px; margin-top: 20px;}

/*安全大白*/
.conter_mina_nran { width:760px; margin:10px auto 0;}
.huaiz {overflow:hidden;}
.huaiz h1 { text-align:left;  font:32px/48px "微软雅黑"; color:#ff8000; margin-top:30px;}
.huaiz {width:760px; margin-top:50px; overflow:hidden;}
.huaiz_left { width:380px; float:left; margin-top:48px;}
.huaiz_left p { font:14px/24px "微软雅黑"; margin-top:30px; color:#636363;}
.huaiz_right { width:370px; float:right;}

.huaizlv { margin-top:120px; height:395px; overflow:hidden;}
.huaizlv_left { float:left;}
.huaizlv_right { float:right; width:320px;}
.huaizlv_right h1{ text-align:left;  font:32px/48px "微软雅黑"; color:#ff8000; margin-top:30px;}
.jinml {  font:18px/24px "微软雅黑"; color:#c1bfbf; margin-top:10px;}
.licaid { margin-top:80px;  font:14px/24px "微软雅黑";color:#636363;}

.rongzi { margin-top:80px;overflow:hidden;}
.rongzi_right { float:right; margin-left:10px;}
.rongzi_left { width:380px; float:left;}
.rongzi_left h1 { text-align:left;  font:32px/48px "微软雅黑"; color:#ff8000; margin-top:80px;}
.rongzi_left ul { background:url(../images/image/123.gif) 0 11px no-repeat; height:160px; margin-top:40px;}
.rongzi_left ul li { margin-left:28px; font:14px/40px "微软雅黑"; color:#636363;}

.baoz { margin-top:80px; overflow:hidden;}
.baoz_left { float:left; width:380px;}
.baoz_right { float:right;}
.baoz_right h1 { text-align:left; font:32px/48px "微软雅黑"; color:#ff8000; margin-top:70px;}
.baoz_right ul { background:url(../images/image/123.gif) 0 11px no-repeat; height:160px; margin-top:40px;}
.baoz_right ul li { margin-left:28px;  font:14px/40px "微软雅黑"; color:#636363;}

.fengx { overflow:hidden; margin-top:80px;}
.fengx_left { float:left; width:380px;}
.fengx_left h1 { text-align:left;  font:32px/48px "微软雅黑"; color:#ff8000; margin-top:70px;}
.fengx_left p { margin-top:40px;  font:14px/24px "微软雅黑"; color:#828282;}
.fengx_left img { margin-top:40px;}
.fengx_right { float:right; width:360px;}

/*安全大白*/
.tqsy { margin-top:40px; overflow:hidden;}
.tqsy_left { float:left; width:380px;}
.tqsy_right { width:340px; float:right;}
.tqsy_right h1 { font-size:32px; text-align:left;color:#ff8000; line-height:50px; margin-top:10px;}
.tqsy_right h2 { font-size:26px; color:#979797; font-weight:normal;}
.tqsy_right p {  margin-top:30px; font: 14px/22px "微软雅黑";}
.tqsy_right p font { color:#ff8000;}

.tqtyj { margin-top:80px; overflow:hidden;}
.tqtyj_left { float:left; width:340px;}
.tqtyj_left h1 { font-size:32px; text-align:left;color:#ff8000; line-height:50px; margin-top:30px;}
.tqtyj_left h2 { font-size:26px; color:#979797; font-weight:normal;}
.tqtyj_left p { font: 14px/24px "微软雅黑"; margin-top:30px;}

.tqtyj_right { float:right; width:310px;}


/*疑问大白*/
.question-nav{ width: 1000px; height:50px; border-bottom: 1px solid #FF8000;}
.question-nav li{ width: 140px; height: 50px; font: 16px/30px "微软雅黑"; text-align: center; color: #000; margin-top: 5px; float: left; display: inline; cursor: pointer; margin-left: 30px;}
.question-nav li:nth-child(1){ margin-left: 80px;}
.question-nav .park{ background: url(../images/image/pak.png) center 40px no-repeat; color: #ff8000;}

.db-person-nav{ width: 760px; margin: 0 auto; display: none;}
.db-person-nav li{ width: 760px; margin-top: 30px;}
.db-person-nav .db-sand-nav{ width: 760px; background: #fff;}
.db-person-nav .db-sand-nav li{ width: 760px;  border-top:0; margin-top: 0;border-bottom: 1px solid #C8C8C8;}
.sand-title{ width: 100%; font: 14px/50px "微软雅黑"; color: #000; float: left;}
.sand-font{ width: 100%; border-top: 1px solid #C8C8C8; display: none; padding: 10px 0;}
.sand-font p{ width: 95%; font: 12px/25px "微软雅黑"; color: #6e6e6e; margin: 15px auto;}


/*分享大白*/
.share-bd{ width:760px; margin:10px auto 0; border-top: 1px solid #DCDCDC; border-bottom: 1px dashed #DCDCDC; padding-bottom: 60px;}
.share-bd h1{ font: 24px/50px "微软雅黑"; color: #ff8000; text-align: center; margin: 45px 0;}
.share-pic{ width: 760px; height: 290px;}
.share-bd h2{ font: 18px/50px "微软雅黑"; color: #003333; text-align: center; margin: 15px 0;}
.share-bd p{ font: 15px/25px "微软雅黑"; color: #565656; text-indent: 30px;}

.share-box{ width: 760px; margin: 0 auto;}
.share-box h1{ font: 24px/30px "微软雅黑"; color: #ff8000; text-align: center; margin-top: 65px; letter-spacing: 3px;}
.share-box h2{ font: 18px/50px "微软雅黑"; color: #4e4e4e; text-align: center; letter-spacing: 2px;}
.share-nav{ width: 760px;}
.share-nav li{ width: 760px; margin: 40px auto 0}
.share-title{ width: 300px; height: 40px;}
.share-suit{ width: 760px; margin: 30px 0;}
.share-pho{ width: 190px; height: 120px ; float: left; display: inline;margin-top: -10px;}
.share-font{ width: 510px; float: right; display: inline;}
.share-font p{ font: 14px/28px "微软雅黑"; color: #565656; text-align: left;}
.share-immediately{ width: 760px; height: 100px; border: 1px dashed #C1C1C1; margin:45px auto 35px;}
.share-immediately-lt{ width: 500px; margin: 10px 0 0 15px; float: left; display: inline;}
.share-immediately-lt p{ font: 14px/26px "微软雅黑"; color: #323232;}
.share-immediately-int{ width: 135px; height: 45px; background: #ff8000; margin: 27px 35px 0 0; text-align: center; font: 20px/45px "微软雅黑"; color: #fff; border-radius: 8px; float: right; display: inline; outline: none; cursor: pointer;}