.fourth-banner{ width: 100%; height: 910px; background: url(../images/fourth-banner.jpg) center no-repeat;}
.fourth-banner-box{ width: 1000px; height: 910px; margin: 0 auto; position: relative;}
.fourth-ljzd{ width: 152px; height: 38px; position: absolute; right: -20px; top: 320px;}
.iconfont-jiantou{ width: 149px; height: 44px; position: absolute; left: 420px; bottom: 0;}

.fourth-bd{ width: 1000px; margin: 0 auto; padding-bottom: 300px;}
.fourth-yjj-a{ width: 1184px; height: 574px; background: url(../images/yjj-a.png) no-repeat; margin:150px 0 0 -70px; overflow: hidden;}
.fourth-yjj-box{ width: 930px; height: 280px; padding: 120px 0 0 89px; position: relative;}
.fourth-yjj-bd{ width: 210px; height: 270px; margin-left:30px; float: left; display: inline; position: relative; z-index: 9999;}
.fourth-yjj-margin{ margin-left: 0;}
.hammer{ width: 80px; height: 133px; background: url(../images/cz.png) no-repeat; display: none; position: absolute; z-index: 150;left: 100px; top: 20px;}
.fourth-yjj-box li{ width: 156px; height: 210px; margin:30px 0 0 85px; float: left; display: inline; position: relative; z-index: 9; cursor: pointer;}
.fourth-yjj-box .fourth-yjj-margin-to{ margin-left: 28px;}
.fourth-yjj-bd h1{ font: 26px/30px "微软雅黑"; color: #4c3928; text-align: center; margin: 60px 0 20px;}
.fourth-yjj-bd .f-pic{ width: 150px; height: 125px; margin: 0 auto;}
.fourth-yjj-bd .f-cd{ width:99px; height: 133px; margin: 0 auto;}
.fourth-yjj-bd .qd{ width: 149px; height: 44px; background: url(../images/qd.png) no-repeat; margin: 100px auto 20px; font: 24px/44px "微软雅黑"; color: #fff; text-align: center; cursor: pointer;}
.fourth-yjj-bd p{ width: 210px; font: 16px/30px "微软雅黑"; color: #493825; text-align: center;}
.fourth-yjj-bd span{ color: #ff5a37;}

.fourth-yjj-font{ width: 850px; margin: 80px 135px 0;}
.fourth-yjj-font h1{ font: 24px/30px "微软雅黑"; color: #493825; text-align: center; padding-top: 15px;}
.fourth-yjj-font p{ font: 14px/40px "微软雅黑"; color: #493825; text-align: center;}
.fourth-yjj-font span{ font: 14px/40px "微软雅黑"; color: #d73329; text-align: left; margin-right: 25px;}


.fourth-yjj-b{ width: 1184px; height: 612px; background: url(../images/yjj-b.png) no-repeat; margin:150px 0 0 -70px; overflow: hidden;}

.fourth-yjj-c{ width: 1184px; height: 676px; background: url(../images/yjj-c.png) no-repeat; margin:150px 0 0 -70px; overflow: hidden;}

.fourth-lottery{ width: 920px; height: 80px; background: #FEF9EC; margin: 20px 30px 0; overflow: hidden;}
.fourth-lottery h1{ font: 24px/30px "微软雅黑"; color: #d73329; text-align: center; padding-top: 5px;}
.fourth-lottery p{ font: 14px/40px "微软雅黑"; color: #d73329; text-align: center;}
.fourth-lottery p span{ margin: 0 10px;}

.fourth-inf{ width: 1000px; margin: 45px auto 0;}
.fourth-inf-pic{ width: 400px; height: 28px;}
.fourth-inf-zf{ width: 995px; height: 220px; background: #501716; margin: 20px 0 10px;}
.fourth-inf-photo{ width: 474px; height: 188px; float: left; display: inline; margin: 15px 0 0 16px;}

.fourth-inf-bg{ width: 1042px;height: 318px; background: url(../images/font-bg.jpg) no-repeat; margin-left: -32px;}
.fourth-inf-bg p{ width: 965px; font: 14px/25px "微软雅黑"; color: #a48f8f; position: relative; padding: 20px 0 0 45px;}
.fourth-inf-bg p label{ position: absolute;}
.fourth-inf-bg p span{ margin-left: 20px; display: block;}



/*---模态窗口---*/
#fade{ width:100%; height:100%; background:#000; opacity:0.8; position:fixed; left:0; top:0; z-index:9000; display:none;}
.m-proud-a,.m-proud-b,.m-proud-c,.m-proud-d,.m-proud-e,.m-proud-f,.m-proud-g{ width: 415px; height: 355px; margin:auto; background: #fff; border-radius: 5px; display:none; position:fixed;left: 0; top:0; right: 0; bottom: 0; z-index: 9999; }
.m-flow{ width: 394px; height: 95px; position: absolute; z-index: 8888; left: 2%; top: 25%;}
.m-prd{ width: 321px; height: 199px; position: absolute; z-index: 100; left: 11%; top: 12%;}
.m-xx{ width: 17px; height: 18px; position: absolute; right: 10px; top: 10px; cursor: pointer;}
.m-foter{ width: 415px; margin: 250px auto 18px; float: left; display: inline;}
.m-foter p{ font: 14px/25px "微软雅黑"; color: #f6584f; font-weight: bold; text-align: center;}
.m-but{ width: 175px; height: 35px;font: 15px/35px "微软雅黑"; background: #f6584f; border-radius: 5px; margin-left:120px; color: #fff; outline: none; cursor: pointer; box-shadow: 0px 5px 1px #c63d36; border: 0;}

.m-prd-sj{ width: 170px; height: 223px; position: absolute; z-index: 100; left:30%; top: 5%;}

.m-prd-tie{ width: 321px; height: 199px; position: absolute; z-index: 100; left: 11%; top: 7%;}

.m-prd-nub{width: 330px; height: 40px; position: absolute; z-index: 100; left: 11%; top: 35%; font: 26px/30px "微软雅黑"; color: #f6584f; text-align: center;}

.m-prd-gold{ width: 177px; height: 159px; position: absolute; z-index: 100; left: 27%; top:15%;}


@media screen and (max-width: 1000px) {
    .fourth-ljzd{ width: 152px; height: 38px; position: absolute; right: 0px; top: 320px;}
    .fourth-bd{ width: 1000px; margin: 0 auto; padding-bottom: 50px; overflow: hidden;}
}

















